openapi: 3.2.0
info:
  contact:
    email: support@equinixmetal.com
    name: Equinix Metal API Team
  description: '# Introduction

    Equinix Metal provides a RESTful HTTP API which can be reached at .'
  license:
    name: Equinix Metal
    url: https://metal.equinix.com/legal/
  termsOfService: https://metal.equinix.com/legal/
  title: Metal Ports API
  version: 1.0.0
servers:
- url: https://api.equinix.com/metal/v1
security:
- x_auth_token: []
tags:
- description: Port ManagementCheck out the product docs to learn more about Port configurations.
  externalDocs:
    url: https://metal.equinix.com/developers/docs/layer2-networking/overview/
  name: Ports
paths:
  /ports/{id}:
    get:
      description: Returns a port
      operationId: findPortById
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Retrieve a port
      tags:
      - Ports
  /ports/{id}/assign:
    post:
      description: Assign a hardware port to a virtual network.
      operationId: assignPort
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        $ref: '#/components/requestBodies/PortAssignInput'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Assign a port to virtual network
      tags:
      - Ports
  /ports/{id}/bond:
    post:
      description: Enabling bonding for one or all ports
      operationId: bondPort
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: enable both ports
        in: query
        name: bulk_enable
        schema:
          type: boolean
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Enabling bonding
      tags:
      - Ports
  /ports/{id}/convert/layer-2:
    post:
      description: Converts a bond port to Layer 2. IP assignments of the port will be removed.
      operationId: convertLayer2
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        $ref: '#/components/requestBodies/PortAssignInput'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Convert to Layer 2
      tags:
      - Ports
  /ports/{id}/convert/layer-3:
    post:
      description: Converts a bond port to Layer 3. VLANs must first be unassigned.
      operationId: convertLayer3
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortConvertLayer3Input'
        description: IPs to request
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Convert to Layer 3
      tags:
      - Ports
  /ports/{id}/disbond:
    post:
      description: Disabling bonding for one or all ports
      operationId: disbondPort
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: disable both ports
        in: query
        name: bulk_disable
        schema:
          type: boolean
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Disabling bonding
      tags:
      - Ports
  /ports/{id}/native-vlan:
    delete:
      description: Removes the native VLAN from this port
      operationId: deleteNativeVlan
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Remove native VLAN
      tags:
      - Ports
    post:
      description: Sets a virtual network on this port as a "native VLAN". The VLAN must have already been assigned using the using the "Assign a port to a virtual network" operation.
      operationId: assignNativeVlan
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Virtual Network ID. May be the UUID of the Virtual Network record, or the VLAN value itself (ex: ''1001'').'
        in: query
        name: vnid
        required: true
        schema:
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Assign a native VLAN
      tags:
      - Ports
  /ports/{id}/unassign:
    post:
      description: Unassign a port for a hardware.
      operationId: unassignPort
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        $ref: '#/components/requestBodies/PortAssignInput'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Unassign a port
      tags:
      - Ports
  /ports/{id}/vlan-assignments:
    get:
      description: Show the port's current VLAN assignments, including if this VLAN is set as native, and the current state of the assignment (ex. 'assigned' or 'unassigning')
      operationId: findPortVlanAssignments
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Nested attributes to include. Included objects will return their full attributes. Attribute names can be dotted (up to 3 levels) to included deeply nested objects.
        in: query
        name: include
        schema:
          default:
          - port
          - virtual_network
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortVlanAssignmentList'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: List Current VLAN assignments for a port
      tags:
      - Ports
  /ports/{id}/vlan-assignments/{assignment_id}:
    get:
      description: Show the details of a specific Port-VLAN assignment, including the current state and if the VLAN is set as native.
      operationId: findPortVlanAssignmentByPortIdAndAssignmentId
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Assignment ID
        in: path
        name: assignment_id
        required: true
        schema:
          format: uuid
          type: string
      - description: Nested attributes to include. Included objects will return their full attributes. Attribute names can be dotted (up to 3 levels) to included deeply nested objects.
        in: query
        name: include
        schema:
          default:
          - port
          - virtual_network
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortVlanAssignment'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Show a particular Port VLAN assignment's details
      tags:
      - Ports
  /ports/{id}/vlan-assignments/batches:
    get:
      description: Show all the VLAN assignment batches that have been created for managing this port's VLAN assignments
      operationId: findPortVlanAssignmentBatches
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortVlanAssignmentBatchList'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: List the VLAN Assignment Batches for a port
      tags:
      - Ports
    post:
      description: Create a new asynchronous batch request which handles adding and/or removing the VLANs to which the port is assigned.
      operationId: createPortVlanAssignmentBatch
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortVlanAssignmentBatchCreateInput'
        description: VLAN Assignment batch details
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortVlanAssignmentBatch'
          description: created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Create a new Port-VLAN Assignment management batch
      tags:
      - Ports
  /ports/{id}/vlan-assignments/batches/{batch_id}:
    get:
      description: Returns the details of an existing Port-VLAN Assignment batch, including the list of VLANs to assign or unassign, and the current state of the batch.
      operationId: findPortVlanAssignmentBatchByPortIdAndBatchId
      parameters:
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Batch ID
        in: path
        name: batch_id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortVlanAssignmentBatch'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Retrieve a VLAN Assignment Batch's details
      tags:
      - Ports
components:
  requestBodies:
    PortAssignInput:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortAssignInput'
      description: 'Virtual Network ID. May be the UUID of the Virtual Network record, or the VLAN value itself (ex: ''1001'').'
      required: true
  schemas:
    Error:
      description: Error responses are included with 4xx and 5xx HTTP responses from the API service. Either "error" or "errors" will be set.
      properties:
        error:
          description: A description of the error that caused the request to fail.
          type: string
        errors:
          description: A list of errors that contributed to the request failing.
          items:
            description: An error message that contributed to the request failing.
            type: string
          type: array
      type: object
    Href:
      example:
        href: href
      properties:
        href:
          type: string
      required:
      - href
      type: object
    PortData:
      example:
        bonded: true
        mac: mac
      properties:
        mac:
          description: MAC address is set for NetworkPort ports
          type: string
        bonded:
          description: Bonded is true for NetworkPort ports in a bond and NetworkBondPort ports that are active
          type: boolean
      type: object
    PortVlanAssignmentBatch_state:
      enum:
      - queued
      - in_progress
      - completed
      - failed
      type: string
    PortVlanAssignmentBatch:
      example:
        quantity: 0
        updated_at: 2000-01-23 04:56:07+00:00
        port:
          native_virtual_network:
            vxlan: 4
            instances:
            - href: href
            - href: href
            description: description
            created_at: 2000-01-23 04:56:07+00:00
            assigned_to_virtual_circuit: true
            tags:
            - tags
            - tags
            metal_gateways:
            - gateway_address: 10.1.2.1/27
              updated_at: 2000-01-23 04:56:07+00:00
              vlan: 1001
              created_at: 2000-01-23 04:56:07+00:00
              href: href
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              state: null
            - gateway_address: 10.1.2.1/27
              updated_at: 2000-01-23 04:56:07+00:00
              vlan: 1001
              created_at: 2000-01-23 04:56:07+00:00
              href: href
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              state: null
            metro_code: metro_code
            metro:
              href: href
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            facility:
              href: href
            assigned_to:
              href: href
          disbond_operation_supported: true
          data:
            bonded: true
            mac: mac
          name: bond0
          virtual_networks:
          - href: href
          - href: href
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          type: null
          network_type: null
          bond:
            name: name
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        created_at: 2000-01-23 04:56:07+00:00
        project:
          href: href
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        state: null
        error_messages:
        - error_messages
        - error_messages
        vlan_assignments:
        - vlan: 6
          native: true
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
        - vlan: 6
          native: true
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
      properties:
        created_at:
          format: date-time
          type: string
        error_messages:
          items:
            type: string
          type: array
        id:
          format: uuid
          type: string
        port:
          $ref: '#/components/schemas/Port'
        quantity:
          type: integer
        state:
          $ref: '#/components/schemas/PortVlanAssignmentBatch_state'
        updated_at:
          format: date-time
          type: string
        vlan_assignments:
          items:
            $ref: '#/components/schemas/PortVlanAssignmentBatch_vlan_assignments_inner'
          type: array
        project:
          $ref: '#/components/schemas/Href'
      type: object
    PortVlanAssignmentBatch_vlan_assignments_inner:
      example:
        vlan: 6
        native: true
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        state: null
      properties:
        id:
          format: uuid
          type: string
        native:
          type: boolean
        state:
          $ref: '#/components/schemas/PortVlanAssignmentBatch_vlan_assignments_inner_state'
        vlan:
          type: integer
      type: object
    PortVlanAssignmentList:
      example:
        vlan_assignments:
        - virtual_network:
            href: href
          updated_at: 2000-01-23 04:56:07+00:00
          vlan: 0
          native: true
          port:
            href: href
          created_at: 2000-01-23 04:56:07+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
        - virtual_network:
            href: href
          updated_at: 2000-01-23 04:56:07+00:00
          vlan: 0
          native: true
          port:
            href: href
          created_at: 2000-01-23 04:56:07+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
      properties:
        vlan_assignments:
          items:
            $ref: '#/components/schemas/PortVlanAssignment'
          type: array
      type: object
    Port_network_type:
      description: Composite network type of the bond
      enum:
      - layer2-bonded
      - layer2-individual
      - layer3
      - hybrid
      - hybrid-bonded
      type: string
    BondPortData:
      example:
        name: name
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        id:
          description: ID of the bonding port
          format: uuid
          type: string
        name:
          description: Name of the port interface for the bond ("bond0")
          type: string
      type: object
    PortVlanAssignmentBatch_vlan_assignments_inner_state:
      enum:
      - assigned
      - unassigned
      type: string
    VirtualNetwork:
      example:
        vxlan: 4
        instances:
        - href: href
        - href: href
        description: description
        created_at: 2000-01-23 04:56:07+00:00
        assigned_to_virtual_circuit: true
        tags:
        - tags
        - tags
        metal_gateways:
        - gateway_address: 10.1.2.1/27
          updated_at: 2000-01-23 04:56:07+00:00
          vlan: 1001
          created_at: 2000-01-23 04:56:07+00:00
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
        - gateway_address: 10.1.2.1/27
          updated_at: 2000-01-23 04:56:07+00:00
          vlan: 1001
          created_at: 2000-01-23 04:56:07+00:00
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
        metro_code: metro_code
        metro:
          href: href
        href: href
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        facility:
          href: href
        assigned_to:
          href: href
      properties:
        assigned_to:
          $ref: '#/components/schemas/Href'
        assigned_to_virtual_circuit:
          description: True if the virtual network is attached to a virtual circuit. False if not.
          type: boolean
        description:
          type: string
        facility:
          $ref: '#/components/schemas/Href'
        href:
          type: string
        created_at:
          format: date-time
          type: string
        id:
          format: uuid
          type: string
        instances:
          description: A list of instances with ports currently associated to this Virtual Network.
          items:
            $ref: '#/components/schemas/Href'
          type: array
        metal_gateways:
          description: A list of metal gateways currently associated to this Virtual Network.
          items:
            $ref: '#/components/schemas/MetalGatewayLite'
          type: array
        metro:
          $ref: '#/components/schemas/Href'
        metro_code:
          description: The Metro code of the metro in which this Virtual Network is defined.
          type: string
        vxlan:
          type: integer
        tags:
          items:
            type: string
          type: array
      type: object
    PortAssignInput:
      example:
        vnid: '1001'
      properties:
        vnid:
          description: 'Virtual Network ID. May be the UUID of the Virtual Network record, or the VLAN value itself.

            '
          example: '1001'
          type: string
      type: object
    PortVlanAssignment_state:
      enum:
      - assigned
      - unassigning
      type: string
    Port_type:
      description: Type is either "NetworkBondPort" for bond ports or "NetworkPort" for bondable ethernet ports
      enum:
      - NetworkPort
      - NetworkBondPort
      type: string
    PortVlanAssignmentBatchCreateInput:
      example:
        vlan_assignments:
        - vlan: vlan
          native: true
          state: null
        - vlan: vlan
          native: true
          state: null
      properties:
        vlan_assignments:
          items:
            $ref: '#/components/schemas/PortVlanAssignmentBatchCreateInput_vlan_assignments_inner'
          type: array
      type: object
    PortConvertLayer3Input_request_ips_inner:
      example:
        address_family: 0
        public: true
      properties:
        address_family:
          type: integer
        public:
          type: boolean
      type: object
    MetalGatewayLite:
      example:
        gateway_address: 10.1.2.1/27
        updated_at: 2000-01-23 04:56:07+00:00
        vlan: 1001
        created_at: 2000-01-23 04:56:07+00:00
        href: href
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        state: null
      properties:
        created_at:
          format: date-time
          type: string
        gateway_address:
          description: The gateway address with subnet CIDR value for this Metal Gateway. For example, a Metal Gateway using an IP reservation with block 10.1.2.0/27 would have a gateway address of 10.1.2.1/27.
          example: 10.1.2.1/27
          type: string
        href:
          type: string
        id:
          format: uuid
          type: string
        state:
          $ref: '#/components/schemas/MetalGateway_state'
        updated_at:
          format: date-time
          type: string
        vlan:
          description: The VLAN id of the Virtual Network record associated to this Metal Gateway.
          example: 1001
          type: integer
      type: object
    MetalGateway_state:
      description: The current state of the Metal Gateway. 'Ready' indicates the gateway record has been configured, but is currently not active on the network. 'Active' indicates the gateway has been configured on the network. 'Deleting' is a temporary state used to indicate that the gateway is in the process of being un-configured from the network, after which the gateway record will be deleted.
      enum:
      - ready
      - active
      - deleting
      type: string
    PortVlanAssignment:
      example:
        virtual_network:
          href: href
        updated_at: 2000-01-23 04:56:07+00:00
        vlan: 0
        native: true
        port:
          href: href
        created_at: 2000-01-23 04:56:07+00:00
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        state: null
      properties:
        created_at:
          format: date-time
          type: string
        id:
          format: uuid
          type: string
        native:
          type: boolean
        port:
          $ref: '#/components/schemas/Href'
        state:
          $ref: '#/components/schemas/PortVlanAssignment_state'
        updated_at:
          format: date-time
          type: string
        virtual_network:
          $ref: '#/components/schemas/Href'
        vlan:
          type: integer
      type: object
    PortVlanAssignmentBatchList:
      example:
        batches:
        - quantity: 0
          updated_at: 2000-01-23 04:56:07+00:00
          port:
            native_virtual_network:
              vxlan: 4
              instances:
              - href: href
              - href: href
              description: description
              created_at: 2000-01-23 04:56:07+00:00
              assigned_to_virtual_circuit: true
              tags:
              - tags
              - tags
              metal_gateways:
              - gateway_address: 10.1.2.1/27
                updated_at: 2000-01-23 04:56:07+00:00
                vlan: 1001
                created_at: 2000-01-23 04:56:07+00:00
                href: href
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                state: null
              - gateway_address: 10.1.2.1/27
                updated_at: 2000-01-23 04:56:07+00:00
                vlan: 1001
                created_at: 2000-01-23 04:56:07+00:00
                href: href
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                state: null
              metro_code: metro_code
              metro:
                href: href
              href: href
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              facility:
                href: href
              assigned_to:
                href: href
            disbond_operation_supported: true
            data:
              bonded: true
              mac: mac
            name: bond0
            virtual_networks:
            - href: href
            - href: href
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            type: null
            network_type: null
            bond:
              name: name
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          created_at: 2000-01-23 04:56:07+00:00
          project:
            href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
          error_messages:
          - error_messages
          - error_messages
          vlan_assignments:
          - vlan: 6
            native: true
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: null
          - vlan: 6
            native: true
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: null
        - quantity: 0
          updated_at: 2000-01-23 04:56:07+00:00
          port:
            native_virtual_network:
              vxlan: 4
              instances:
              - href: href
              - href: href
              description: description
              created_at: 2000-01-23 04:56:07+00:00
              assigned_to_virtual_circuit: true
              tags:
              - tags
              - tags
              metal_gateways:
              - gateway_address: 10.1.2.1/27
                updated_at: 2000-01-23 04:56:07+00:00
                vlan: 1001
                created_at: 2000-01-23 04:56:07+00:00
                href: href
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                state: null
              - gateway_address: 10.1.2.1/27
                updated_at: 2000-01-23 04:56:07+00:00
                vlan: 1001
                created_at: 2000-01-23 04:56:07+00:00
                href: href
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                state: null
              metro_code: metro_code
              metro:
                href: href
              href: href
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              facility:
                href: href
              assigned_to:
                href: href
            disbond_operation_supported: true
            data:
              bonded: true
              mac: mac
            name: bond0
            virtual_networks:
            - href: href
            - href: href
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            type: null
            network_type: null
            bond:
              name: name
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          created_at: 2000-01-23 04:56:07+00:00
          project:
            href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
          error_messages:
          - error_messages
          - error_messages
          vlan_assignments:
          - vlan: 6
            native: true
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: null
          - vlan: 6
            native: true
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: null
      properties:
        batches:
          items:
            $ref: '#/components/schemas/PortVlanAssignmentBatch'
          type: array
      type: object
    PortVlanAssignmentBatchCreateInput_vlan_assignments_inner:
      example:
        vlan: vlan
        native: true
        state: null
      properties:
        native:
          type: boolean
        state:
          $ref: '#/components/schemas/PortVlanAssignmentBatch_vlan_assignments_inner_state'
        vlan:
          type: string
      type: object
    PortConvertLayer3Input:
      example:
        request_ips:
        - address_family: 0
          public: true
        - address_family: 0
          public: true
      properties:
        request_ips:
          items:
            $ref: '#/components/schemas/PortConvertLayer3Input_request_ips_inner'
          type: array
      type: object
    Port:
      description: Port is a hardware port associated with a reserved or instantiated hardware device.
      example:
        native_virtual_network:
          vxlan: 4
          instances:
          - href: href
          - href: href
          description: description
          created_at: 2000-01-23 04:56:07+00:00
          assigned_to_virtual_circuit: true
          tags:
          - tags
          - tags
          metal_gateways:
          - gateway_address: 10.1.2.1/27
            updated_at: 2000-01-23 04:56:07+00:00
            vlan: 1001
            created_at: 2000-01-23 04:56:07+00:00
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: null
          - gateway_address: 10.1.2.1/27
            updated_at: 2000-01-23 04:56:07+00:00
            vlan: 1001
            created_at: 2000-01-23 04:56:07+00:00
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: null
          metro_code: metro_code
          metro:
            href: href
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          facility:
            href: href
          assigned_to:
            href: href
        disbond_operation_supported: true
        data:
          bonded: true
          mac: mac
        name: bond0
        virtual_networks:
        - href: href
        - href: href
        href: href
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        type: null
        network_type: null
        bond:
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        bond:
          $ref: '#/components/schemas/BondPortData'
        data:
          $ref: '#/components/schemas/PortData'
        disbond_operation_supported:
          description: Indicates whether or not the bond can be broken on the port (when applicable).
          type: boolean
        href:
          type: string
        id:
          format: uuid
          type: string
        name:
          example: bond0
          type: string
        type:
          $ref: '#/components/schemas/Port_type'
        network_type:
          $ref: '#/components/schemas/Port_network_type'
        native_virtual_network:
          $ref: '#/components/schemas/VirtualNetwork'
        virtual_networks:
          items:
            $ref: '#/components/schemas/Href'
          type: array
      type: object
  securitySchemes:
    x_auth_token:
      description: 'HTTP header containing the User or Project API key that will be used to authenticate the request.

        '
      in: header
      name: X-Auth-Token
      type: apiKey
      x-displayName: X-Auth-Token
x-tagGroups:
- name: Accounts and Organization
  tags:
  - Authentication
  - Emails
  - Invitations
  - Memberships
  - Organizations
  - OTPs
  - PasswordResetTokens
  - PaymentMethods
  - Projects
  - SSHKeys
  - SupportRequest
  - TransferRequests
  - TwoFactorAuth
  - Users
  - UserVerificationTokens
- name: Services and Billing
  tags:
  - Events
  - Facilities
  - Incidents
  - Invoices
  - Licenses
  - Metros
  - Plans
  - Usages
- name: Servers
  tags:
  - Devices
  - Batches
  - Capacity
  - HardwareReservations
  - OperatingSystems
  - Ports
  - SelfServiceReservations
  - SpotMarket
  - Userdata
  - Volumes
- name: Networking
  tags:
  - BGP
  - Interconnections
  - IPAddresses
  - MetalGateways
  - VLANs
  - VRFs
