openapi: 3.0.0
info:
  contact:
    email: support@equinixmetal.com
    name: Equinix Metal API Team
  description: "# Introduction\nEquinix Metal provides a RESTful HTTP API which can be reached at <https://api.equinix.com/metal/v1>. This document describes the API and how to use it.\n\nThe API allows you to programmatically interact with all\nof your Equinix Metal resources, including devices, networks, addresses, organizations,\nprojects, and your user account. Every feature of the Equinix Metal web interface is accessible through the API.\n\nThe API docs are generated from the Equinix Metal OpenAPI specification and are officially hosted at <https://metal.equinix.com/developers/api>.\n\n# Common Parameters\n\nThe Equinix Metal API uses a few methods to minimize network traffic and improve throughput. These parameters are not used in all API calls, but are used often enough to warrant their own section. Look for these parameters in the documentation for the API calls that support them.\n\n## Pagination\n\nPagination is used to limit the number of results returned in a single request. The API will return a maximum of 100 results per page. To retrieve additional results, you can use the `page` and `per_page` query parameters.\n\nThe `page` parameter is used to specify the page number. The first page is `1`. The `per_page` parameter is used to specify the number of results per page. The maximum number of results differs by resource type.\n\n## Sorting\n\nWhere offered, the API allows you to sort results by a specific field. To sort results use the `sort_by` query parameter with the root level field name as the value. The `sort_direction` parameter is used to specify the sort direction, either either `asc` (ascending) or `desc` (descending).\n\n## Filtering\n\nFiltering is used to limit the results returned in a single request. The API supports filtering by certain fields in the response. To filter results, you can use the field as a query parameter.\n\nFor example, to filter the IP list to only return public IPv4 addresses, you can filter by the `type` field, as in the following request:\n\n```sh\ncurl -H 'X-Auth-Token: my_authentication_token' \\\n  https://api.equinix.com/metal/v1/projects/id/ips?type=public_ipv4\n```\n\nOnly IP addresses with the `type` field set to `public_ipv4` will be returned.\n\n## Searching\n\nSearching is used to find matching resources using multiple field comparissons. The API supports searching in resources that define this behavior. Currently the search parameter is only available on devices, ssh_keys, api_keys and memberships endpoints.\n\nTo search resources you can use the `search` query parameter.\n\n## Include and Exclude\n\nFor resources that contain references to other resources, sucha as a Device that refers to the Project it resides in, the Equinix Metal API will returns `href` values (API links) to the associated resource.\n\n```json\n{\n  ...\n  \"project\": {\n    \"href\": \"/metal/v1/projects/f3f131c8-f302-49ef-8c44-9405022dc6dd\"\n  }\n}\n```\n\nIf you're going need the project details, you can avoid a second API request.  Specify the contained `href` resources and collections that you'd like to have included in the response using the `include` query parameter.\n\nFor example:\n\n```sh\ncurl -H 'X-Auth-Token: my_authentication_token' \\\n  https://api.equinix.com/metal/v1/user?include=projects\n```\n\nThe `include` parameter is generally accepted in `GET`, `POST`, `PUT`, and `PATCH` requests where `href` resources are presented.\n\nTo have multiple resources include, use a comma-separated list (e.g. `?include=emails,projects,memberships`).\n\n```sh\ncurl -H 'X-Auth-Token: my_authentication_token' \\\n  https://api.equinix.com/metal/v1/user?include=emails,projects,memberships\n```\n\nYou may also include nested associations up to three levels deep using dot notation (`?include=memberships.projects`):\n\n```sh\ncurl -H 'X-Auth-Token: my_authentication_token' \\\n  https://api.equinix.com/metal/v1/user?include=memberships.projects\n```\n\nTo exclude resources, and optimize response delivery, use the `exclude` query parameter. The `exclude` parameter is generally accepted in `GET`, `POST`, `PUT`, and `PATCH` requests for fields with nested object responses. When excluded, these fields will be replaced with an object that contains only an `href` field.\n"
  license:
    name: Equinix Metal
    url: https://metal.equinix.com/legal/
  termsOfService: https://metal.equinix.com/legal/
  title: Metal Authentication Firmware Sets API
  version: 1.0.0
servers:
- url: https://api.equinix.com/metal/v1
security:
- x_auth_token: []
tags:
- description: 'Firmware Sets Management. Notice: Firmware Sets are a test feature currently under active development, and only available to certain users. Please contact Customer Success for more information.

    '
  name: Firmware Sets
paths:
  /organizations/{id}/firmware-sets:
    get:
      description: Returns all firmware sets associated with the organization.
      operationId: getOrganizationFirmwareSets
      parameters:
      - description: Organization UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: page number to return
        in: query
        name: page
        schema:
          type: integer
      - description: items returned per page.
        in: query
        name: per_page
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirmwareSetListResponse'
          description: Successful operation
        '401':
          description: Error responses are included with 4xx and 5xx HTTP responses from the API service. Either "error" or "errors" will be set.
        '404':
          description: Error responses are included with 4xx and 5xx HTTP responses from the API service. Either "error" or "errors" will be set.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get Organization's Firmware Sets
      tags:
      - Firmware Sets
  /projects/{id}/firmware-sets:
    get:
      description: Returns all firmware sets associated with the project or organization.
      operationId: getProjectFirmwareSets
      parameters:
      - description: Project UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: page number to return
        in: query
        name: page
        schema:
          type: integer
      - description: items returned per page.
        in: query
        name: per_page
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirmwareSetListResponse'
          description: Successful operation
        '401':
          description: Error responses are included with 4xx and 5xx HTTP responses from the API service. Either "error" or "errors" will be set.
        '404':
          description: Error responses are included with 4xx and 5xx HTTP responses from the API service. Either "error" or "errors" will be set.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get Project's Firmware Sets
      tags:
      - Firmware Sets
components:
  schemas:
    FirmwareSet:
      description: Represents a Firmware Set
      example:
        updated_at: 2000-01-23 04:56:07+00:00
        name: name
        created_at: 2000-01-23 04:56:07+00:00
        attributes:
        - updated_at: 2000-01-23 04:56:07+00:00
          data:
            vendor: vendor
            model: model
            plan: plan
            latest: true
          namespace: namespace
          created_at: 2000-01-23 04:56:07+00:00
        - updated_at: 2000-01-23 04:56:07+00:00
          data:
            vendor: vendor
            model: model
            plan: plan
            latest: true
          namespace: namespace
          created_at: 2000-01-23 04:56:07+00:00
        uuid: 0516463a-47ee-4809-9a66-ece8c740eed9
        component_firmware:
        - component: bmc
          filename: filename
          updated_at: 2000-01-23 04:56:07+00:00
          vendor: equinix
          upstream_url: upstream_url
          checksum: checksum
          created_at: 2000-01-23 04:56:07+00:00
          model:
          - romed8hm3
          - romed8hm3
          repository_url: repository_url
          uuid: 0516463a-47ee-4809-9a66-ece8c740eed9
          version: 1.5.0
        - component: bmc
          filename: filename
          updated_at: 2000-01-23 04:56:07+00:00
          vendor: equinix
          upstream_url: upstream_url
          checksum: checksum
          created_at: 2000-01-23 04:56:07+00:00
          model:
          - romed8hm3
          - romed8hm3
          repository_url: repository_url
          uuid: 0516463a-47ee-4809-9a66-ece8c740eed9
          version: 1.5.0
      properties:
        uuid:
          description: Firmware Set UUID
          example: 0516463a-47ee-4809-9a66-ece8c740eed9
          format: uuid
          readOnly: true
          type: string
        name:
          description: Firmware Set Name
          readOnly: true
          type: string
        created_at:
          description: Datetime when the block was created.
          format: date-time
          readOnly: true
          type: string
        updated_at:
          description: Datetime when the block was updated.
          format: date-time
          readOnly: true
          type: string
        attributes:
          description: Represents a list of attributes
          items:
            $ref: '#/components/schemas/Attribute'
          type: array
        component_firmware:
          description: List of components versions
          items:
            $ref: '#/components/schemas/Component'
          type: array
      required:
      - name
      - uuid
      type: object
    Attribute:
      example:
        updated_at: 2000-01-23 04:56:07+00:00
        data:
          vendor: vendor
          model: model
          plan: plan
          latest: true
        namespace: namespace
        created_at: 2000-01-23 04:56:07+00:00
      properties:
        namespace:
          description: Attribute namespace
          readOnly: true
          type: string
        created_at:
          description: Datetime when the block was created.
          format: date-time
          readOnly: true
          type: string
        updated_at:
          description: Datetime when the block was updated.
          format: date-time
          readOnly: true
          type: string
        data:
          $ref: '#/components/schemas/AttributeData'
      type: object
    Component:
      example:
        component: bmc
        filename: filename
        updated_at: 2000-01-23 04:56:07+00:00
        vendor: equinix
        upstream_url: upstream_url
        checksum: checksum
        created_at: 2000-01-23 04:56:07+00:00
        model:
        - romed8hm3
        - romed8hm3
        repository_url: repository_url
        uuid: 0516463a-47ee-4809-9a66-ece8c740eed9
        version: 1.5.0
      properties:
        uuid:
          description: Component UUID
          example: 0516463a-47ee-4809-9a66-ece8c740eed9
          format: uuid
          readOnly: true
          type: string
        vendor:
          description: Component vendor
          example: equinix
          readOnly: true
          type: string
        model:
          description: List of models where this component version can be applied
          items:
            example: romed8hm3
            type: string
          readOnly: true
          type: array
        filename:
          description: name of the file
          readOnly: true
          type: string
        version:
          description: Version of the component
          example: 1.5.0
          readOnly: true
          type: string
        component:
          description: Component type
          example: bmc
          readOnly: true
          type: string
        checksum:
          description: File checksum
          readOnly: true
          type: string
        upstream_url:
          description: Location of the file
          readOnly: true
          type: string
        repository_url:
          description: Location of the file in the repository
          readOnly: true
          type: string
        created_at:
          description: Datetime when the block was created.
          format: date-time
          readOnly: true
          type: string
        updated_at:
          description: Datetime when the block was updated.
          format: date-time
          readOnly: true
          type: string
      type: object
    Error:
      description: Error responses are included with 4xx and 5xx HTTP responses from the API service. Either "error" or "errors" will be set.
      properties:
        error:
          description: A description of the error that caused the request to fail.
          type: string
        errors:
          description: A list of errors that contributed to the request failing.
          items:
            description: An error message that contributed to the request failing.
            type: string
          type: array
      type: object
    FirmwareSetListResponse:
      description: Represents collection of Firmware Sets
      example:
        total_record_count: 5
        records:
        - updated_at: 2000-01-23 04:56:07+00:00
          name: name
          created_at: 2000-01-23 04:56:07+00:00
          attributes:
          - updated_at: 2000-01-23 04:56:07+00:00
            data:
              vendor: vendor
              model: model
              plan: plan
              latest: true
            namespace: namespace
            created_at: 2000-01-23 04:56:07+00:00
          - updated_at: 2000-01-23 04:56:07+00:00
            data:
              vendor: vendor
              model: model
              plan: plan
              latest: true
            namespace: namespace
            created_at: 2000-01-23 04:56:07+00:00
          uuid: 0516463a-47ee-4809-9a66-ece8c740eed9
          component_firmware:
          - component: bmc
            filename: filename
            updated_at: 2000-01-23 04:56:07+00:00
            vendor: equinix
            upstream_url: upstream_url
            checksum: checksum
            created_at: 2000-01-23 04:56:07+00:00
            model:
            - romed8hm3
            - romed8hm3
            repository_url: repository_url
            uuid: 0516463a-47ee-4809-9a66-ece8c740eed9
            version: 1.5.0
          - component: bmc
            filename: filename
            updated_at: 2000-01-23 04:56:07+00:00
            vendor: equinix
            upstream_url: upstream_url
            checksum: checksum
            created_at: 2000-01-23 04:56:07+00:00
            model:
            - romed8hm3
            - romed8hm3
            repository_url: repository_url
            uuid: 0516463a-47ee-4809-9a66-ece8c740eed9
            version: 1.5.0
        - updated_at: 2000-01-23 04:56:07+00:00
          name: name
          created_at: 2000-01-23 04:56:07+00:00
          attributes:
          - updated_at: 2000-01-23 04:56:07+00:00
            data:
              vendor: vendor
              model: model
              plan: plan
              latest: true
            namespace: namespace
            created_at: 2000-01-23 04:56:07+00:00
          - updated_at: 2000-01-23 04:56:07+00:00
            data:
              vendor: vendor
              model: model
              plan: plan
              latest: true
            namespace: namespace
            created_at: 2000-01-23 04:56:07+00:00
          uuid: 0516463a-47ee-4809-9a66-ece8c740eed9
          component_firmware:
          - component: bmc
            filename: filename
            updated_at: 2000-01-23 04:56:07+00:00
            vendor: equinix
            upstream_url: upstream_url
            checksum: checksum
            created_at: 2000-01-23 04:56:07+00:00
            model:
            - romed8hm3
            - romed8hm3
            repository_url: repository_url
            uuid: 0516463a-47ee-4809-9a66-ece8c740eed9
            version: 1.5.0
          - component: bmc
            filename: filename
            updated_at: 2000-01-23 04:56:07+00:00
            vendor: equinix
            upstream_url: upstream_url
            checksum: checksum
            created_at: 2000-01-23 04:56:07+00:00
            model:
            - romed8hm3
            - romed8hm3
            repository_url: repository_url
            uuid: 0516463a-47ee-4809-9a66-ece8c740eed9
            version: 1.5.0
        page: 6
        total_pages: 5
        page_count: 1
        page_size: 0
      properties:
        page_size:
          description: Max number of items returned in a page
          type: integer
        page:
          description: Page returned
          type: integer
        page_count:
          description: Items returned in current page
          type: integer
        total_pages:
          description: Total count of pages
          type: integer
        total_record_count:
          description: Total count of items
          type: integer
        records:
          description: Represents a list of FirmwareSets
          items:
            $ref: '#/components/schemas/FirmwareSet'
          type: array
      type: object
    AttributeData:
      example:
        vendor: vendor
        model: model
        plan: plan
        latest: true
      properties:
        latest:
          description: Boolean flag to know if the firmware set is the latest for the model and vendor
          readOnly: true
          type: boolean
        model:
          description: Model on which this firmware set can be applied
          readOnly: true
          type: string
        vendor:
          description: Vendor on which this firmware set can be applied
          readOnly: true
          type: string
        plan:
          description: Plan where the firmware set can be applied
          readOnly: true
          type: string
      type: object
  securitySchemes:
    x_auth_token:
      description: 'HTTP header containing the User or Project API key that will be used to authenticate the request.

        '
      in: header
      name: X-Auth-Token
      type: apiKey
      x-displayName: X-Auth-Token
x-tagGroups:
- name: Accounts and Organization
  tags:
  - Authentication
  - Emails
  - Invitations
  - Memberships
  - Organizations
  - OTPs
  - PasswordResetTokens
  - PaymentMethods
  - Projects
  - SSHKeys
  - SupportRequest
  - TransferRequests
  - TwoFactorAuth
  - Users
  - UserVerificationTokens
- name: Services and Billing
  tags:
  - Events
  - Facilities
  - Incidents
  - Invoices
  - Licenses
  - Metros
  - Plans
  - Usages
- name: Servers
  tags:
  - Devices
  - Batches
  - Capacity
  - HardwareReservations
  - OperatingSystems
  - Ports
  - SelfServiceReservations
  - SpotMarket
  - Userdata
  - Volumes
- name: Networking
  tags:
  - BGP
  - Interconnections
  - IPAddresses
  - MetalGateways
  - VLANs
  - VRFs
