openapi: 3.0.0
info:
  contact:
    email: support@equinixmetal.com
    name: Equinix Metal API Team
  description: "# Introduction\nEquinix Metal provides a RESTful HTTP API which can be reached at <https://api.equinix.com/metal/v1>. This document describes the API and how to use it.\n\nThe API allows you to programmatically interact with all\nof your Equinix Metal resources, including devices, networks, addresses, organizations,\nprojects, and your user account. Every feature of the Equinix Metal web interface is accessible through the API.\n\nThe API docs are generated from the Equinix Metal OpenAPI specification and are officially hosted at <https://metal.equinix.com/developers/api>.\n\n# Common Parameters\n\nThe Equinix Metal API uses a few methods to minimize network traffic and improve throughput. These parameters are not used in all API calls, but are used often enough to warrant their own section. Look for these parameters in the documentation for the API calls that support them.\n\n## Pagination\n\nPagination is used to limit the number of results returned in a single request. The API will return a maximum of 100 results per page. To retrieve additional results, you can use the `page` and `per_page` query parameters.\n\nThe `page` parameter is used to specify the page number. The first page is `1`. The `per_page` parameter is used to specify the number of results per page. The maximum number of results differs by resource type.\n\n## Sorting\n\nWhere offered, the API allows you to sort results by a specific field. To sort results use the `sort_by` query parameter with the root level field name as the value. The `sort_direction` parameter is used to specify the sort direction, either either `asc` (ascending) or `desc` (descending).\n\n## Filtering\n\nFiltering is used to limit the results returned in a single request. The API supports filtering by certain fields in the response. To filter results, you can use the field as a query parameter.\n\nFor example, to filter the IP list to only return public IPv4 addresses, you can filter by the `type` field, as in the following request:\n\n```sh\ncurl -H 'X-Auth-Token: my_authentication_token' \\\n  https://api.equinix.com/metal/v1/projects/id/ips?type=public_ipv4\n```\n\nOnly IP addresses with the `type` field set to `public_ipv4` will be returned.\n\n## Searching\n\nSearching is used to find matching resources using multiple field comparissons. The API supports searching in resources that define this behavior. Currently the search parameter is only available on devices, ssh_keys, api_keys and memberships endpoints.\n\nTo search resources you can use the `search` query parameter.\n\n## Include and Exclude\n\nFor resources that contain references to other resources, sucha as a Device that refers to the Project it resides in, the Equinix Metal API will returns `href` values (API links) to the associated resource.\n\n```json\n{\n  ...\n  \"project\": {\n    \"href\": \"/metal/v1/projects/f3f131c8-f302-49ef-8c44-9405022dc6dd\"\n  }\n}\n```\n\nIf you're going need the project details, you can avoid a second API request.  Specify the contained `href` resources and collections that you'd like to have included in the response using the `include` query parameter.\n\nFor example:\n\n```sh\ncurl -H 'X-Auth-Token: my_authentication_token' \\\n  https://api.equinix.com/metal/v1/user?include=projects\n```\n\nThe `include` parameter is generally accepted in `GET`, `POST`, `PUT`, and `PATCH` requests where `href` resources are presented.\n\nTo have multiple resources include, use a comma-separated list (e.g. `?include=emails,projects,memberships`).\n\n```sh\ncurl -H 'X-Auth-Token: my_authentication_token' \\\n  https://api.equinix.com/metal/v1/user?include=emails,projects,memberships\n```\n\nYou may also include nested associations up to three levels deep using dot notation (`?include=memberships.projects`):\n\n```sh\ncurl -H 'X-Auth-Token: my_authentication_token' \\\n  https://api.equinix.com/metal/v1/user?include=memberships.projects\n```\n\nTo exclude resources, and optimize response delivery, use the `exclude` query parameter. The `exclude` parameter is generally accepted in `GET`, `POST`, `PUT`, and `PATCH` requests for fields with nested object responses. When excluded, these fields will be replaced with an object that contains only an `href` field.\n"
  license:
    name: Equinix Metal
    url: https://metal.equinix.com/legal/
  termsOfService: https://metal.equinix.com/legal/
  title: Metal Authentication MetalGateways API
  version: 1.0.0
servers:
- url: https://api.equinix.com/metal/v1
security:
- x_auth_token: []
tags:
- description: 'Metal Gateway Management.Check out the product docs to learn more about [Metal Gateways](https://metal.equinix.com/developers/docs/networking/metal-gateway/).

    '
  externalDocs:
    url: https://metal.equinix.com/developers/docs/networking/metal-gateway/
  name: MetalGateways
paths:
  /metal-gateways/{id}:
    delete:
      description: Deletes a metal gateway and any elastic IP assignments associated with this metal gateway.
      operationId: deleteMetalGateway
      parameters:
      - description: Metal Gateway UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Nested attributes to exclude. Excluded objects will return only the href

          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply

          nested objects.'
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findMetalGatewayById_200_response'
          description: accepted
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Deletes the metal gateway
      tags:
      - MetalGateways
    get:
      description: Returns a specific metal gateway
      operationId: findMetalGatewayById
      parameters:
      - description: Metal Gateway UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Nested attributes to exclude. Excluded objects will return only the href

          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply

          nested objects.'
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findMetalGatewayById_200_response'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Returns the metal gateway
      tags:
      - MetalGateways
  /metal-gateways/{id}/ips:
    get:
      description: Returns the list of Elastic IPs assigned to this Metal Gateway
      operationId: getMetalGatewayElasticIps
      parameters:
      - description: Metal Gateway UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Nested attributes to exclude. Excluded objects will return only the href

          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply

          nested objects.'
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPAssignmentList'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: List Metal Gateway Elastic IPs
      tags:
      - MetalGateways
    post:
      description: 'Create a new Elastic IP on this Metal Gateway.


        Assign an IPv4 range as an elastic IP to the Metal Gateway, with a specified next-hop address contained within the Metal Gateway.


        Notice: Elastic IPs on Metal Gateways are a test feature currently under active development, and only available to certain users. Please contact Customer Success for more information.

        '
      operationId: createMetalGatewayElasticIp
      parameters:
      - description: Metal Gateway UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Nested attributes to exclude. Excluded objects will return only the href

          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply

          nested objects.'
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetalGatewayElasticIpCreateInput'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPAssignment'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable entity
      summary: Create a Metal Gateway Elastic IP
      tags:
      - MetalGateways
  /projects/{project_id}/metal-gateways:
    get:
      description: Return all metal gateways for a project
      operationId: findMetalGatewaysByProject
      parameters:
      - description: Project UUID
        in: path
        name: project_id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Nested attributes to exclude. Excluded objects will return only the href

          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply

          nested objects.'
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          maximum: 100000
          minimum: 1
          type: integer
      - description: Items returned per page
        in: query
        name: per_page
        schema:
          default: 10
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetalGatewayList'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Returns all metal gateways for a project
      tags:
      - MetalGateways
      x-equinix-metal-paginated-property: MetalGateways
    post:
      description: Create a metal gateway in a project
      operationId: createMetalGateway
      parameters:
      - description: Project UUID
        in: path
        name: project_id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Nested attributes to exclude. Excluded objects will return only the href

          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply

          nested objects.'
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          maximum: 100000
          minimum: 1
          type: integer
      - description: Items returned per page
        in: query
        name: per_page
        schema:
          default: 10
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createMetalGateway_request'
        description: Metal Gateway to create
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findMetalGatewayById_200_response'
          description: created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Create a metal gateway
      tags:
      - MetalGateways
components:
  schemas:
    MetalGatewayCreateInput:
      properties:
        ip_reservation_id:
          description: The UUID of an IP reservation that belongs to the same project as where the metal gateway will be created in. This field is required unless the private IPv4 subnet size is specified.
          format: uuid
          type: string
        private_ipv4_subnet_size:
          description: "The subnet size (8, 16, 32, 64, or 128) of the private IPv4 reservation that will be created for the metal gateway. This field is required unless a project IP reservation was specified.\n          Please keep in mind that the number of private metal gateway ranges are limited per project. If you would like to increase the limit per project, please contact support for assistance."
          type: integer
        virtual_network_id:
          description: The UUID of a metro virtual network that belongs to the same project as where the metal gateway will be created in.
          format: uuid
          type: string
      required:
      - virtual_network_id
      type: object
    IPReservation_metro:
      allOf:
      - $ref: '#/components/schemas/Metro'
      - description: The metro the IP reservation is in. As long as the IP reservation has a metro, it can be used on a metro level. Can be null if requesting an IP reservation in a facility that is not in a metro.
        type: object
    createMetalGateway_request:
      oneOf:
      - $ref: '#/components/schemas/MetalGatewayCreateInput'
      - $ref: '#/components/schemas/VrfMetalGatewayCreateInput'
    Project:
      example:
        devices:
        - href: href
        - href: href
        volumes:
        - href: href
        - href: href
        created_at: 2000-01-23 04:56:07+00:00
        type: null
        memberships:
        - href: href
        - href: href
        bgp_config:
          href: href
        tags:
        - tags
        - tags
        max_devices: '{}'
        ssh_keys:
        - href: href
        - href: href
        updated_at: 2000-01-23 04:56:07+00:00
        invitations:
        - href: href
        - href: href
        members:
        - href: href
        - href: href
        organization:
          website: website
          address:
            country: country
            address: address
            address2: address2
            city: city
            coordinates:
              latitude: latitude
              longitude: longitude
            state: state
            zip_code: zip_code
          projects:
          - href: href
          - href: href
          credit_amount: 1.4658129
          created_at: 2000-01-23 04:56:07+00:00
          description: description
          billing_address:
            country: country
            address: address
            address2: address2
            city: city
            coordinates:
              latitude: latitude
              longitude: longitude
            state: state
            zip_code: zip_code
          memberships:
          - href: href
          - href: href
          enforce_2fa_at: 2000-01-23 04:56:07+00:00
          twitter: twitter
          updated_at: 2000-01-23 04:56:07+00:00
          terms: 5
          members:
          - href: href
          - href: href
          name: name
          logo: logo
          customdata: '{}'
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        name: name
        network_status: '{}'
        customdata: '{}'
        href: href
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        payment_method:
          href: href
      properties:
        bgp_config:
          $ref: '#/components/schemas/Href'
        created_at:
          format: date-time
          type: string
        customdata:
          type: object
        devices:
          items:
            $ref: '#/components/schemas/Href'
          type: array
        href:
          type: string
        id:
          format: uuid
          type: string
        invitations:
          items:
            $ref: '#/components/schemas/Href'
          type: array
        max_devices:
          type: object
        members:
          items:
            $ref: '#/components/schemas/Href'
          type: array
        memberships:
          items:
            $ref: '#/components/schemas/Href'
          type: array
        name:
          description: The name of the project. Cannot contain characters encoded in greater than 3 bytes such as emojis.
          maxLength: 80
          minLength: 1
          type: string
        network_status:
          type: object
        organization:
          $ref: '#/components/schemas/Organization'
        payment_method:
          $ref: '#/components/schemas/Href'
        ssh_keys:
          items:
            $ref: '#/components/schemas/Href'
          type: array
        updated_at:
          format: date-time
          type: string
        volumes:
          items:
            $ref: '#/components/schemas/Href'
          type: array
        type:
          $ref: '#/components/schemas/Project_type'
        tags:
          items:
            type: string
          type: array
      type: object
    MetalGatewayList_metal_gateways_inner:
      anyOf:
      - $ref: '#/components/schemas/MetalGateway'
      - $ref: '#/components/schemas/VrfMetalGateway'
    IPAssignment:
      example:
        address: address
        parent_block:
          netmask: netmask
          cidr: 2
          href: href
          network: network
        created_at: 2000-01-23 04:56:07+00:00
        type: null
        enabled: true
        manageable: true
        network: network
        address_family: 5
        public: true
        management: true
        netmask: netmask
        metro: null
        next_hop: next_hop
        cidr: 5
        href: href
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        state: null
        global_ip: true
        gateway: gateway
        assigned_to:
          href: href
      properties:
        address:
          type: string
        address_family:
          type: integer
        assigned_to:
          $ref: '#/components/schemas/Href'
        cidr:
          type: integer
        created_at:
          format: date-time
          type: string
        enabled:
          type: boolean
        gateway:
          type: string
        global_ip:
          type: boolean
        href:
          type: string
        id:
          format: uuid
          type: string
        manageable:
          type: boolean
        management:
          type: boolean
        metro:
          $ref: '#/components/schemas/IPAssignment_metro'
        netmask:
          type: string
        network:
          type: string
        parent_block:
          $ref: '#/components/schemas/ParentBlock'
        public:
          type: boolean
        state:
          $ref: '#/components/schemas/IPAssignment_state'
        next_hop:
          description: 'Only set when this is a Metal Gateway Elastic IP Assignment.


            The IP address within the Metal Gateway to which requests to the Elastic IP are forwarded.

            '
          format: ipv4
          type: string
        type:
          $ref: '#/components/schemas/IPAssignment_type'
      type: object
    VrfVirtualCircuit:
      example:
        subnet: 12.0.0.0/30
        customer_ip: 12.0.0.2
        description: description
        project:
          href: href
        created_at: 2000-01-23 04:56:07+00:00
        vrf: null
        type: null
        metal_ip: 12.0.0.1
        speed: 9
        tags:
        - tags
        - tags
        nni_vlan: 2
        updated_at: 2000-01-23 04:56:07+00:00
        port:
          href: href
        name: name
        peer_asn: 7
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        md5: md5
        status: null
      properties:
        customer_ip:
          description: An IP address from the subnet that will be used on the Customer side. This parameter is optional, but if supplied, we will use the other usable IP address in the subnet as the Metal IP. By default, the last usable IP address in the subnet will be used.
          example: 12.0.0.2
          type: string
        description:
          type: string
        id:
          format: uuid
          type: string
        md5:
          description: The MD5 password for the BGP peering in plaintext (not a checksum).
          type: string
        metal_ip:
          description: An IP address from the subnet that will be used on the Metal side. This parameter is optional, but if supplied, we will use the other usable IP address in the subnet as the Customer IP. By default, the first usable IP address in the subnet will be used.
          example: 12.0.0.1
          type: string
        name:
          type: string
        port:
          $ref: '#/components/schemas/Href'
        nni_vlan:
          type: integer
        peer_asn:
          description: The peer ASN that will be used with the VRF on the Virtual Circuit.
          type: integer
        project:
          $ref: '#/components/schemas/Href'
        speed:
          description: integer representing bps speed
          type: integer
        status:
          $ref: '#/components/schemas/VrfVirtualCircuit_status'
        subnet:
          description: The /30 or /31 subnet of one of the VRF IP Blocks that will be used with the VRF for the Virtual Circuit. This subnet does not have to be an existing VRF IP reservation, as we will create the VRF IP reservation on creation if it does not exist. The Metal IP and Customer IP must be IPs from this subnet. For /30 subnets, the network and broadcast IPs cannot be used as the Metal or Customer IP.
          example: 12.0.0.0/30
          type: string
        tags:
          items:
            type: string
          type: array
        type:
          $ref: '#/components/schemas/VrfIpReservation_type'
        vrf:
          $ref: '#/components/schemas/Vrf'
        created_at:
          format: date-time
          type: string
        updated_at:
          format: date-time
          type: string
      required:
      - vrf
      type: object
    findMetalGatewayById_200_response:
      oneOf:
      - $ref: '#/components/schemas/MetalGateway'
      - $ref: '#/components/schemas/VrfMetalGateway'
    Address:
      example:
        country: country
        address: address
        address2: address2
        city: city
        coordinates:
          latitude: latitude
          longitude: longitude
        state: state
        zip_code: zip_code
      properties:
        address:
          type: string
        address2:
          type: string
        city:
          type: string
        coordinates:
          $ref: '#/components/schemas/Coordinates'
        country:
          type: string
        state:
          type: string
        zip_code:
          type: string
      required:
      - address
      - country
      - zip_code
      type: object
    Error:
      description: Error responses are included with 4xx and 5xx HTTP responses from the API service. Either "error" or "errors" will be set.
      properties:
        error:
          description: A description of the error that caused the request to fail.
          type: string
        errors:
          description: A list of errors that contributed to the request failing.
          items:
            description: An error message that contributed to the request failing.
            type: string
          type: array
      type: object
    MetalGateway_state:
      description: The current state of the Metal Gateway. 'Ready' indicates the gateway record has been configured, but is currently not active on the network. 'Active' indicates the gateway has been configured on the network. 'Deleting' is a temporary state used to indicate that the gateway is in the process of being un-configured from the network, after which the gateway record will be deleted.
      enum:
      - ready
      - active
      - deleting
      type: string
    Meta:
      example:
        next:
          href: href
        total: 0
        last:
          href: href
        previous:
          href: href
        last_page: 1
        self:
          href: href
        first:
          href: href
        current_page: 6
      properties:
        first:
          $ref: '#/components/schemas/Href'
        last:
          $ref: '#/components/schemas/Href'
        next:
          $ref: '#/components/schemas/Href'
        previous:
          $ref: '#/components/schemas/Href'
        self:
          $ref: '#/components/schemas/Href'
        total:
          type: integer
        current_page:
          type: integer
        last_page:
          type: integer
      type: object
    VirtualNetwork:
      example:
        vxlan: 4
        instances:
        - href: href
        - href: href
        description: description
        created_at: 2000-01-23 04:56:07+00:00
        assigned_to_virtual_circuit: true
        tags:
        - tags
        - tags
        metal_gateways:
        - gateway_address: 10.1.2.1/27
          updated_at: 2000-01-23 04:56:07+00:00
          vlan: 1001
          created_at: 2000-01-23 04:56:07+00:00
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
        - gateway_address: 10.1.2.1/27
          updated_at: 2000-01-23 04:56:07+00:00
          vlan: 1001
          created_at: 2000-01-23 04:56:07+00:00
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
        metro_code: metro_code
        metro:
          href: href
        href: href
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        facility:
          href: href
        assigned_to:
          href: href
      properties:
        assigned_to:
          $ref: '#/components/schemas/Href'
        assigned_to_virtual_circuit:
          description: True if the virtual network is attached to a virtual circuit. False if not.
          type: boolean
        description:
          type: string
        facility:
          $ref: '#/components/schemas/Href'
        href:
          type: string
        created_at:
          format: date-time
          type: string
        id:
          format: uuid
          type: string
        instances:
          description: A list of instances with ports currently associated to this Virtual Network.
          items:
            $ref: '#/components/schemas/Href'
          type: array
        metal_gateways:
          description: A list of metal gateways currently associated to this Virtual Network.
          items:
            $ref: '#/components/schemas/MetalGatewayLite'
          type: array
        metro:
          $ref: '#/components/schemas/Href'
        metro_code:
          description: The Metro code of the metro in which this Virtual Network is defined.
          type: string
        vxlan:
          type: integer
        tags:
          items:
            type: string
          type: array
      type: object
    ParentBlock:
      example:
        netmask: netmask
        cidr: 2
        href: href
        network: network
      properties:
        cidr:
          type: integer
        href:
          type: string
        netmask:
          type: string
        network:
          type: string
      type: object
    VrfMetalGateway:
      example:
        virtual_network:
          vxlan: 4
          instances:
          - href: href
          - href: href
          description: description
          created_at: 2000-01-23 04:56:07+00:00
          assigned_to_virtual_circuit: true
          tags:
          - tags
          - tags
          metal_gateways:
          - gateway_address: 10.1.2.1/27
            updated_at: 2000-01-23 04:56:07+00:00
            vlan: 1001
            created_at: 2000-01-23 04:56:07+00:00
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: null
          - gateway_address: 10.1.2.1/27
            updated_at: 2000-01-23 04:56:07+00:00
            vlan: 1001
            created_at: 2000-01-23 04:56:07+00:00
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: null
          metro_code: metro_code
          metro:
            href: href
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          facility:
            href: href
          assigned_to:
            href: href
        updated_at: 2000-01-23 04:56:07+00:00
        ip_reservation:
          address: address
          created_at: 2000-01-23 04:56:07+00:00
          project:
            devices:
            - href: href
            - href: href
            volumes:
            - href: href
            - href: href
            created_at: 2000-01-23 04:56:07+00:00
            type: null
            memberships:
            - href: href
            - href: href
            bgp_config:
              href: href
            tags:
            - tags
            - tags
            max_devices: '{}'
            ssh_keys:
            - href: href
            - href: href
            updated_at: 2000-01-23 04:56:07+00:00
            invitations:
            - href: href
            - href: href
            members:
            - href: href
            - href: href
            organization:
              website: website
              address:
                country: country
                address: address
                address2: address2
                city: city
                coordinates:
                  latitude: latitude
                  longitude: longitude
                state: state
                zip_code: zip_code
              projects:
              - href: href
              - href: href
              credit_amount: 1.4658129
              created_at: 2000-01-23 04:56:07+00:00
              description: description
              billing_address:
                country: country
                address: address
                address2: address2
                city: city
                coordinates:
                  latitude: latitude
                  longitude: longitude
                state: state
                zip_code: zip_code
              memberships:
              - href: href
              - href: href
              enforce_2fa_at: 2000-01-23 04:56:07+00:00
              twitter: twitter
              updated_at: 2000-01-23 04:56:07+00:00
              terms: 5
              members:
              - href: href
              - href: href
              name: name
              logo: logo
              customdata: '{}'
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            name: name
            network_status: '{}'
            customdata: '{}'
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            payment_method:
              href: href
          bill: true
          project_lite:
            devices:
            - href: href
            - href: href
            volumes:
            - href: href
            - href: href
            created_at: 2000-01-23 04:56:07+00:00
            type: null
            memberships:
            - href: href
            - href: href
            bgp_config:
              href: href
            tags:
            - tags
            - tags
            max_devices: '{}'
            ssh_keys:
            - href: href
            - href: href
            updated_at: 2000-01-23 04:56:07+00:00
            invitations:
            - href: href
            - href: href
            members:
            - href: href
            - href: href
            organization:
              website: website
              address:
                country: country
                address: address
                address2: address2
                city: city
                coordinates:
                  latitude: latitude
                  longitude: longitude
                state: state
                zip_code: zip_code
              projects:
              - href: href
              - href: href
              credit_amount: 1.4658129
              created_at: 2000-01-23 04:56:07+00:00
              description: description
              billing_address:
                country: country
                address: address
                address2: address2
                city: city
                coordinates:
                  latitude: latitude
                  longitude: longitude
                state: state
                zip_code: zip_code
              memberships:
              - href: href
              - href: href
              enforce_2fa_at: 2000-01-23 04:56:07+00:00
              twitter: twitter
              updated_at: 2000-01-23 04:56:07+00:00
              terms: 5
              members:
              - href: href
              - href: href
              name: name
              logo: logo
              customdata: '{}'
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            name: name
            network_status: '{}'
            customdata: '{}'
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            payment_method:
              href: href
          vrf:
            bgp_dynamic_neighbors_export_route_map: true
            bgp_dynamic_neighbors_bfd_enabled: true
            local_asn: 5
            description: description
            bill: false
            bgp_dynamic_neighbors_enabled: true
            project:
              devices:
              - href: href
              - href: href
              volumes:
              - href: href
              - href: href
              created_at: 2000-01-23 04:56:07+00:00
              type: null
              memberships:
              - href: href
              - href: href
              bgp_config:
                href: href
              tags:
              - tags
              - tags
              max_devices: '{}'
              ssh_keys:
              - href: href
              - href: href
              updated_at: 2000-01-23 04:56:07+00:00
              invitations:
              - href: href
              - href: href
              members:
              - href: href
              - href: href
              organization:
                website: website
                address:
                  country: country
                  address: address
                  address2: address2
                  city: city
                  coordinates:
                    latitude: latitude
                    longitude: longitude
                  state: state
                  zip_code: zip_code
                projects:
                - href: href
                - href: href
                credit_amount: 1.4658129
                created_at: 2000-01-23 04:56:07+00:00
                description: description
                billing_address:
                  country: country
                  address: address
                  address2: address2
                  city: city
                  coordinates:
                    latitude: latitude
                    longitude: longitude
                  state: state
                  zip_code: zip_code
                memberships:
                - href: href
                - href: href
                enforce_2fa_at: 2000-01-23 04:56:07+00:00
                twitter: twitter
                updated_at: 2000-01-23 04:56:07+00:00
                terms: 5
                members:
                - href: href
                - href: href
                name: name
                logo: logo
                customdata: '{}'
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              name: name
              network_status: '{}'
              customdata: '{}'
              href: href
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              payment_method:
                href: href
            created_at: 2000-01-23 04:56:07+00:00
            created_by:
              avatar_thumb_url: avatar_thumb_url
              last_login_at: 2000-01-23 04:56:07+00:00
              max_projects: 2
              timezone: timezone
              default_project_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              created_at: 2000-01-23 04:56:07+00:00
              last_name: last_name
              short_id: short_id
              fraud_score: fraud_score
              emails:
              - href: href
              - href: href
              default_organization_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              full_name: full_name
              avatar_url: avatar_url
              updated_at: 2000-01-23 04:56:07+00:00
              phone_number: phone_number
              customdata: '{}'
              href: href
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              first_name: first_name
              max_organizations: 3
              two_factor_auth: two_factor_auth
              email: email
            tags:
            - tags
            - tags
            updated_at: 2000-01-23 04:56:07+00:00
            virtual_circuits:
            - subnet: 12.0.0.0/30
              customer_ip: 12.0.0.2
              description: description
              project:
                href: href
              created_at: 2000-01-23 04:56:07+00:00
              vrf: null
              type: null
              metal_ip: 12.0.0.1
              speed: 9
              tags:
              - tags
              - tags
              nni_vlan: 2
              updated_at: 2000-01-23 04:56:07+00:00
              port:
                href: href
              name: name
              peer_asn: 7
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              md5: md5
              status: null
            - subnet: 12.0.0.0/30
              customer_ip: 12.0.0.2
              description: description
              project:
                href: href
              created_at: 2000-01-23 04:56:07+00:00
              vrf: null
              type: null
              metal_ip: 12.0.0.1
              speed: 9
              tags:
              - tags
              - tags
              nni_vlan: 2
              updated_at: 2000-01-23 04:56:07+00:00
              port:
                href: href
              name: name
              peer_asn: 7
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              md5: md5
              status: null
            ip_ranges:
            - ip_ranges
            - ip_ranges
            metro:
              country: country
              code: code
              name: name
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            name: name
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            href: href
          type: null
          created_by:
            href: href
          network: network
          tags:
          - tags
          - tags
          manageable: true
          metal_gateway:
            gateway_address: 10.1.2.1/27
            updated_at: 2000-01-23 04:56:07+00:00
            vlan: 1001
            created_at: 2000-01-23 04:56:07+00:00
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: null
          address_family: 0
          public: true
          netmask: netmask
          management: true
          metro:
            country: country
            code: code
            name: name
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          cidr: 6
          details: details
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: state
          customdata: '{}'
          gateway: gateway
        created_at: 2000-01-23 04:56:07+00:00
        project:
          devices:
          - href: href
          - href: href
          volumes:
          - href: href
          - href: href
          created_at: 2000-01-23 04:56:07+00:00
          type: null
          memberships:
          - href: href
          - href: href
          bgp_config:
            href: href
          tags:
          - tags
          - tags
          max_devices: '{}'
          ssh_keys:
          - href: href
          - href: href
          updated_at: 2000-01-23 04:56:07+00:00
          invitations:
          - href: href
          - href: href
          members:
          - href: href
          - href: href
          organization:
            website: website
            address:
              country: country
              address: address
              address2: address2
              city: city
              coordinates:
                latitude: latitude
                longitude: longitude
              state: state
              zip_code: zip_code
            projects:
            - href: href
            - href: href
            credit_amount: 1.4658129
            created_at: 2000-01-23 04:56:07+00:00
            description: description
            billing_address:
              country: country
              address: address
              address2: address2
              city: city
              coordinates:
                latitude: latitude
                longitude: longitude
              state: state
              zip_code: zip_code
            memberships:
            - href: href
            - href: href
            enforce_2fa_at: 2000-01-23 04:56:07+00:00
            twitter: twitter
            updated_at: 2000-01-23 04:56:07+00:00
            terms: 5
            members:
            - href: href
            - href: href
            name: name
            logo: logo
            customdata: '{}'
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          name: name
          network_status: '{}'
          customdata: '{}'
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          payment_method:
            href: href
        href: href
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        state: null
        vrf:
          bgp_dynamic_neighbors_export_route_map: true
          bgp_dynamic_neighbors_bfd_enabled: true
          local_asn: 5
          description: description
          bill: false
          bgp_dynamic_neighbors_enabled: true
          project:
            devices:
            - href: href
            - href: href
            volumes:
            - href: href
            - href: href
            created_at: 2000-01-23 04:56:07+00:00
            type: null
            memberships:
            - href: href
            - href: href
            bgp_config:
              href: href
            tags:
            - tags
            - tags
            max_devices: '{}'
            ssh_keys:
            - href: href
            - href: href
            updated_at: 2000-01-23 04:56:07+00:00
            invitations:
            - href: href
            - href: href
            members:
            - href: href
            - href: href
            organization:
              website: website
              address:
                country: country
                address: address
                address2: address2
                city: city
                coordinates:
                  latitude: latitude
                  longitude: longitude
                state: state
                zip_code: zip_code
              projects:
              - href: href
              - href: href
              credit_amount: 1.4658129
              created_at: 2000-01-23 04:56:07+00:00
              description: description
              billing_address:
                country: country
                address: address
                address2: address2
                city: city
                coordinates:
                  latitude: latitude
                  longitude: longitude
                state: state
                zip_code: zip_code
              memberships:
              - href: href
              - href: href
              enforce_2fa_at: 2000-01-23 04:56:07+00:00
              twitter: twitter
              updated_at: 2000-01-23 04:56:07+00:00
              terms: 5
              members:
              - href: href
              - href: href
              name: name
              logo: logo
              customdata: '{}'
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            name: name
            network_status: '{}'
            customdata: '{}'
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            payment_method:
              href: href
          created_at: 2000-01-23 04:56:07+00:00
          created_by:
            avatar_thumb_url: avatar_thumb_url
            last_login_at: 2000-01-23 04:56:07+00:00
            max_projects: 2
            timezone: timezone
            default_project_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            created_at: 2000-01-23 04:56:07+00:00
            last_name: last_name
            short_id: short_id
            fraud_score: fraud_score
            emails:
            - href: href
            - href: href
            default_organization_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            full_name: full_name
            avatar_url: avatar_url
            updated_at: 2000-01-23 04:56:07+00:00
            phone_number: phone_number
            customdata: '{}'
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            first_name: first_name
            max_organizations: 3
            two_factor_auth: two_factor_auth
            email: email
          tags:
          - tags
          - tags
          updated_at: 2000-01-23 04:56:07+00:00
          virtual_circuits:
          - subnet: 12.0.0.0/30
            customer_ip: 12.0.0.2
            description: description
            project:
              href: href
            created_at: 2000-01-23 04:56:07+00:00
            vrf: null
            type: null
            metal_ip: 12.0.0.1
            speed: 9
            tags:
            - tags
            - tags
            nni_vlan: 2
            updated_at: 2000-01-23 04:56:07+00:00
            port:
              href: href
            name: name
            peer_asn: 7
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            md5: md5
            status: null
          - subnet: 12.0.0.0/30
            customer_ip: 12.0.0.2
            description: description
            project:
              href: href
            created_at: 2000-01-23 04:56:07+00:00
            vrf: null
            type: null
            metal_ip: 12.0.0.1
            speed: 9
            tags:
            - tags
            - tags
            nni_vlan: 2
            updated_at: 2000-01-23 04:56:07+00:00
            port:
              href: href
            name: name
            peer_asn: 7
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            md5: md5
            status: null
          ip_ranges:
          - ip_ranges
          - ip_ranges
          metro:
            country: country
            code: code
            name: name
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          href: href
        created_by:
          href: href
      properties:
        created_at:
          format: date-time
          type: string
        created_by:
          $ref: '#/components/schemas/Href'
        href:
          type: string
        id:
          format: uuid
          type: string
        ip_reservation:
          $ref: '#/components/schemas/VrfIpReservation'
        project:
          $ref: '#/components/schemas/Project'
        state:
          $ref: '#/components/schemas/MetalGateway_state'
        updated_at:
          format: date-time
          type: string
        virtual_network:
          $ref: '#/components/schemas/VirtualNetwork'
        vrf:
          $ref: '#/components/schemas/Vrf'
      type: object
    IPReservation_type:
      enum:
      - global_ipv4
      - public_ipv4
      - private_ipv4
      - public_ipv6
      type: string
    VrfIpReservation:
      example:
        address: address
        created_at: 2000-01-23 04:56:07+00:00
        project:
          devices:
          - href: href
          - href: href
          volumes:
          - href: href
          - href: href
          created_at: 2000-01-23 04:56:07+00:00
          type: null
          memberships:
          - href: href
          - href: href
          bgp_config:
            href: href
          tags:
          - tags
          - tags
          max_devices: '{}'
          ssh_keys:
          - href: href
          - href: href
          updated_at: 2000-01-23 04:56:07+00:00
          invitations:
          - href: href
          - href: href
          members:
          - href: href
          - href: href
          organization:
            website: website
            address:
              country: country
              address: address
              address2: address2
              city: city
              coordinates:
                latitude: latitude
                longitude: longitude
              state: state
              zip_code: zip_code
            projects:
            - href: href
            - href: href
            credit_amount: 1.4658129
            created_at: 2000-01-23 04:56:07+00:00
            description: description
            billing_address:
              country: country
              address: address
              address2: address2
              city: city
              coordinates:
                latitude: latitude
                longitude: longitude
              state: state
              zip_code: zip_code
            memberships:
            - href: href
            - href: href
            enforce_2fa_at: 2000-01-23 04:56:07+00:00
            twitter: twitter
            updated_at: 2000-01-23 04:56:07+00:00
            terms: 5
            members:
            - href: href
            - href: href
            name: name
            logo: logo
            customdata: '{}'
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          name: name
          network_status: '{}'
          customdata: '{}'
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          payment_method:
            href: href
        bill: true
        project_lite:
          devices:
          - href: href
          - href: href
          volumes:
          - href: href
          - href: href
          created_at: 2000-01-23 04:56:07+00:00
          type: null
          memberships:
          - href: href
          - href: href
          bgp_config:
            href: href
          tags:
          - tags
          - tags
          max_devices: '{}'
          ssh_keys:
          - href: href
          - href: href
          updated_at: 2000-01-23 04:56:07+00:00
          invitations:
          - href: href
          - href: href
          members:
          - href: href
          - href: href
          organization:
            website: website
            address:
              country: country
              address: address
              address2: address2
              city: city
              coordinates:
                latitude: latitude
                longitude: longitude
              state: state
              zip_code: zip_code
            projects:
            - href: href
            - href: href
            credit_amount: 1.4658129
            created_at: 2000-01-23 04:56:07+00:00
            description: description
            billing_address:
              country: country
              address: address
              address2: address2
              city: city
              coordinates:
                latitude: latitude
                longitude: longitude
              state: state
              zip_code: zip_code
            memberships:
            - href: href
            - href: href
            enforce_2fa_at: 2000-01-23 04:56:07+00:00
            twitter: twitter
            updated_at: 2000-01-23 04:56:07+00:00
            terms: 5
            members:
            - href: href
            - href: href
            name: name
            logo: logo
            customdata: '{}'
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          name: name
          network_status: '{}'
          customdata: '{}'
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          payment_method:
            href: href
        vrf:
          bgp_dynamic_neighbors_export_route_map: true
          bgp_dynamic_neighbors_bfd_enabled: true
          local_asn: 5
          description: description
          bill: false
          bgp_dynamic_neighbors_enabled: true
          project:
            devices:
            - href: href
            - href: href
            volumes:
            - href: href
            - href: href
            created_at: 2000-01-23 04:56:07+00:00
            type: null
            memberships:
            - href: href
            - href: href
            bgp_config:
              href: href
            tags:
            - tags
            - tags
            max_devices: '{}'
            ssh_keys:
            - href: href
            - href: href
            updated_at: 2000-01-23 04:56:07+00:00
            invitations:
            - href: href
            - href: href
            members:
            - href: href
            - href: href
            organization:
              website: website
              address:
                country: country
                address: address
                address2: address2
                city: city
                coordinates:
                  latitude: latitude
                  longitude: longitude
                state: state
                zip_code: zip_code
              projects:
              - href: href
              - href: href
              credit_amount: 1.4658129
              created_at: 2000-01-23 04:56:07+00:00
              description: description
              billing_address:
                country: country
                address: address
                address2: address2
                city: city
                coordinates:
                  latitude: latitude
                  longitude: longitude
                state: state
                zip_code: zip_code
              memberships:
              - href: href
              - href: href
              enforce_2fa_at: 2000-01-23 04:56:07+00:00
              twitter: twitter
              updated_at: 2000-01-23 04:56:07+00:00
              terms: 5
              members:
              - href: href
              - href: href
              name: name
              logo: logo
              customdata: '{}'
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            name: name
            network_status: '{}'
            customdata: '{}'
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            payment_method:
              href: href
          created_at: 2000-01-23 04:56:07+00:00
          created_by:
            avatar_thumb_url: avatar_thumb_url
            last_login_at: 2000-01-23 04:56:07+00:00
            max_projects: 2
            timezone: timezone
            default_project_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            created_at: 2000-01-23 04:56:07+00:00
            last_name: last_name
            short_id: short_id
            fraud_score: fraud_score
            emails:
            - href: href
            - href: href
            default_organization_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            full_name: full_name
            avatar_url: avatar_url
            updated_at: 2000-01-23 04:56:07+00:00
            phone_number: phone_number
            customdata: '{}'
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            first_name: first_name
            max_organizations: 3
            two_factor_auth: two_factor_auth
            email: email
          tags:
          - tags
          - tags
          updated_at: 2000-01-23 04:56:07+00:00
          virtual_circuits:
          - subnet: 12.0.0.0/30
            customer_ip: 12.0.0.2
            description: description
            project:
              href: href
            created_at: 2000-01-23 04:56:07+00:00
            vrf: null
            type: null
            metal_ip: 12.0.0.1
            speed: 9
            tags:
            - tags
            - tags
            nni_vlan: 2
            updated_at: 2000-01-23 04:56:07+00:00
            port:
              href: href
            name: name
            peer_asn: 7
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            md5: md5
            status: null
          - subnet: 12.0.0.0/30
            customer_ip: 12.0.0.2
            description: description
            project:
              href: href
            created_at: 2000-01-23 04:56:07+00:00
            vrf: null
            type: null
            metal_ip: 12.0.0.1
            speed: 9
            tags:
            - tags
            - tags
            nni_vlan: 2
            updated_at: 2000-01-23 04:56:07+00:00
            port:
              href: href
            name: name
            peer_asn: 7
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            md5: md5
            status: null
          ip_ranges:
          - ip_ranges
          - ip_ranges
          metro:
            country: country
            code: code
            name: name
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          href: href
        type: null
        created_by:
          href: href
        network: network
        tags:
        - tags
        - tags
        manageable: true
        metal_gateway:
          gateway_address: 10.1.2.1/27
          updated_at: 2000-01-23 04:56:07+00:00
          vlan: 1001
          created_at: 2000-01-23 04:56:07+00:00
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
        address_family: 0
        public: true
        netmask: netmask
        management: true
        metro:
          country: country
          code: code
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        cidr: 6
        details: details
        href: href
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        state: state
        customdata: '{}'
        gateway: gateway
      properties:
        address_family:
          type: integer
        cidr:
          type: integer
        created_at:
          format: date-time
          type: string
        created_by:
          $ref: '#/components/schemas/Href'
        details:
          type: string
        href:
          type: string
        id:
          format: uuid
          type: string
        metal_gateway:
          $ref: '#/components/schemas/MetalGatewayLite'
        netmask:
          type: string
        network:
          type: string
        project:
          $ref: '#/components/schemas/Project'
        state:
          type: string
        tags:
          items:
            type: string
          type: array
        type:
          $ref: '#/components/schemas/VrfIpReservation_type'
        vrf:
          $ref: '#/components/schemas/Vrf'
        public:
          type: boolean
        management:
          type: boolean
        manageable:
          type: boolean
        customdata:
          type: object
        bill:
          type: boolean
        project_lite:
          $ref: '#/components/schemas/Project'
        address:
          type: string
        gateway:
          type: string
        metro:
          $ref: '#/components/schemas/Metro'
      required:
      - type
      - vrf
      type: object
    Device_metro:
      allOf:
      - $ref: '#/components/schemas/Metro'
      - description: The metro the facility is in
        type: object
    MetalGatewayElasticIpCreateInput:
      example:
        address: 147.75.234.8/31
        next_hop: 192.168.12.13
        customdata:
          key: ''
        tags:
        - NY
        - prod
        - public
      properties:
        address:
          description: An IP address (or IP Address range) contained within one of the project's IP Reservations
          example: 147.75.234.8/31
          type: string
        next_hop:
          description: An IP address contained within the Metal Gateways' IP Reservation range.
          example: 192.168.12.13
          format: ipv4
          type: string
        customdata:
          additionalProperties: true
          description: Optional User-defined JSON object value.
          type: object
        tags:
          description: Optional list of User-defined tags. Can be used by users to provide additional details or context regarding the purpose or usage of this resource.
          example:
          - NY
          - prod
          - public
          items:
            type: string
          type: array
      required:
      - address
      - next_hop
      type: object
    IPAssignment_state:
      description: 'Only set when this is a Metal Gateway Elastic IP Assignment.


        Describes the current configuration state of this IP on the network.

        '
      enum:
      - pending
      - active
      - deleting
      type: string
    IPReservation:
      additionalProperties: false
      properties:
        addon:
          type: boolean
        address:
          type: string
        address_family:
          type: integer
        assignments:
          items:
            $ref: '#/components/schemas/IPAssignment'
          type: array
        available:
          type: string
        bill:
          type: boolean
        cidr:
          type: integer
        created_at:
          format: date-time
          type: string
        customdata:
          type: object
        enabled:
          type: boolean
        details:
          type: string
        facility:
          $ref: '#/components/schemas/IPReservation_facility'
        gateway:
          type: string
        global_ip:
          type: boolean
        href:
          type: string
        id:
          format: uuid
          type: string
        manageable:
          type: boolean
        management:
          type: boolean
        metal_gateway:
          $ref: '#/components/schemas/MetalGatewayLite'
        metro:
          $ref: '#/components/schemas/IPReservation_metro'
        netmask:
          type: string
        network:
          type: string
        project:
          $ref: '#/components/schemas/Project'
        project_lite:
          $ref: '#/components/schemas/Href'
        requested_by:
          $ref: '#/components/schemas/Href'
        public:
          type: boolean
        state:
          type: string
        tags:
          items:
            type: string
          type: array
        type:
          $ref: '#/components/schemas/IPReservation_type'
      required:
      - type
      type: object
    Metro:
      example:
        country: country
        code: code
        name: name
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        code:
          type: string
        country:
          type: string
        id:
          format: uuid
          type: string
        name:
          type: string
      type: object
    VrfVirtualCircuit_status:
      description: The status changes of a VRF virtual circuit are generally the same as Virtual Circuits that aren't in a VRF. However, for VRF Virtual Circuits on Fabric VCs, the status will change to 'waiting_on_peering_details' once the Fabric service token associated with the virtual circuit has been redeemed on Fabric, and Metal has found the associated Fabric connection. At this point, users can update the subnet, MD5 password, customer IP and/or metal IP accordingly. For VRF Virtual Circuits on Dedicated Ports, we require all peering details to be set on creation of a VRF Virtual Circuit. The status will change to `changing_peering_details` whenever an active VRF Virtual Circuit has any of its peering details updated.
      enum:
      - pending
      - waiting_on_peering_details
      - activating
      - changing_peering_details
      - deactivating
      - deleting
      - active
      - expired
      - activation_failed
      - changing_peering_details_failed
      - deactivation_failed
      - delete_failed
      type: string
    Project_type:
      description: The type of the project. Projects of type `vmce` are part of an in development feature and not available to all customers.
      enum:
      - default
      - vmce
      type: string
    Coordinates:
      example:
        latitude: latitude
        longitude: longitude
      properties:
        latitude:
          type: string
        longitude:
          type: string
      type: object
    IPReservation_facility:
      allOf:
      - $ref: '#/components/schemas/Facility'
      - description: The facility the IP reservation is in. If the facility the IP reservation was requested in is in a metro, a metro value will also be set, and the subsequent IP reservation can be used on a metro level. Can be null if requesting an IP reservation in a metro.
        type: object
    MetalGateway:
      properties:
        created_at:
          format: date-time
          type: string
        created_by:
          $ref: '#/components/schemas/Href'
        href:
          type: string
        id:
          format: uuid
          type: string
        ip_reservation:
          $ref: '#/components/schemas/IPReservation'
        project:
          $ref: '#/components/schemas/Project'
        state:
          $ref: '#/components/schemas/MetalGateway_state'
        updated_at:
          format: date-time
          type: string
        virtual_network:
          $ref: '#/components/schemas/VirtualNetwork'
      type: object
    IPAssignmentList:
      example:
        ip_addresses:
        - address: address
          parent_block:
            netmask: netmask
            cidr: 2
            href: href
            network: network
          created_at: 2000-01-23 04:56:07+00:00
          type: null
          enabled: true
          manageable: true
          network: network
          address_family: 5
          public: true
          management: true
          netmask: netmask
          metro: null
          next_hop: next_hop
          cidr: 5
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
          global_ip: true
          gateway: gateway
          assigned_to:
            href: href
        - address: address
          parent_block:
            netmask: netmask
            cidr: 2
            href: href
            network: network
          created_at: 2000-01-23 04:56:07+00:00
          type: null
          enabled: true
          manageable: true
          network: network
          address_family: 5
          public: true
          management: true
          netmask: netmask
          metro: null
          next_hop: next_hop
          cidr: 5
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
          global_ip: true
          gateway: gateway
          assigned_to:
            href: href
      properties:
        ip_addresses:
          items:
            $ref: '#/components/schemas/IPAssignment'
          type: array
      type: object
    Facility:
      example:
        features:
        - baremetal
        - backend_transfer
        - global_ipv4
        address:
          country: country
          address: address
          address2: address2
          city: city
          coordinates:
            latitude: latitude
            longitude: longitude
          state: state
          zip_code: zip_code
        code: code
        ip_ranges:
        - 2604:1380::/36
        - 147.75.192.0/21
        metro: null
        name: name
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        address:
          $ref: '#/components/schemas/Address'
        code:
          type: string
        features:
          example:
          - baremetal
          - backend_transfer
          - global_ipv4
          items:
            $ref: '#/components/schemas/Facility_features_inner'
          type: array
        id:
          format: uuid
          type: string
        ip_ranges:
          description: IP ranges registered in facility. Can be used for GeoIP location
          example:
          - 2604:1380::/36
          - 147.75.192.0/21
          items:
            type: string
          type: array
        metro:
          $ref: '#/components/schemas/Device_metro'
        name:
          type: string
      type: object
    VrfMetalGatewayCreateInput:
      properties:
        ip_reservation_id:
          description: The UUID an a VRF IP Reservation that belongs to the same project as the one in which the Metal Gateway is to be created. Additionally, the VRF IP Reservation and the Virtual Network must reside in the same Metro.
          format: uuid
          type: string
        virtual_network_id:
          description: THe UUID of a Metro Virtual Network that belongs to the same project as the one in which the Metal Gateway is to be created. Additionally, the Virtual Network and the VRF IP Reservation must reside in the same metro.
          format: uuid
          type: string
      required:
      - ip_reservation_id
      - virtual_network_id
      type: object
    IPAssignment_type:
      enum:
      - IPAssignment
      type: string
    User:
      example:
        avatar_thumb_url: avatar_thumb_url
        last_login_at: 2000-01-23 04:56:07+00:00
        max_projects: 2
        timezone: timezone
        default_project_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        created_at: 2000-01-23 04:56:07+00:00
        last_name: last_name
        short_id: short_id
        fraud_score: fraud_score
        emails:
        - href: href
        - href: href
        default_organization_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        full_name: full_name
        avatar_url: avatar_url
        updated_at: 2000-01-23 04:56:07+00:00
        phone_number: phone_number
        customdata: '{}'
        href: href
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        first_name: first_name
        max_organizations: 3
        two_factor_auth: two_factor_auth
        email: email
      properties:
        avatar_thumb_url:
          type: string
        avatar_url:
          type: string
        created_at:
          format: date-time
          type: string
        customdata:
          type: object
        default_organization_id:
          format: uuid
          type: string
        default_project_id:
          format: uuid
          type: string
        email:
          type: string
        emails:
          items:
            $ref: '#/components/schemas/Href'
          type: array
        first_name:
          type: string
        fraud_score:
          type: string
        full_name:
          type: string
        href:
          type: string
        id:
          format: uuid
          type: string
        last_login_at:
          format: date-time
          type: string
        last_name:
          type: string
        max_organizations:
          type: integer
        max_projects:
          type: integer
        phone_number:
          type: string
        short_id:
          type: string
        timezone:
          type: string
        two_factor_auth:
          type: string
        updated_at:
          format: date-time
          type: string
      type: object
    Href:
      example:
        href: href
      properties:
        href:
          type: string
      required:
      - href
      type: object
    Vrf:
      example:
        bgp_dynamic_neighbors_export_route_map: true
        bgp_dynamic_neighbors_bfd_enabled: true
        local_asn: 5
        description: description
        bill: false
        bgp_dynamic_neighbors_enabled: true
        project:
          devices:
          - href: href
          - href: href
          volumes:
          - href: href
          - href: href
          created_at: 2000-01-23 04:56:07+00:00
          type: null
          memberships:
          - href: href
          - href: href
          bgp_config:
            href: href
          tags:
          - tags
          - tags
          max_devices: '{}'
          ssh_keys:
          - href: href
          - href: href
          updated_at: 2000-01-23 04:56:07+00:00
          invitations:
          - href: href
          - href: href
          members:
          - href: href
          - href: href
          organization:
            website: website
            address:
              country: country
              address: address
              address2: address2
              city: city
              coordinates:
                latitude: latitude
                longitude: longitude
              state: state
              zip_code: zip_code
            projects:
            - href: href
            - href: href
            credit_amount: 1.4658129
            created_at: 2000-01-23 04:56:07+00:00
            description: description
            billing_address:
              country: country
              address: address
              address2: address2
              city: city
              coordinates:
                latitude: latitude
                longitude: longitude
              state: state
              zip_code: zip_code
            memberships:
            - href: href
            - href: href
            enforce_2fa_at: 2000-01-23 04:56:07+00:00
            twitter: twitter
            updated_at: 2000-01-23 04:56:07+00:00
            terms: 5
            members:
            - href: href
            - href: href
            name: name
            logo: logo
            customdata: '{}'
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          name: name
          network_status: '{}'
          customdata: '{}'
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          payment_method:
            href: href
        created_at: 2000-01-23 04:56:07+00:00
        created_by:
          avatar_thumb_url: avatar_thumb_url
          last_login_at: 2000-01-23 04:56:07+00:00
          max_projects: 2
          timezone: timezone
          default_project_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          created_at: 2000-01-23 04:56:07+00:00
          last_name: last_name
          short_id: short_id
          fraud_score: fraud_score
          emails:
          - href: href
          - href: href
          default_organization_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          full_name: full_name
          avatar_url: avatar_url
          updated_at: 2000-01-23 04:56:07+00:00
          phone_number: phone_number
          customdata: '{}'
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          first_name: first_name
          max_organizations: 3
          two_factor_auth: two_factor_auth
          email: email
        tags:
        - tags
        - tags
        updated_at: 2000-01-23 04:56:07+00:00
        virtual_circuits:
        - subnet: 12.0.0.0/30
          customer_ip: 12.0.0.2
          description: description
          project:
            href: href
          created_at: 2000-01-23 04:56:07+00:00
          vrf: null
          type: null
          metal_ip: 12.0.0.1
          speed: 9
          tags:
          - tags
          - tags
          nni_vlan: 2
          updated_at: 2000-01-23 04:56:07+00:00
          port:
            href: href
          name: name
          peer_asn: 7
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          md5: md5
          status: null
        - subnet: 12.0.0.0/30
          customer_ip: 12.0.0.2
          description: description
          project:
            href: href
          created_at: 2000-01-23 04:56:07+00:00
          vrf: null
          type: null
          metal_ip: 12.0.0.1
          speed: 9
          tags:
          - tags
          - tags
          nni_vlan: 2
          updated_at: 2000-01-23 04:56:07+00:00
          port:
            href: href
          name: name
          peer_asn: 7
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          md5: md5
          status: null
        ip_ranges:
        - ip_ranges
        - ip_ranges
        metro:
          country: country
          code: code
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        name: name
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        href: href
      properties:
        id:
          format: uuid
          type: string
        name:
          type: string
        description:
          description: Optional field that can be set to describe the VRF
          type: string
        bill:
          default: false
          description: True if the VRF is being billed. Usage will start when the first VRF Virtual Circuit is active, and will only stop when the VRF has been deleted.
          type: boolean
        bgp_dynamic_neighbors_enabled:
          description: Toggle to enable the dynamic bgp neighbors feature on the VRF
          type: boolean
        bgp_dynamic_neighbors_export_route_map:
          description: Toggle to export the VRF route-map to the dynamic bgp neighbors
          type: boolean
        bgp_dynamic_neighbors_bfd_enabled:
          description: Toggle BFD on dynamic bgp neighbors sessions
          type: boolean
        local_asn:
          description: A 4-byte ASN associated with the VRF.
          format: int32
          type: integer
        virtual_circuits:
          description: Virtual circuits that are in the VRF
          items:
            $ref: '#/components/schemas/VrfVirtualCircuit'
          type: array
        ip_ranges:
          description: A list of CIDR network addresses. Like ["10.0.0.0/16", "2001:d78::/56"].
          items:
            type: string
          type: array
        project:
          $ref: '#/components/schemas/Project'
        metro:
          $ref: '#/components/schemas/Metro'
        created_by:
          $ref: '#/components/schemas/User'
        href:
          type: string
        created_at:
          format: date-time
          type: string
        updated_at:
          format: date-time
          type: string
        tags:
          items:
            type: string
          type: array
      type: object
    Organization:
      example:
        website: website
        address:
          country: country
          address: address
          address2: address2
          city: city
          coordinates:
            latitude: latitude
            longitude: longitude
          state: state
          zip_code: zip_code
        projects:
        - href: href
        - href: href
        credit_amount: 1.4658129
        created_at: 2000-01-23 04:56:07+00:00
        description: description
        billing_address:
          country: country
          address: address
          address2: address2
          city: city
          coordinates:
            latitude: latitude
            longitude: longitude
          state: state
          zip_code: zip_code
        memberships:
        - href: href
        - href: href
        enforce_2fa_at: 2000-01-23 04:56:07+00:00
        twitter: twitter
        updated_at: 2000-01-23 04:56:07+00:00
        terms: 5
        members:
        - href: href
        - href: href
        name: name
        logo: logo
        customdata: '{}'
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        address:
          $ref: '#/components/schemas/Address'
        billing_address:
          $ref: '#/components/schemas/Address'
        created_at:
          format: date-time
          type: string
        credit_amount:
          format: float
          type: number
        customdata:
          type: object
        description:
          type: string
        enforce_2fa_at:
          description: Force to all members to have enabled the two factor authentication after that date, unless the value is null
          format: date-time
          type: string
        id:
          format: uuid
          type: string
        logo:
          type: string
        members:
          items:
            $ref: '#/components/schemas/Href'
          type: array
        memberships:
          items:
            $ref: '#/components/schemas/Href'
          type: array
        name:
          type: string
        projects:
          items:
            $ref: '#/components/schemas/Href'
          type: array
        terms:
          type: integer
        twitter:
          type: string
        updated_at:
          format: date-time
          type: string
        website:
          type: string
      type: object
    IPAssignment_metro:
      allOf:
      - $ref: '#/components/schemas/Metro'
      - description: The metro the IP address is in
        type: object
    Facility_features_inner:
      enum:
      - baremetal
      - backend_transfer
      - layer_2
      - global_ipv4
      - ibx
      type: string
    MetalGatewayList:
      example:
        metal_gateways:
        - null
        - null
        meta:
          next:
            href: href
          total: 0
          last:
            href: href
          previous:
            href: href
          last_page: 1
          self:
            href: href
          first:
            href: href
          current_page: 6
      properties:
        metal_gateways:
          items:
            $ref: '#/components/schemas/MetalGatewayList_metal_gateways_inner'
          type: array
        meta:
          $ref: '#/components/schemas/Meta'
      type: object
    VrfIpReservation_type:
      enum:
      - vrf
      type: string
    MetalGatewayLite:
      example:
        gateway_address: 10.1.2.1/27
        updated_at: 2000-01-23 04:56:07+00:00
        vlan: 1001
        created_at: 2000-01-23 04:56:07+00:00
        href: href
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        state: null
      properties:
        created_at:
          format: date-time
          type: string
        gateway_address:
          description: The gateway address with subnet CIDR value for this Metal Gateway. For example, a Metal Gateway using an IP reservation with block 10.1.2.0/27 would have a gateway address of 10.1.2.1/27.
          example: 10.1.2.1/27
          type: string
        href:
          type: string
        id:
          format: uuid
          type: string
        state:
          $ref: '#/components/schemas/MetalGateway_state'
        updated_at:
          format: date-time
          type: string
        vlan:
          description: The VLAN id of the Virtual Network record associated to this Metal Gateway.
          example: 1001
          type: integer
      type: object
  securitySchemes:
    x_auth_token:
      description: 'HTTP header containing the User or Project API key that will be used to authenticate the request.

        '
      in: header
      name: X-Auth-Token
      type: apiKey
      x-displayName: X-Auth-Token
x-tagGroups:
- name: Accounts and Organization
  tags:
  - Authentication
  - Emails
  - Invitations
  - Memberships
  - Organizations
  - OTPs
  - PasswordResetTokens
  - PaymentMethods
  - Projects
  - SSHKeys
  - SupportRequest
  - TransferRequests
  - TwoFactorAuth
  - Users
  - UserVerificationTokens
- name: Services and Billing
  tags:
  - Events
  - Facilities
  - Incidents
  - Invoices
  - Licenses
  - Metros
  - Plans
  - Usages
- name: Servers
  tags:
  - Devices
  - Batches
  - Capacity
  - HardwareReservations
  - OperatingSystems
  - Ports
  - SelfServiceReservations
  - SpotMarket
  - Userdata
  - Volumes
- name: Networking
  tags:
  - BGP
  - Interconnections
  - IPAddresses
  - MetalGateways
  - VLANs
  - VRFs
