openapi: 3.0.0
info:
  contact:
    email: support@equinixmetal.com
    name: Equinix Metal API Team
  description: "# Introduction\nEquinix Metal provides a RESTful HTTP API which can be reached at <https://api.equinix.com/metal/v1>. This document describes the API and how to use it.\n\nThe API allows you to programmatically interact with all\nof your Equinix Metal resources, including devices, networks, addresses, organizations,\nprojects, and your user account. Every feature of the Equinix Metal web interface is accessible through the API.\n\nThe API docs are generated from the Equinix Metal OpenAPI specification and are officially hosted at <https://metal.equinix.com/developers/api>.\n\n# Common Parameters\n\nThe Equinix Metal API uses a few methods to minimize network traffic and improve throughput. These parameters are not used in all API calls, but are used often enough to warrant their own section. Look for these parameters in the documentation for the API calls that support them.\n\n## Pagination\n\nPagination is used to limit the number of results returned in a single request. The API will return a maximum of 100 results per page. To retrieve additional results, you can use the `page` and `per_page` query parameters.\n\nThe `page` parameter is used to specify the page number. The first page is `1`. The `per_page` parameter is used to specify the number of results per page. The maximum number of results differs by resource type.\n\n## Sorting\n\nWhere offered, the API allows you to sort results by a specific field. To sort results use the `sort_by` query parameter with the root level field name as the value. The `sort_direction` parameter is used to specify the sort direction, either either `asc` (ascending) or `desc` (descending).\n\n## Filtering\n\nFiltering is used to limit the results returned in a single request. The API supports filtering by certain fields in the response. To filter results, you can use the field as a query parameter.\n\nFor example, to filter the IP list to only return public IPv4 addresses, you can filter by the `type` field, as in the following request:\n\n```sh\ncurl -H 'X-Auth-Token: my_authentication_token' \\\n  https://api.equinix.com/metal/v1/projects/id/ips?type=public_ipv4\n```\n\nOnly IP addresses with the `type` field set to `public_ipv4` will be returned.\n\n## Searching\n\nSearching is used to find matching resources using multiple field comparissons. The API supports searching in resources that define this behavior. Currently the search parameter is only available on devices, ssh_keys, api_keys and memberships endpoints.\n\nTo search resources you can use the `search` query parameter.\n\n## Include and Exclude\n\nFor resources that contain references to other resources, sucha as a Device that refers to the Project it resides in, the Equinix Metal API will returns `href` values (API links) to the associated resource.\n\n```json\n{\n  ...\n  \"project\": {\n    \"href\": \"/metal/v1/projects/f3f131c8-f302-49ef-8c44-9405022dc6dd\"\n  }\n}\n```\n\nIf you're going need the project details, you can avoid a second API request.  Specify the contained `href` resources and collections that you'd like to have included in the response using the `include` query parameter.\n\nFor example:\n\n```sh\ncurl -H 'X-Auth-Token: my_authentication_token' \\\n  https://api.equinix.com/metal/v1/user?include=projects\n```\n\nThe `include` parameter is generally accepted in `GET`, `POST`, `PUT`, and `PATCH` requests where `href` resources are presented.\n\nTo have multiple resources include, use a comma-separated list (e.g. `?include=emails,projects,memberships`).\n\n```sh\ncurl -H 'X-Auth-Token: my_authentication_token' \\\n  https://api.equinix.com/metal/v1/user?include=emails,projects,memberships\n```\n\nYou may also include nested associations up to three levels deep using dot notation (`?include=memberships.projects`):\n\n```sh\ncurl -H 'X-Auth-Token: my_authentication_token' \\\n  https://api.equinix.com/metal/v1/user?include=memberships.projects\n```\n\nTo exclude resources, and optimize response delivery, use the `exclude` query parameter. The `exclude` parameter is generally accepted in `GET`, `POST`, `PUT`, and `PATCH` requests for fields with nested object responses. When excluded, these fields will be replaced with an object that contains only an `href` field.\n"
  license:
    name: Equinix Metal
    url: https://metal.equinix.com/legal/
  termsOfService: https://metal.equinix.com/legal/
  title: Metal Authentication Invoices API
  version: 1.0.0
servers:
- url: https://api.equinix.com/metal/v1
security:
- x_auth_token: []
tags:
- name: Invoices
paths:
  /invoices/{id}:
    get:
      description: Returns the invoice identified by the provided id
      operationId: getInvoiceById
      parameters:
      - description: Invoice UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Retrieve an invoice
      tags:
      - Invoices
  /organizations/{id}/invoices:
    get:
      description: Returns all invoices for an organization
      operationId: findOrganizationInvoices
      parameters:
      - description: Organization UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: page number
        in: query
        name: page
        schema:
          type: integer
      - description: per page
        in: query
        name: per_page
        schema:
          type: integer
      - description: filter by status
        in: query
        name: status
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceList'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Retrieve all invoices for an organization
      tags:
      - Invoices
components:
  schemas:
    InvoiceList:
      example:
        invoices:
        - amount: 0.8008282
          target_date: 2000-01-23
          credit_amount: 1.4658129
          project:
            name: name
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          reference_number: reference_number
          due_on: 2000-01-23
          number: number
          balance: 6.0274563
          created_on: 2000-01-23
          credits_applied: 5.962134
          currency: USD
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          items:
          - amount: 5.637377
            unit: unit
            description: description
            currency: currency
            details: details
            unit_price: 2.302136
            plan:
              legacy: true
              line: line
              available_in_metros:
              - price:
                  hour: 1.23
                href: href
              - price:
                  hour: 1.23
                href: href
              description: description
              available_in:
              - price:
                  hour: 1.23
                href: href
              - price:
                  hour: 1.23
                href: href
              type: null
              specs:
                features:
                  txt: true
                  uefi: true
                  raid: true
                memory:
                  total: total
                cpus:
                - count: 6
                  type: type
                - count: 6
                  type: type
                drives:
                - size: 3.84TB
                  count: 1
                  type: type
                  category: null
                - size: 3.84TB
                  count: 1
                  type: type
                  category: null
                nics:
                - count: 2
                  type: type
                - count: 2
                  type: type
              deployment_types:
              - null
              - null
              name: name
              categories:
              - categories
              - categories
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              class: m3.large.x86
              pricing: '{}'
              slug: m3.large.x86
          - amount: 5.637377
            unit: unit
            description: description
            currency: currency
            details: details
            unit_price: 2.302136
            plan:
              legacy: true
              line: line
              available_in_metros:
              - price:
                  hour: 1.23
                href: href
              - price:
                  hour: 1.23
                href: href
              description: description
              available_in:
              - price:
                  hour: 1.23
                href: href
              - price:
                  hour: 1.23
                href: href
              type: null
              specs:
                features:
                  txt: true
                  uefi: true
                  raid: true
                memory:
                  total: total
                cpus:
                - count: 6
                  type: type
                - count: 6
                  type: type
                drives:
                - size: 3.84TB
                  count: 1
                  type: type
                  category: null
                - size: 3.84TB
                  count: 1
                  type: type
                  category: null
                nics:
                - count: 2
                  type: type
                - count: 2
                  type: type
              deployment_types:
              - null
              - null
              name: name
              categories:
              - categories
              - categories
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              class: m3.large.x86
              pricing: '{}'
              slug: m3.large.x86
          status: status
        - amount: 0.8008282
          target_date: 2000-01-23
          credit_amount: 1.4658129
          project:
            name: name
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          reference_number: reference_number
          due_on: 2000-01-23
          number: number
          balance: 6.0274563
          created_on: 2000-01-23
          credits_applied: 5.962134
          currency: USD
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          items:
          - amount: 5.637377
            unit: unit
            description: description
            currency: currency
            details: details
            unit_price: 2.302136
            plan:
              legacy: true
              line: line
              available_in_metros:
              - price:
                  hour: 1.23
                href: href
              - price:
                  hour: 1.23
                href: href
              description: description
              available_in:
              - price:
                  hour: 1.23
                href: href
              - price:
                  hour: 1.23
                href: href
              type: null
              specs:
                features:
                  txt: true
                  uefi: true
                  raid: true
                memory:
                  total: total
                cpus:
                - count: 6
                  type: type
                - count: 6
                  type: type
                drives:
                - size: 3.84TB
                  count: 1
                  type: type
                  category: null
                - size: 3.84TB
                  count: 1
                  type: type
                  category: null
                nics:
                - count: 2
                  type: type
                - count: 2
                  type: type
              deployment_types:
              - null
              - null
              name: name
              categories:
              - categories
              - categories
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              class: m3.large.x86
              pricing: '{}'
              slug: m3.large.x86
          - amount: 5.637377
            unit: unit
            description: description
            currency: currency
            details: details
            unit_price: 2.302136
            plan:
              legacy: true
              line: line
              available_in_metros:
              - price:
                  hour: 1.23
                href: href
              - price:
                  hour: 1.23
                href: href
              description: description
              available_in:
              - price:
                  hour: 1.23
                href: href
              - price:
                  hour: 1.23
                href: href
              type: null
              specs:
                features:
                  txt: true
                  uefi: true
                  raid: true
                memory:
                  total: total
                cpus:
                - count: 6
                  type: type
                - count: 6
                  type: type
                drives:
                - size: 3.84TB
                  count: 1
                  type: type
                  category: null
                - size: 3.84TB
                  count: 1
                  type: type
                  category: null
                nics:
                - count: 2
                  type: type
                - count: 2
                  type: type
              deployment_types:
              - null
              - null
              name: name
              categories:
              - categories
              - categories
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              class: m3.large.x86
              pricing: '{}'
              slug: m3.large.x86
          status: status
      properties:
        invoices:
          items:
            $ref: '#/components/schemas/Invoice'
          type: array
      type: object
    LineItem:
      example:
        amount: 5.637377
        unit: unit
        description: description
        currency: currency
        details: details
        unit_price: 2.302136
        plan:
          legacy: true
          line: line
          available_in_metros:
          - price:
              hour: 1.23
            href: href
          - price:
              hour: 1.23
            href: href
          description: description
          available_in:
          - price:
              hour: 1.23
            href: href
          - price:
              hour: 1.23
            href: href
          type: null
          specs:
            features:
              txt: true
              uefi: true
              raid: true
            memory:
              total: total
            cpus:
            - count: 6
              type: type
            - count: 6
              type: type
            drives:
            - size: 3.84TB
              count: 1
              type: type
              category: null
            - size: 3.84TB
              count: 1
              type: type
              category: null
            nics:
            - count: 2
              type: type
            - count: 2
              type: type
          deployment_types:
          - null
          - null
          name: name
          categories:
          - categories
          - categories
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          class: m3.large.x86
          pricing: '{}'
          slug: m3.large.x86
      properties:
        amount:
          format: float
          type: number
        currency:
          type: string
        description:
          type: string
        details:
          type: string
        plan:
          $ref: '#/components/schemas/Plan'
        unit:
          type: string
        unit_price:
          format: float
          type: number
      type: object
    ProjectIdName:
      example:
        name: name
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        id:
          format: uuid
          type: string
        name:
          type: string
      type: object
    Plan_specs_features:
      example:
        txt: true
        uefi: true
        raid: true
      properties:
        raid:
          type: boolean
        txt:
          type: boolean
        uefi:
          type: boolean
      type: object
    Invoice:
      example:
        amount: 0.8008282
        target_date: 2000-01-23
        credit_amount: 1.4658129
        project:
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        reference_number: reference_number
        due_on: 2000-01-23
        number: number
        balance: 6.0274563
        created_on: 2000-01-23
        credits_applied: 5.962134
        currency: USD
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        items:
        - amount: 5.637377
          unit: unit
          description: description
          currency: currency
          details: details
          unit_price: 2.302136
          plan:
            legacy: true
            line: line
            available_in_metros:
            - price:
                hour: 1.23
              href: href
            - price:
                hour: 1.23
              href: href
            description: description
            available_in:
            - price:
                hour: 1.23
              href: href
            - price:
                hour: 1.23
              href: href
            type: null
            specs:
              features:
                txt: true
                uefi: true
                raid: true
              memory:
                total: total
              cpus:
              - count: 6
                type: type
              - count: 6
                type: type
              drives:
              - size: 3.84TB
                count: 1
                type: type
                category: null
              - size: 3.84TB
                count: 1
                type: type
                category: null
              nics:
              - count: 2
                type: type
              - count: 2
                type: type
            deployment_types:
            - null
            - null
            name: name
            categories:
            - categories
            - categories
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            class: m3.large.x86
            pricing: '{}'
            slug: m3.large.x86
        - amount: 5.637377
          unit: unit
          description: description
          currency: currency
          details: details
          unit_price: 2.302136
          plan:
            legacy: true
            line: line
            available_in_metros:
            - price:
                hour: 1.23
              href: href
            - price:
                hour: 1.23
              href: href
            description: description
            available_in:
            - price:
                hour: 1.23
              href: href
            - price:
                hour: 1.23
              href: href
            type: null
            specs:
              features:
                txt: true
                uefi: true
                raid: true
              memory:
                total: total
              cpus:
              - count: 6
                type: type
              - count: 6
                type: type
              drives:
              - size: 3.84TB
                count: 1
                type: type
                category: null
              - size: 3.84TB
                count: 1
                type: type
                category: null
              nics:
              - count: 2
                type: type
              - count: 2
                type: type
            deployment_types:
            - null
            - null
            name: name
            categories:
            - categories
            - categories
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            class: m3.large.x86
            pricing: '{}'
            slug: m3.large.x86
        status: status
      properties:
        amount:
          format: float
          type: number
        balance:
          format: float
          type: number
        created_on:
          format: date
          type: string
        credit_amount:
          format: float
          type: number
        credits_applied:
          format: float
          type: number
        currency:
          example: USD
          type: string
        due_on:
          format: date
          type: string
        id:
          format: uuid
          type: string
        items:
          items:
            $ref: '#/components/schemas/LineItem'
          type: array
        number:
          type: string
        project:
          $ref: '#/components/schemas/ProjectIdName'
        reference_number:
          type: string
        status:
          type: string
        target_date:
          format: date
          type: string
      type: object
    Plan_specs_memory:
      example:
        total: total
      properties:
        total:
          type: string
      type: object
    Plan_specs_cpus_inner:
      example:
        count: 6
        type: type
      properties:
        count:
          type: integer
        type:
          type: string
      type: object
    Plan_type:
      description: The plan type
      enum:
      - standard
      - workload_optimized
      - custom
      type: string
    Plan:
      example:
        legacy: true
        line: line
        available_in_metros:
        - price:
            hour: 1.23
          href: href
        - price:
            hour: 1.23
          href: href
        description: description
        available_in:
        - price:
            hour: 1.23
          href: href
        - price:
            hour: 1.23
          href: href
        type: null
        specs:
          features:
            txt: true
            uefi: true
            raid: true
          memory:
            total: total
          cpus:
          - count: 6
            type: type
          - count: 6
            type: type
          drives:
          - size: 3.84TB
            count: 1
            type: type
            category: null
          - size: 3.84TB
            count: 1
            type: type
            category: null
          nics:
          - count: 2
            type: type
          - count: 2
            type: type
        deployment_types:
        - null
        - null
        name: name
        categories:
        - categories
        - categories
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        class: m3.large.x86
        pricing: '{}'
        slug: m3.large.x86
      properties:
        available_in:
          description: Shows which facilities the plan is available in, and the facility-based price if it is different from the default price.
          items:
            $ref: '#/components/schemas/Plan_available_in_inner'
          type: array
        available_in_metros:
          description: Shows which metros the plan is available in, and the metro-based price if it is different from the default price.
          items:
            $ref: '#/components/schemas/Plan_available_in_metros_inner'
          type: array
        categories:
          description: Categories of the plan, like compute or storage. A Plan can belong to multiple categories.
          items:
            type: string
          type: array
        class:
          example: m3.large.x86
          type: string
        description:
          type: string
        deployment_types:
          items:
            $ref: '#/components/schemas/Plan_deployment_types_inner'
          minItems: 0
          type: array
          uniqueItems: true
        id:
          format: uuid
          type: string
        legacy:
          description: Deprecated. Always return false
          type: boolean
          x-deprecated: true
        line:
          type: string
        name:
          type: string
        pricing:
          type: object
        slug:
          example: m3.large.x86
          type: string
        specs:
          $ref: '#/components/schemas/Plan_specs'
        type:
          $ref: '#/components/schemas/Plan_type'
      type: object
    Plan_specs:
      example:
        features:
          txt: true
          uefi: true
          raid: true
        memory:
          total: total
        cpus:
        - count: 6
          type: type
        - count: 6
          type: type
        drives:
        - size: 3.84TB
          count: 1
          type: type
          category: null
        - size: 3.84TB
          count: 1
          type: type
          category: null
        nics:
        - count: 2
          type: type
        - count: 2
          type: type
      properties:
        cpus:
          items:
            $ref: '#/components/schemas/Plan_specs_cpus_inner'
          type: array
        memory:
          $ref: '#/components/schemas/Plan_specs_memory'
        drives:
          items:
            $ref: '#/components/schemas/Plan_specs_drives_inner'
          type: array
        nics:
          items:
            $ref: '#/components/schemas/Plan_specs_nics_inner'
          type: array
        features:
          $ref: '#/components/schemas/Plan_specs_features'
      type: object
    Plan_specs_nics_inner:
      example:
        count: 2
        type: type
      properties:
        count:
          example: 2
          type: integer
        type:
          type: string
      type: object
    Plan_deployment_types_inner:
      enum:
      - on_demand
      - spot_market
      type: string
    Plan_available_in_metros_inner:
      example:
        price:
          hour: 1.23
        href: href
      properties:
        href:
          description: href to the Metro
          type: string
        price:
          $ref: '#/components/schemas/Plan_available_in_inner_price'
      type: object
    Error:
      description: Error responses are included with 4xx and 5xx HTTP responses from the API service. Either "error" or "errors" will be set.
      properties:
        error:
          description: A description of the error that caused the request to fail.
          type: string
        errors:
          description: A list of errors that contributed to the request failing.
          items:
            description: An error message that contributed to the request failing.
            type: string
          type: array
      type: object
    Plan_specs_drives_inner:
      example:
        size: 3.84TB
        count: 1
        type: type
        category: null
      properties:
        count:
          type: integer
        type:
          type: string
        size:
          example: 3.84TB
          type: string
        category:
          $ref: '#/components/schemas/Plan_specs_drives_inner_category'
      type: object
    Plan_available_in_inner:
      example:
        price:
          hour: 1.23
        href: href
      properties:
        href:
          description: href to the Facility
          type: string
        price:
          $ref: '#/components/schemas/Plan_available_in_inner_price'
      type: object
    Plan_available_in_inner_price:
      example:
        hour: 1.23
      properties:
        hour:
          example: 1.23
          format: double
          type: number
      type: object
    Plan_specs_drives_inner_category:
      enum:
      - boot
      - cache
      - storage
      type: string
  securitySchemes:
    x_auth_token:
      description: 'HTTP header containing the User or Project API key that will be used to authenticate the request.

        '
      in: header
      name: X-Auth-Token
      type: apiKey
      x-displayName: X-Auth-Token
x-tagGroups:
- name: Accounts and Organization
  tags:
  - Authentication
  - Emails
  - Invitations
  - Memberships
  - Organizations
  - OTPs
  - PasswordResetTokens
  - PaymentMethods
  - Projects
  - SSHKeys
  - SupportRequest
  - TransferRequests
  - TwoFactorAuth
  - Users
  - UserVerificationTokens
- name: Services and Billing
  tags:
  - Events
  - Facilities
  - Incidents
  - Invoices
  - Licenses
  - Metros
  - Plans
  - Usages
- name: Servers
  tags:
  - Devices
  - Batches
  - Capacity
  - HardwareReservations
  - OperatingSystems
  - Ports
  - SelfServiceReservations
  - SpotMarket
  - Userdata
  - Volumes
- name: Networking
  tags:
  - BGP
  - Interconnections
  - IPAddresses
  - MetalGateways
  - VLANs
  - VRFs
