openapi: 3.2.0
info:
  contact:
    email: support@equinixmetal.com
    name: Equinix Metal API Team
  description: '# Introduction

    Equinix Metal provides a RESTful HTTP API which can be reached at .'
  license:
    name: Equinix Metal
    url: https://metal.equinix.com/legal/
  termsOfService: https://metal.equinix.com/legal/
  title: Metal Invoices API
  version: 1.0.0
servers:
- url: https://api.equinix.com/metal/v1
security:
- x_auth_token: []
tags:
- name: Invoices
paths:
  /invoices/{id}:
    get:
      description: Returns the invoice identified by the provided id
      operationId: getInvoiceById
      parameters:
      - description: Invoice UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Retrieve an invoice
      tags:
      - Invoices
  /organizations/{id}/invoices:
    get:
      description: Returns all invoices for an organization
      operationId: findOrganizationInvoices
      parameters:
      - description: Organization UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: page number
        in: query
        name: page
        schema:
          type: integer
      - description: per page
        in: query
        name: per_page
        schema:
          type: integer
      - description: filter by status
        in: query
        name: status
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceList'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Retrieve all invoices for an organization
      tags:
      - Invoices
components:
  schemas:
    ProjectIdName:
      example:
        name: name
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        id:
          format: uuid
          type: string
        name:
          type: string
      type: object
    Error:
      description: Error responses are included with 4xx and 5xx HTTP responses from the API service. Either "error" or "errors" will be set.
      properties:
        error:
          description: A description of the error that caused the request to fail.
          type: string
        errors:
          description: A list of errors that contributed to the request failing.
          items:
            description: An error message that contributed to the request failing.
            type: string
          type: array
      type: object
    Plan_specs_drives_inner_category:
      enum:
      - boot
      - cache
      - storage
      type: string
    Plan_specs_memory:
      example:
        total: total
      properties:
        total:
          type: string
      type: object
    Plan_specs:
      example:
        features:
          txt: true
          uefi: true
          raid: true
        memory:
          total: total
        cpus:
        - count: 6
          type: type
        - count: 6
          type: type
        drives:
        - size: 3.84TB
          count: 1
          type: type
          category: null
        - size: 3.84TB
          count: 1
          type: type
          category: null
        nics:
        - count: 2
          type: type
        - count: 2
          type: type
      properties:
        cpus:
          items:
            $ref: '#/components/schemas/Plan_specs_cpus_inner'
          type: array
        memory:
          $ref: '#/components/schemas/Plan_specs_memory'
        drives:
          items:
            $ref: '#/components/schemas/Plan_specs_drives_inner'
          type: array
        nics:
          items:
            $ref: '#/components/schemas/Plan_specs_nics_inner'
          type: array
        features:
          $ref: '#/components/schemas/Plan_specs_features'
      type: object
    Plan_specs_cpus_inner:
      example:
        count: 6
        type: type
      properties:
        count:
          type: integer
        type:
          type: string
      type: object
    Plan_specs_features:
      example:
        txt: true
        uefi: true
        raid: true
      properties:
        raid:
          type: boolean
        txt:
          type: boolean
        uefi:
          type: boolean
      type: object
    Plan_available_in_metros_inner:
      example:
        price:
          hour: 1.23
        href: href
      properties:
        href:
          description: href to the Metro
          type: string
        price:
          $ref: '#/components/schemas/Plan_available_in_inner_price'
      type: object
    Plan_available_in_inner_price:
      example:
        hour: 1.23
      properties:
        hour:
          example: 1.23
          format: double
          type: number
      type: object
    Plan_specs_drives_inner:
      example:
        size: 3.84TB
        count: 1
        type: type
        category: null
      properties:
        count:
          type: integer
        type:
          type: string
        size:
          example: 3.84TB
          type: string
        category:
          $ref: '#/components/schemas/Plan_specs_drives_inner_category'
      type: object
    InvoiceList:
      example:
        invoices:
        - amount: 0.8008282
          target_date: 2000-01-23
          credit_amount: 1.4658129
          project:
            name: name
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          reference_number: reference_number
          due_on: 2000-01-23
          number: number
          balance: 6.0274563
          created_on: 2000-01-23
          credits_applied: 5.962134
          currency: USD
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          items:
          - amount: 5.637377
            unit: unit
            description: description
            currency: currency
            details: details
            unit_price: 2.302136
            plan:
              legacy: true
              line: line
              available_in_metros:
              - price:
                  hour: 1.23
                href: href
              - price:
                  hour: 1.23
                href: href
              description: description
              available_in:
              - price:
                  hour: 1.23
                href: href
              - price:
                  hour: 1.23
                href: href
              type: null
              specs:
                features:
                  txt: true
                  uefi: true
                  raid: true
                memory:
                  total: total
                cpus:
                - count: 6
                  type: type
                - count: 6
                  type: type
                drives:
                - size: 3.84TB
                  count: 1
                  type: type
                  category: null
                - size: 3.84TB
                  count: 1
                  type: type
                  category: null
                nics:
                - count: 2
                  type: type
                - count: 2
                  type: type
              deployment_types:
              - null
              - null
              name: name
              categories:
              - categories
              - categories
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              class: m3.large.x86
              pricing: '{}'
              slug: m3.large.x86
          - amount: 5.637377
            unit: unit
            description: description
            currency: currency
            details: details
            unit_price: 2.302136
            plan:
              legacy: true
              line: line
              available_in_metros:
              - price:
                  hour: 1.23
                href: href
              - price:
                  hour: 1.23
                href: href
              description: description
              available_in:
              - price:
                  hour: 1.23
                href: href
              - price:
                  hour: 1.23
                href: href
              type: null
              specs:
                features:
                  txt: true
                  uefi: true
                  raid: true
                memory:
                  total: total
                cpus:
                - count: 6
                  type: type
                - count: 6
                  type: type
                drives:
                - size: 3.84TB
                  count: 1
                  type: type
                  category: null
                - size: 3.84TB
                  count: 1
                  type: type
                  category: null
                nics:
                - count: 2
                  type: type
                - count: 2
                  type: type
              deployment_types:
              - null
              - null
              name: name
              categories:
              - categories
              - categories
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              class: m3.large.x86
              pricing: '{}'
              slug: m3.large.x86
          status: status
        - amount: 0.8008282
          target_date: 2000-01-23
          credit_amount: 1.4658129
          project:
            name: name
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          reference_number: reference_number
          due_on: 2000-01-23
          number: number
          balance: 6.0274563
          created_on: 2000-01-23
          credits_applied: 5.962134
          currency: USD
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          items:
          - amount: 5.637377
            unit: unit
            description: description
            currency: currency
            details: details
            unit_price: 2.302136
            plan:
              legacy: true
              line: line
              available_in_metros:
              - price:
                  hour: 1.23
                href: href
              - price:
                  hour: 1.23
                href: href
              description: description
              available_in:
              - price:
                  hour: 1.23
                href: href
              - price:
                  hour: 1.23
                href: href
              type: null
              specs:
                features:
                  txt: true
                  uefi: true
                  raid: true
                memory:
                  total: total
                cpus:
                - count: 6
                  type: type
                - count: 6
                  type: type
                drives:
                - size: 3.84TB
                  count: 1
                  type: type
                  category: null
                - size: 3.84TB
                  count: 1
                  type: type
                  category: null
                nics:
                - count: 2
                  type: type
                - count: 2
                  type: type
              deployment_types:
              - null
              - null
              name: name
              categories:
              - categories
              - categories
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              class: m3.large.x86
              pricing: '{}'
              slug: m3.large.x86
          - amount: 5.637377
            unit: unit
            description: description
            currency: currency
            details: details
            unit_price: 2.302136
            plan:
              legacy: true
              line: line
              available_in_metros:
              - price:
                  hour: 1.23
                href: href
              - price:
                  hour: 1.23
                href: href
              description: description
              available_in:
              - price:
                  hour: 1.23
                href: href
              - price:
                  hour: 1.23
                href: href
              type: null
              specs:
                features:
                  txt: true
                  uefi: true
                  raid: true
                memory:
                  total: total
                cpus:
                - count: 6
                  type: type
                - count: 6
                  type: type
                drives:
                - size: 3.84TB
                  count: 1
                  type: type
                  category: null
                - size: 3.84TB
                  count: 1
                  type: type
                  category: null
                nics:
                - count: 2
                  type: type
                - count: 2
                  type: type
              deployment_types:
              - null
              - null
              name: name
              categories:
              - categories
              - categories
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              class: m3.large.x86
              pricing: '{}'
              slug: m3.large.x86
          status: status
      properties:
        invoices:
          items:
            $ref: '#/components/schemas/Invoice'
          type: array
      type: object
    Plan_deployment_types_inner:
      enum:
      - on_demand
      - spot_market
      type: string
    Invoice:
      example:
        amount: 0.8008282
        target_date: 2000-01-23
        credit_amount: 1.4658129
        project:
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        reference_number: reference_number
        due_on: 2000-01-23
        number: number
        balance: 6.0274563
        created_on: 2000-01-23
        credits_applied: 5.962134
        currency: USD
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        items:
        - amount: 5.637377
          unit: unit
          description: description
          currency: currency
          details: details
          unit_price: 2.302136
          plan:
            legacy: true
            line: line
            available_in_metros:
            - price:
                hour: 1.23
              href: href
            - price:
                hour: 1.23
              href: href
            description: description
            available_in:
            - price:
                hour: 1.23
              href: href
            - price:
                hour: 1.23
              href: href
            type: null
            specs:
              features:
                txt: true
                uefi: true
                raid: true
              memory:
                total: total
              cpus:
              - count: 6
                type: type
              - count: 6
                type: type
              drives:
              - size: 3.84TB
                count: 1
                type: type
                category: null
              - size: 3.84TB
                count: 1
                type: type
                category: null
              nics:
              - count: 2
                type: type
              - count: 2
                type: type
            deployment_types:
            - null
            - null
            name: name
            categories:
            - categories
            - categories
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            class: m3.large.x86
            pricing: '{}'
            slug: m3.large.x86
        - amount: 5.637377
          unit: unit
          description: description
          currency: currency
          details: details
          unit_price: 2.302136
          plan:
            legacy: true
            line: line
            available_in_metros:
            - price:
                hour: 1.23
              href: href
            - price:
                hour: 1.23
              href: href
            description: description
            available_in:
            - price:
                hour: 1.23
              href: href
            - price:
                hour: 1.23
              href: href
            type: null
            specs:
              features:
                txt: true
                uefi: true
                raid: true
              memory:
                total: total
              cpus:
              - count: 6
                type: type
              - count: 6
                type: type
              drives:
              - size: 3.84TB
                count: 1
                type: type
                category: null
              - size: 3.84TB
                count: 1
                type: type
                category: null
              nics:
              - count: 2
                type: type
              - count: 2
                type: type
            deployment_types:
            - null
            - null
            name: name
            categories:
            - categories
            - categories
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            class: m3.large.x86
            pricing: '{}'
            slug: m3.large.x86
        status: status
      properties:
        amount:
          format: float
          type: number
        balance:
          format: float
          type: number
        created_on:
          format: date
          type: string
        credit_amount:
          format: float
          type: number
        credits_applied:
          format: float
          type: number
        currency:
          example: USD
          type: string
        due_on:
          format: date
          type: string
        id:
          format: uuid
          type: string
        items:
          items:
            $ref: '#/components/schemas/LineItem'
          type: array
        number:
          type: string
        project:
          $ref: '#/components/schemas/ProjectIdName'
        reference_number:
          type: string
        status:
          type: string
        target_date:
          format: date
          type: string
      type: object
    Plan_type:
      description: The plan type
      enum:
      - standard
      - workload_optimized
      - custom
      type: string
    Plan_specs_nics_inner:
      example:
        count: 2
        type: type
      properties:
        count:
          example: 2
          type: integer
        type:
          type: string
      type: object
    Plan_available_in_inner:
      example:
        price:
          hour: 1.23
        href: href
      properties:
        href:
          description: href to the Facility
          type: string
        price:
          $ref: '#/components/schemas/Plan_available_in_inner_price'
      type: object
    LineItem:
      example:
        amount: 5.637377
        unit: unit
        description: description
        currency: currency
        details: details
        unit_price: 2.302136
        plan:
          legacy: true
          line: line
          available_in_metros:
          - price:
              hour: 1.23
            href: href
          - price:
              hour: 1.23
            href: href
          description: description
          available_in:
          - price:
              hour: 1.23
            href: href
          - price:
              hour: 1.23
            href: href
          type: null
          specs:
            features:
              txt: true
              uefi: true
              raid: true
            memory:
              total: total
            cpus:
            - count: 6
              type: type
            - count: 6
              type: type
            drives:
            - size: 3.84TB
              count: 1
              type: type
              category: null
            - size: 3.84TB
              count: 1
              type: type
              category: null
            nics:
            - count: 2
              type: type
            - count: 2
              type: type
          deployment_types:
          - null
          - null
          name: name
          categories:
          - categories
          - categories
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          class: m3.large.x86
          pricing: '{}'
          slug: m3.large.x86
      properties:
        amount:
          format: float
          type: number
        currency:
          type: string
        description:
          type: string
        details:
          type: string
        plan:
          $ref: '#/components/schemas/Plan'
        unit:
          type: string
        unit_price:
          format: float
          type: number
      type: object
    Plan:
      example:
        legacy: true
        line: line
        available_in_metros:
        - price:
            hour: 1.23
          href: href
        - price:
            hour: 1.23
          href: href
        description: description
        available_in:
        - price:
            hour: 1.23
          href: href
        - price:
            hour: 1.23
          href: href
        type: null
        specs:
          features:
            txt: true
            uefi: true
            raid: true
          memory:
            total: total
          cpus:
          - count: 6
            type: type
          - count: 6
            type: type
          drives:
          - size: 3.84TB
            count: 1
            type: type
            category: null
          - size: 3.84TB
            count: 1
            type: type
            category: null
          nics:
          - count: 2
            type: type
          - count: 2
            type: type
        deployment_types:
        - null
        - null
        name: name
        categories:
        - categories
        - categories
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        class: m3.large.x86
        pricing: '{}'
        slug: m3.large.x86
      properties:
        available_in:
          description: Shows which facilities the plan is available in, and the facility-based price if it is different from the default price.
          items:
            $ref: '#/components/schemas/Plan_available_in_inner'
          type: array
        available_in_metros:
          description: Shows which metros the plan is available in, and the metro-based price if it is different from the default price.
          items:
            $ref: '#/components/schemas/Plan_available_in_metros_inner'
          type: array
        categories:
          description: Categories of the plan, like compute or storage. A Plan can belong to multiple categories.
          items:
            type: string
          type: array
        class:
          example: m3.large.x86
          type: string
        description:
          type: string
        deployment_types:
          items:
            $ref: '#/components/schemas/Plan_deployment_types_inner'
          minItems: 0
          type: array
          uniqueItems: true
        id:
          format: uuid
          type: string
        legacy:
          description: Deprecated. Always return false
          type: boolean
          x-deprecated: true
        line:
          type: string
        name:
          type: string
        pricing:
          type: object
        slug:
          example: m3.large.x86
          type: string
        specs:
          $ref: '#/components/schemas/Plan_specs'
        type:
          $ref: '#/components/schemas/Plan_type'
      type: object
  securitySchemes:
    x_auth_token:
      description: 'HTTP header containing the User or Project API key that will be used to authenticate the request.

        '
      in: header
      name: X-Auth-Token
      type: apiKey
      x-displayName: X-Auth-Token
x-tagGroups:
- name: Accounts and Organization
  tags:
  - Authentication
  - Emails
  - Invitations
  - Memberships
  - Organizations
  - OTPs
  - PasswordResetTokens
  - PaymentMethods
  - Projects
  - SSHKeys
  - SupportRequest
  - TransferRequests
  - TwoFactorAuth
  - Users
  - UserVerificationTokens
- name: Services and Billing
  tags:
  - Events
  - Facilities
  - Incidents
  - Invoices
  - Licenses
  - Metros
  - Plans
  - Usages
- name: Servers
  tags:
  - Devices
  - Batches
  - Capacity
  - HardwareReservations
  - OperatingSystems
  - Ports
  - SelfServiceReservations
  - SpotMarket
  - Userdata
  - Volumes
- name: Networking
  tags:
  - BGP
  - Interconnections
  - IPAddresses
  - MetalGateways
  - VLANs
  - VRFs
