openapi: 3.0.0
info:
  contact:
    email: support@equinixmetal.com
    name: Equinix Metal API Team
  description: "# Introduction\nEquinix Metal provides a RESTful HTTP API which can be reached at <https://api.equinix.com/metal/v1>. This document describes the API and how to use it.\n\nThe API allows you to programmatically interact with all\nof your Equinix Metal resources, including devices, networks, addresses, organizations,\nprojects, and your user account. Every feature of the Equinix Metal web interface is accessible through the API.\n\nThe API docs are generated from the Equinix Metal OpenAPI specification and are officially hosted at <https://metal.equinix.com/developers/api>.\n\n# Common Parameters\n\nThe Equinix Metal API uses a few methods to minimize network traffic and improve throughput. These parameters are not used in all API calls, but are used often enough to warrant their own section. Look for these parameters in the documentation for the API calls that support them.\n\n## Pagination\n\nPagination is used to limit the number of results returned in a single request. The API will return a maximum of 100 results per page. To retrieve additional results, you can use the `page` and `per_page` query parameters.\n\nThe `page` parameter is used to specify the page number. The first page is `1`. The `per_page` parameter is used to specify the number of results per page. The maximum number of results differs by resource type.\n\n## Sorting\n\nWhere offered, the API allows you to sort results by a specific field. To sort results use the `sort_by` query parameter with the root level field name as the value. The `sort_direction` parameter is used to specify the sort direction, either either `asc` (ascending) or `desc` (descending).\n\n## Filtering\n\nFiltering is used to limit the results returned in a single request. The API supports filtering by certain fields in the response. To filter results, you can use the field as a query parameter.\n\nFor example, to filter the IP list to only return public IPv4 addresses, you can filter by the `type` field, as in the following request:\n\n```sh\ncurl -H 'X-Auth-Token: my_authentication_token' \\\n  https://api.equinix.com/metal/v1/projects/id/ips?type=public_ipv4\n```\n\nOnly IP addresses with the `type` field set to `public_ipv4` will be returned.\n\n## Searching\n\nSearching is used to find matching resources using multiple field comparissons. The API supports searching in resources that define this behavior. Currently the search parameter is only available on devices, ssh_keys, api_keys and memberships endpoints.\n\nTo search resources you can use the `search` query parameter.\n\n## Include and Exclude\n\nFor resources that contain references to other resources, sucha as a Device that refers to the Project it resides in, the Equinix Metal API will returns `href` values (API links) to the associated resource.\n\n```json\n{\n  ...\n  \"project\": {\n    \"href\": \"/metal/v1/projects/f3f131c8-f302-49ef-8c44-9405022dc6dd\"\n  }\n}\n```\n\nIf you're going need the project details, you can avoid a second API request.  Specify the contained `href` resources and collections that you'd like to have included in the response using the `include` query parameter.\n\nFor example:\n\n```sh\ncurl -H 'X-Auth-Token: my_authentication_token' \\\n  https://api.equinix.com/metal/v1/user?include=projects\n```\n\nThe `include` parameter is generally accepted in `GET`, `POST`, `PUT`, and `PATCH` requests where `href` resources are presented.\n\nTo have multiple resources include, use a comma-separated list (e.g. `?include=emails,projects,memberships`).\n\n```sh\ncurl -H 'X-Auth-Token: my_authentication_token' \\\n  https://api.equinix.com/metal/v1/user?include=emails,projects,memberships\n```\n\nYou may also include nested associations up to three levels deep using dot notation (`?include=memberships.projects`):\n\n```sh\ncurl -H 'X-Auth-Token: my_authentication_token' \\\n  https://api.equinix.com/metal/v1/user?include=memberships.projects\n```\n\nTo exclude resources, and optimize response delivery, use the `exclude` query parameter. The `exclude` parameter is generally accepted in `GET`, `POST`, `PUT`, and `PATCH` requests for fields with nested object responses. When excluded, these fields will be replaced with an object that contains only an `href` field.\n"
  license:
    name: Equinix Metal
    url: https://metal.equinix.com/legal/
  termsOfService: https://metal.equinix.com/legal/
  title: Metal Authentication Devices API
  version: 1.0.0
servers:
- url: https://api.equinix.com/metal/v1
security:
- x_auth_token: []
tags:
- description: 'Device Management. Check out the product docs to learn more about [Server Devices](https://metal.equinix.com/developers/docs/servers/).

    '
  externalDocs:
    url: https://metal.equinix.com/developers/docs/deploy/on-demand/
  name: Devices
paths:
  /devices/{id}:
    delete:
      description: Deletes a device and deprovisions it in our datacenter.
      operationId: deleteDevice
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Force the deletion of the device, by detaching any storage volume still active.
        in: query
        name: force_delete
        schema:
          type: boolean
      responses:
        '204':
          description: no content
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Delete the device
      tags:
      - Devices
    get:
      description: "Type-specific options (such as facility for baremetal devices) will be included as part of the main data structure.\n                         State value can be one of: active inactive queued or provisioning"
      operationId: findDeviceById
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Nested attributes to exclude. Excluded objects will return only the href

          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply

          nested objects.'
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Retrieve a device
      tags:
      - Devices
    put:
      description: Updates the device.
      operationId: updateDevice
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Nested attributes to exclude. Excluded objects will return only the href

          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply

          nested objects.'
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceUpdateInput'
        description: Device to update
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Update the device
      tags:
      - Devices
  /devices/{id}/actions:
    post:
      description: 'Performs an action for the given device.  Possible actions include: power_on, power_off, reboot, reinstall, and rescue (reboot the device into rescue OS.)'
      operationId: performAction
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceActionInput'
        description: Action to perform
        required: true
      responses:
        '202':
          description: accepted
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Perform an action
      tags:
      - Devices
  /devices/{id}/bandwidth:
    get:
      description: Retrieve an instance bandwidth for a given period of time.
      operationId: findInstanceBandwidth
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Timestamp from range
        in: query
        name: from
        required: true
        schema:
          type: string
      - description: Timestamp to range
        in: query
        name: until
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ok
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Retrieve an instance bandwidth
      tags:
      - Devices
  /devices/{id}/bgp/neighbors:
    get:
      description: Provides a summary of the BGP neighbor data associated to the BGP sessions for this device.
      operationId: getBgpNeighborData
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpSessionNeighbors'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Retrieve BGP neighbor data for this device
      tags:
      - Devices
  /devices/{id}/bgp/sessions:
    get:
      description: Provides a listing of available BGP sessions for the device.
      operationId: findBgpSessions
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpSessionList'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
      summary: Retrieve all BGP sessions
      tags:
      - Devices
    post:
      description: Creates a BGP session.
      operationId: createBgpSession
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BGPSessionInput'
        description: BGP session to create
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpSession'
          description: created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Create a BGP session
      tags:
      - Devices
  /devices/{id}/customdata:
    get:
      description: Provides the custom metadata stored for this instance in json format
      operationId: findDeviceCustomdata
      parameters:
      - description: Instance UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Retrieve the custom metadata of an instance
      tags:
      - Devices
  /devices/{id}/diagnostics/health/rollup:
    get:
      description: Returns the health rollup status of the device.
      operationId: getDeviceHealthRollup
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceHealthRollup'
          description: Successful operation
        '401':
          description: Error responses are included with 4xx and 5xx HTTP responses from the API service. Either "error" or "errors" will be set.
        '404':
          description: Error responses are included with 4xx and 5xx HTTP responses from the API service. Either "error" or "errors" will be set.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get Device's Health Status
      tags:
      - Devices
  /devices/{id}/firmware-sets:
    get:
      description: Returns the firmware set associated with the device. If a custom firmware set is associated with the device, then it is returned. Otherwise, if a default firmware set is available it is returned.
      operationId: getDeviceFirmwareSets
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirmwareSetResponse'
          description: Successful operation
        '401':
          description: Error responses are included with 4xx and 5xx HTTP responses from the API service. Either "error" or "errors" will be set.
        '404':
          description: Error responses are included with 4xx and 5xx HTTP responses from the API service. Either "error" or "errors" will be set.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server Error
      summary: Get Device's associated Firmware Set
      tags:
      - Devices
  /devices/{id}/ips:
    get:
      description: Returns all ip assignments for a device.
      operationId: findIPAssignments
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Nested attributes to exclude. Excluded objects will return only the href

          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply

          nested objects.'
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPAssignmentList'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Retrieve all ip assignments
      tags:
      - Devices
    post:
      description: Creates an ip assignment for a device.
      operationId: createIPAssignment
      parameters:
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Nested attributes to exclude. Excluded objects will return only the href

          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply

          nested objects.'
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IPAssignmentInput'
        description: IPAssignment to create
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPAssignment'
          description: created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Create an ip assignment
      tags:
      - Devices
  /devices/{id}/metadata:
    get:
      description: Retrieve device metadata
      operationId: findDeviceMetadataByID
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Retrieve metadata
      tags:
      - Devices
  /devices/{id}/traffic:
    get:
      description: Returns traffic for a specific device.
      operationId: findTraffic
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Traffic direction
        in: query
        name: direction
        required: true
        schema:
          $ref: '#/components/schemas/findTraffic_direction_parameter'
      - description: Traffic interval
        in: query
        name: interval
        schema:
          $ref: '#/components/schemas/findTraffic_interval_parameter'
      - description: Traffic bucket
        in: query
        name: bucket
        schema:
          $ref: '#/components/schemas/findTraffic_bucket_parameter'
      - explode: true
        in: query
        name: timeframe
        schema:
          $ref: '#/components/schemas/findTraffic_timeframe_parameter'
        style: deepObject
      responses:
        '200':
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Retrieve device traffic
      tags:
      - Devices
  /devices/{id}/userdata:
    get:
      description: Retrieve device userdata
      operationId: findDeviceUserdataByID
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Userdata'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Retrieve userdata
      tags:
      - Devices
  /devices/{instance_id}/ips/{id}/customdata:
    get:
      description: Provides the custom metadata stored for this IP Assignment in json format
      operationId: findIPAssignmentCustomdata
      parameters:
      - description: Instance UUID
        in: path
        name: instance_id
        required: true
        schema:
          format: uuid
          type: string
      - description: Ip Assignment UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Retrieve the custom metadata of an IP Assignment
      tags:
      - Devices
  /organizations/{id}/devices:
    get:
      description: Provides a collection of devices for a given organization.
      operationId: findOrganizationDevices
      parameters:
      - description: Organization UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Search by hostname, description, short_id, reservation short_id, tags, plan name, plan slug, facility code, facility name, operating system name, operating system slug, IP addresses.
        in: query
        name: search
        schema:
          type: string
      - description: Filter by plan category
        in: query
        name: categories
        schema:
          items:
            $ref: '#/components/schemas/findOrganizationDevices_categories_parameter_inner'
          type: array
      - description: Filter by device facility
        in: query
        name: facility
        schema:
          type: string
      - description: Filter by partial hostname
        in: query
        name: hostname
        schema:
          type: string
      - description: Filter only reserved instances. When set to true, only include reserved instances. When set to false, only include on-demand instances.
        in: query
        name: reserved
        schema:
          type: boolean
      - description: Filter by device tag
        in: query
        name: tag
        schema:
          type: string
      - description: Filter by instance type (ondemand,spot,reserved)
        in: query
        name: type
        schema:
          type: string
      - description: Filter only instances marked for termination. When set to true, only include instances that have a termination time. When set to false, only include instances that do not have a termination time.
        in: query
        name: has_termination_time
        schema:
          type: boolean
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Nested attributes to exclude. Excluded objects will return only the href

          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply

          nested objects.'
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          maximum: 100000
          minimum: 1
          type: integer
      - description: Items returned per page
        in: query
        name: per_page
        schema:
          default: 10
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceList'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Retrieve all devices of an organization
      tags:
      - Devices
      x-equinix-metal-paginated-property: Devices
  /projects/{id}/devices:
    get:
      description: Provides a collection of devices for a given project.
      operationId: findProjectDevices
      parameters:
      - description: Project UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Search by hostname, description, short_id, reservation short_id, tags, plan name, plan slug, facility code, facility name, operating system name, operating system slug, IP addresses.
        in: query
        name: search
        schema:
          type: string
      - description: Filter by plan category
        in: query
        name: categories
        schema:
          items:
            $ref: '#/components/schemas/findOrganizationDevices_categories_parameter_inner'
          type: array
      - description: Filter by device facility
        in: query
        name: facility
        schema:
          type: string
      - description: Filter by device metro
        in: query
        name: metro
        schema:
          type: string
      - description: Filter by partial hostname
        in: query
        name: hostname
        schema:
          type: string
      - description: Filter only reserved instances. When set to true, only include reserved instances. When set to false, only include on-demand instances.
        in: query
        name: reserved
        schema:
          type: boolean
      - description: Filter by device tag
        in: query
        name: tag
        schema:
          type: string
      - description: Filter by instance type (ondemand,spot,reserved)
        in: query
        name: type
        schema:
          type: string
      - description: Filter only instances marked for termination. When set to true, only include instances that have a termination time. When set to false, only include instances that do not have a termination time.
        in: query
        name: has_termination_time
        schema:
          type: boolean
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Nested attributes to exclude. Excluded objects will return only the href

          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply

          nested objects.'
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          maximum: 100000
          minimum: 1
          type: integer
      - description: Items returned per page
        in: query
        name: per_page
        schema:
          default: 10
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceList'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Retrieve all devices of a project
      tags:
      - Devices
      x-equinix-metal-paginated-property: Devices
    post:
      description: 'Creates a new device and provisions it in the specified location.


        Device type-specific options are accepted.  For example, `baremetal` devices accept `operating_system`, `hostname`, and `plan`. These parameters may not be accepted for other device types. The default device type is `baremetal`.'
      operationId: createDevice
      parameters:
      - description: Project UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Nested attributes to exclude. Excluded objects will return only the href

          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply

          nested objects.'
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createDevice_request'
        description: Device to create
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
          description: created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Create a device
      tags:
      - Devices
components:
  schemas:
    Project:
      example:
        devices:
        - href: href
        - href: href
        volumes:
        - href: href
        - href: href
        created_at: 2000-01-23 04:56:07+00:00
        type: null
        memberships:
        - href: href
        - href: href
        bgp_config:
          href: href
        tags:
        - tags
        - tags
        max_devices: '{}'
        ssh_keys:
        - href: href
        - href: href
        updated_at: 2000-01-23 04:56:07+00:00
        invitations:
        - href: href
        - href: href
        members:
        - href: href
        - href: href
        organization:
          website: website
          address:
            country: country
            address: address
            address2: address2
            city: city
            coordinates:
              latitude: latitude
              longitude: longitude
            state: state
            zip_code: zip_code
          projects:
          - href: href
          - href: href
          credit_amount: 1.4658129
          created_at: 2000-01-23 04:56:07+00:00
          description: description
          billing_address:
            country: country
            address: address
            address2: address2
            city: city
            coordinates:
              latitude: latitude
              longitude: longitude
            state: state
            zip_code: zip_code
          memberships:
          - href: href
          - href: href
          enforce_2fa_at: 2000-01-23 04:56:07+00:00
          twitter: twitter
          updated_at: 2000-01-23 04:56:07+00:00
          terms: 5
          members:
          - href: href
          - href: href
          name: name
          logo: logo
          customdata: '{}'
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        name: name
        network_status: '{}'
        customdata: '{}'
        href: href
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        payment_method:
          href: href
      properties:
        bgp_config:
          $ref: '#/components/schemas/Href'
        created_at:
          format: date-time
          type: string
        customdata:
          type: object
        devices:
          items:
            $ref: '#/components/schemas/Href'
          type: array
        href:
          type: string
        id:
          format: uuid
          type: string
        invitations:
          items:
            $ref: '#/components/schemas/Href'
          type: array
        max_devices:
          type: object
        members:
          items:
            $ref: '#/components/schemas/Href'
          type: array
        memberships:
          items:
            $ref: '#/components/schemas/Href'
          type: array
        name:
          description: The name of the project. Cannot contain characters encoded in greater than 3 bytes such as emojis.
          maxLength: 80
          minLength: 1
          type: string
        network_status:
          type: object
        organization:
          $ref: '#/components/schemas/Organization'
        payment_method:
          $ref: '#/components/schemas/Href'
        ssh_keys:
          items:
            $ref: '#/components/schemas/Href'
          type: array
        updated_at:
          format: date-time
          type: string
        volumes:
          items:
            $ref: '#/components/schemas/Href'
          type: array
        type:
          $ref: '#/components/schemas/Project_type'
        tags:
          items:
            type: string
          type: array
      type: object
    findTraffic_timeframe_parameter:
      properties:
        ended_at:
          format: date-time
          type: string
        started_at:
          format: date-time
          type: string
      required:
      - ended_at
      - started_at
      type: object
    HardwareReservation:
      example:
        custom_rate: 1050.5
        created_at: 2000-01-23 04:56:07+00:00
        project:
          devices:
          - href: href
          - href: href
          volumes:
          - href: href
          - href: href
          created_at: 2000-01-23 04:56:07+00:00
          type: null
          memberships:
          - href: href
          - href: href
          bgp_config:
            href: href
          tags:
          - tags
          - tags
          max_devices: '{}'
          ssh_keys:
          - href: href
          - href: href
          updated_at: 2000-01-23 04:56:07+00:00
          invitations:
          - href: href
          - href: href
          members:
          - href: href
          - href: href
          organization:
            website: website
            address:
              country: country
              address: address
              address2: address2
              city: city
              coordinates:
                latitude: latitude
                longitude: longitude
              state: state
              zip_code: zip_code
            projects:
            - href: href
            - href: href
            credit_amount: 1.4658129
            created_at: 2000-01-23 04:56:07+00:00
            description: description
            billing_address:
              country: country
              address: address
              address2: address2
              city: city
              coordinates:
                latitude: latitude
                longitude: longitude
              state: state
              zip_code: zip_code
            memberships:
            - href: href
            - href: href
            enforce_2fa_at: 2000-01-23 04:56:07+00:00
            twitter: twitter
            updated_at: 2000-01-23 04:56:07+00:00
            terms: 5
            members:
            - href: href
            - href: href
            name: name
            logo: logo
            customdata: '{}'
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          name: name
          network_status: '{}'
          customdata: '{}'
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          payment_method:
            href: href
        switch_uuid: switch_uuid
        short_id: short_id
        termination_time: 2000-01-23 04:56:07+00:00
        provisionable: true
        need_of_service: true
        href: href
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        device: null
        facility:
          features:
          - baremetal
          - backend_transfer
          - global_ipv4
          address:
            country: country
            address: address
            address2: address2
            city: city
            coordinates:
              latitude: latitude
              longitude: longitude
            state: state
            zip_code: zip_code
          code: code
          ip_ranges:
          - 2604:1380::/36
          - 147.75.192.0/21
          metro: null
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        plan:
          legacy: true
          line: line
          available_in_metros:
          - price:
              hour: 1.23
            href: href
          - price:
              hour: 1.23
            href: href
          description: description
          available_in:
          - price:
              hour: 1.23
            href: href
          - price:
              hour: 1.23
            href: href
          type: null
          specs:
            features:
              txt: true
              uefi: true
              raid: true
            memory:
              total: total
            cpus:
            - count: 6
              type: type
            - count: 6
              type: type
            drives:
            - size: 3.84TB
              count: 1
              type: type
              category: null
            - size: 3.84TB
              count: 1
              type: type
              category: null
            nics:
            - count: 2
              type: type
            - count: 2
              type: type
          deployment_types:
          - null
          - null
          name: name
          categories:
          - categories
          - categories
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          class: m3.large.x86
          pricing: '{}'
          slug: m3.large.x86
        spare: true
      properties:
        created_at:
          format: date-time
          type: string
        custom_rate:
          description: Amount that will be charged for every billing_cycle.
          example: 1050.5
          format: float
          type: number
        device:
          $ref: '#/components/schemas/Device'
        facility:
          $ref: '#/components/schemas/Facility'
        href:
          type: string
        id:
          format: uuid
          type: string
        need_of_service:
          description: Whether this Device requires assistance from Equinix Metal.
          type: boolean
        plan:
          $ref: '#/components/schemas/Plan'
        project:
          $ref: '#/components/schemas/Project'
        provisionable:
          description: Whether the reserved server is provisionable or not. Spare devices can't be provisioned unless they are activated first.
          type: boolean
        short_id:
          description: Short version of the ID.
          format: string
          type: string
        spare:
          description: Whether the Hardware Reservation is a spare. Spare Hardware Reservations are used when a Hardware Reservations requires service from Equinix Metal
          type: boolean
        switch_uuid:
          description: Switch short id. This can be used to determine if two devices are connected to the same switch, for example.
          type: string
        termination_time:
          description: Expiration date for the reservation.
          format: date-time
          type: string
      type: object
    VirtualNetwork:
      example:
        vxlan: 4
        instances:
        - href: href
        - href: href
        description: description
        created_at: 2000-01-23 04:56:07+00:00
        assigned_to_virtual_circuit: true
        tags:
        - tags
        - tags
        metal_gateways:
        - gateway_address: 10.1.2.1/27
          updated_at: 2000-01-23 04:56:07+00:00
          vlan: 1001
          created_at: 2000-01-23 04:56:07+00:00
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
        - gateway_address: 10.1.2.1/27
          updated_at: 2000-01-23 04:56:07+00:00
          vlan: 1001
          created_at: 2000-01-23 04:56:07+00:00
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
        metro_code: metro_code
        metro:
          href: href
        href: href
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        facility:
          href: href
        assigned_to:
          href: href
      properties:
        assigned_to:
          $ref: '#/components/schemas/Href'
        assigned_to_virtual_circuit:
          description: True if the virtual network is attached to a virtual circuit. False if not.
          type: boolean
        description:
          type: string
        facility:
          $ref: '#/components/schemas/Href'
        href:
          type: string
        created_at:
          format: date-time
          type: string
        id:
          format: uuid
          type: string
        instances:
          description: A list of instances with ports currently associated to this Virtual Network.
          items:
            $ref: '#/components/schemas/Href'
          type: array
        metal_gateways:
          description: A list of metal gateways currently associated to this Virtual Network.
          items:
            $ref: '#/components/schemas/MetalGatewayLite'
          type: array
        metro:
          $ref: '#/components/schemas/Href'
        metro_code:
          description: The Metro code of the metro in which this Virtual Network is defined.
          type: string
        vxlan:
          type: integer
        tags:
          items:
            type: string
          type: array
      type: object
    Metadata_network:
      example:
        addresses:
        - addresses
        - addresses
        interfaces:
        - '{}'
        - '{}'
        network:
          bonding:
            link_aggregation: link_aggregation
            mode: 0
            mac: mac
      properties:
        addresses:
          items:
            type: string
          type: array
        interfaces:
          items:
            type: object
          type: array
        network:
          $ref: '#/components/schemas/Metadata_network_network'
      type: object
    Plan:
      example:
        legacy: true
        line: line
        available_in_metros:
        - price:
            hour: 1.23
          href: href
        - price:
            hour: 1.23
          href: href
        description: description
        available_in:
        - price:
            hour: 1.23
          href: href
        - price:
            hour: 1.23
          href: href
        type: null
        specs:
          features:
            txt: true
            uefi: true
            raid: true
          memory:
            total: total
          cpus:
          - count: 6
            type: type
          - count: 6
            type: type
          drives:
          - size: 3.84TB
            count: 1
            type: type
            category: null
          - size: 3.84TB
            count: 1
            type: type
            category: null
          nics:
          - count: 2
            type: type
          - count: 2
            type: type
        deployment_types:
        - null
        - null
        name: name
        categories:
        - categories
        - categories
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        class: m3.large.x86
        pricing: '{}'
        slug: m3.large.x86
      properties:
        available_in:
          description: Shows which facilities the plan is available in, and the facility-based price if it is different from the default price.
          items:
            $ref: '#/components/schemas/Plan_available_in_inner'
          type: array
        available_in_metros:
          description: Shows which metros the plan is available in, and the metro-based price if it is different from the default price.
          items:
            $ref: '#/components/schemas/Plan_available_in_metros_inner'
          type: array
        categories:
          description: Categories of the plan, like compute or storage. A Plan can belong to multiple categories.
          items:
            type: string
          type: array
        class:
          example: m3.large.x86
          type: string
        description:
          type: string
        deployment_types:
          items:
            $ref: '#/components/schemas/Plan_deployment_types_inner'
          minItems: 0
          type: array
          uniqueItems: true
        id:
          format: uuid
          type: string
        legacy:
          description: Deprecated. Always return false
          type: boolean
          x-deprecated: true
        line:
          type: string
        name:
          type: string
        pricing:
          type: object
        slug:
          example: m3.large.x86
          type: string
        specs:
          $ref: '#/components/schemas/Plan_specs'
        type:
          $ref: '#/components/schemas/Plan_type'
      type: object
    Partition:
      example:
        number: 3
        size: size
        label: label
      properties:
        label:
          type: string
        number:
          format: int32
          type: integer
        size:
          type: string
      type: object
    Component:
      example:
        component: bmc
        filename: filename
        updated_at: 2000-01-23 04:56:07+00:00
        vendor: equinix
        upstream_url: upstream_url
        checksum: checksum
        created_at: 2000-01-23 04:56:07+00:00
        model:
        - romed8hm3
        - romed8hm3
        repository_url: repository_url
        uuid: 0516463a-47ee-4809-9a66-ece8c740eed9
        version: 1.5.0
      properties:
        uuid:
          description: Component UUID
          example: 0516463a-47ee-4809-9a66-ece8c740eed9
          format: uuid
          readOnly: true
          type: string
        vendor:
          description: Component vendor
          example: equinix
          readOnly: true
          type: string
        model:
          description: List of models where this component version can be applied
          items:
            example: romed8hm3
            type: string
          readOnly: true
          type: array
        filename:
          description: name of the file
          readOnly: true
          type: string
        version:
          description: Version of the component
          example: 1.5.0
          readOnly: true
          type: string
        component:
          description: Component type
          example: bmc
          readOnly: true
          type: string
        checksum:
          description: File checksum
          readOnly: true
          type: string
        upstream_url:
          description: Location of the file
          readOnly: true
          type: string
        repository_url:
          description: Location of the file in the repository
          readOnly: true
          type: string
        created_at:
          description: Datetime when the block was created.
          format: date-time
          readOnly: true
          type: string
        updated_at:
          description: Datetime when the block was updated.
          format: date-time
          readOnly: true
          type: string
      type: object
    findOrganizationDevices_categories_parameter_inner:
      enum:
      - compute
      - storage
      - vmce
      - legacy_gen
      - current_gen
      example: compute
      type: string
    Coordinates:
      example:
        latitude: latitude
        longitude: longitude
      properties:
        latitude:
          type: string
        longitude:
          type: string
      type: object
    DeviceHealthRollup_health_rollup:
      description: Health Status
      enum:
      - ok
      - warning
      - critical
      readOnly: true
      type: string
    FirmwareSetResponse:
      description: Represents single Firmware set response
      example:
        record:
          updated_at: 2000-01-23 04:56:07+00:00
          name: name
          created_at: 2000-01-23 04:56:07+00:00
          attributes:
          - updated_at: 2000-01-23 04:56:07+00:00
            data:
              vendor: vendor
              model: model
              plan: plan
              latest: true
            namespace: namespace
            created_at: 2000-01-23 04:56:07+00:00
          - updated_at: 2000-01-23 04:56:07+00:00
            data:
              vendor: vendor
              model: model
              plan: plan
              latest: true
            namespace: namespace
            created_at: 2000-01-23 04:56:07+00:00
          uuid: 0516463a-47ee-4809-9a66-ece8c740eed9
          component_firmware:
          - component: bmc
            filename: filename
            updated_at: 2000-01-23 04:56:07+00:00
            vendor: equinix
            upstream_url: upstream_url
            checksum: checksum
            created_at: 2000-01-23 04:56:07+00:00
            model:
            - romed8hm3
            - romed8hm3
            repository_url: repository_url
            uuid: 0516463a-47ee-4809-9a66-ece8c740eed9
            version: 1.5.0
          - component: bmc
            filename: filename
            updated_at: 2000-01-23 04:56:07+00:00
            vendor: equinix
            upstream_url: upstream_url
            checksum: checksum
            created_at: 2000-01-23 04:56:07+00:00
            model:
            - romed8hm3
            - romed8hm3
            repository_url: repository_url
            uuid: 0516463a-47ee-4809-9a66-ece8c740eed9
            version: 1.5.0
      properties:
        record:
          $ref: '#/components/schemas/FirmwareSet'
      type: object
    Plan_deployment_types_inner:
      enum:
      - on_demand
      - spot_market
      type: string
    Device_actions_inner:
      example:
        name: name
        type: type
      properties:
        type:
          type: string
        name:
          type: string
      type: object
    DeviceActionInput_type:
      description: Action to perform. See Device.actions for possible actions.
      enum:
      - power_on
      - power_off
      - reboot
      - rescue
      - reinstall
      type: string
    DeviceList:
      example:
        devices:
        - ip_addresses:
          - address: address
            parent_block:
              netmask: netmask
              cidr: 2
              href: href
              network: network
            created_at: 2000-01-23 04:56:07+00:00
            type: null
            enabled: true
            manageable: true
            network: network
            address_family: 5
            public: true
            management: true
            netmask: netmask
            metro: null
            next_hop: next_hop
            cidr: 5
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: null
            global_ip: true
            gateway: gateway
            assigned_to:
              href: href
          - address: address
            parent_block:
              netmask: netmask
              cidr: 2
              href: href
              network: network
            created_at: 2000-01-23 04:56:07+00:00
            type: null
            enabled: true
            manageable: true
            network: network
            address_family: 5
            public: true
            management: true
            netmask: netmask
            metro: null
            next_hop: next_hop
            cidr: 5
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: null
            global_ip: true
            gateway: gateway
            assigned_to:
              href: href
          iqn: iqn
          created_at: 2000-01-23 04:56:07+00:00
          description: description
          project:
            devices:
            - href: href
            - href: href
            volumes:
            - href: href
            - href: href
            created_at: 2000-01-23 04:56:07+00:00
            type: null
            memberships:
            - href: href
            - href: href
            bgp_config:
              href: href
            tags:
            - tags
            - tags
            max_devices: '{}'
            ssh_keys:
            - href: href
            - href: href
            updated_at: 2000-01-23 04:56:07+00:00
            invitations:
            - href: href
            - href: href
            members:
            - href: href
            - href: href
            organization:
              website: website
              address:
                country: country
                address: address
                address2: address2
                city: city
                coordinates:
                  latitude: latitude
                  longitude: longitude
                state: state
                zip_code: zip_code
              projects:
              - href: href
              - href: href
              credit_amount: 1.4658129
              created_at: 2000-01-23 04:56:07+00:00
              description: description
              billing_address:
                country: country
                address: address
                address2: address2
                city: city
                coordinates:
                  latitude: latitude
                  longitude: longitude
                state: state
                zip_code: zip_code
              memberships:
              - href: href
              - href: href
              enforce_2fa_at: 2000-01-23 04:56:07+00:00
              twitter: twitter
              updated_at: 2000-01-23 04:56:07+00:00
              terms: 5
              members:
              - href: href
              - href: href
              name: name
              logo: logo
              customdata: '{}'
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            name: name
            network_status: '{}'
            customdata: '{}'
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            payment_method:
              href: href
          switch_uuid: switch_uuid
          storage:
            disks:
            - partitions:
              - number: 3
                size: size
                label: label
              - number: 3
                size: size
                label: label
              wipeTable: true
              device: device
            - partitions:
              - number: 3
                size: size
                label: label
              - number: 3
                size: size
                label: label
              wipeTable: true
              device: device
            filesystems:
            - mount:
                format: format
                options:
                - options
                - options
                device: device
                point: point
            - mount:
                format: format
                options:
                - options
                - options
                device: device
                point: point
            raid:
            - devices:
              - devices
              - devices
              level: level
              name: name
            - devices:
              - devices
              - devices
              level: level
              name: name
          bonding_mode: 0
          provisioning_events:
          - interpolated: interpolated
            relationships:
            - href: href
            - href: href
            ip: ip
            modified_by: '{}'
            created_at: 2000-01-23 04:56:07+00:00
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: state
            body: body
            type: type
          - interpolated: interpolated
            relationships:
            - href: href
            - href: href
            ip: ip
            modified_by: '{}'
            created_at: 2000-01-23 04:56:07+00:00
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: state
            body: body
            type: type
          network_ports:
          - native_virtual_network:
              vxlan: 4
              instances:
              - href: href
              - href: href
              description: description
              created_at: 2000-01-23 04:56:07+00:00
              assigned_to_virtual_circuit: true
              tags:
              - tags
              - tags
              metal_gateways:
              - gateway_address: 10.1.2.1/27
                updated_at: 2000-01-23 04:56:07+00:00
                vlan: 1001
                created_at: 2000-01-23 04:56:07+00:00
                href: href
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                state: null
              - gateway_address: 10.1.2.1/27
                updated_at: 2000-01-23 04:56:07+00:00
                vlan: 1001
                created_at: 2000-01-23 04:56:07+00:00
                href: href
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                state: null
              metro_code: metro_code
              metro:
                href: href
              href: href
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              facility:
                href: href
              assigned_to:
                href: href
            disbond_operation_supported: true
            data:
              bonded: true
              mac: mac
            name: bond0
            virtual_networks:
            - href: href
            - href: href
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            type: null
            network_type: null
            bond:
              name: name
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - native_virtual_network:
              vxlan: 4
              instances:
              - href: href
              - href: href
              description: description
              created_at: 2000-01-23 04:56:07+00:00
              assigned_to_virtual_circuit: true
              tags:
              - tags
              - tags
              metal_gateways:
              - gateway_address: 10.1.2.1/27
                updated_at: 2000-01-23 04:56:07+00:00
                vlan: 1001
                created_at: 2000-01-23 04:56:07+00:00
                href: href
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                state: null
              - gateway_address: 10.1.2.1/27
                updated_at: 2000-01-23 04:56:07+00:00
                vlan: 1001
                created_at: 2000-01-23 04:56:07+00:00
                href: href
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                state: null
              metro_code: metro_code
              metro:
                href: href
              href: href
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              facility:
                href: href
              assigned_to:
                href: href
            disbond_operation_supported: true
            data:
              bonded: true
              mac: mac
            name: bond0
            virtual_networks:
            - href: href
            - href: href
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            type: null
            network_type: null
            bond:
              name: name
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          userdata: userdata
          hostname: hostname
          updated_at: 2000-01-23 04:56:07+00:00
          sos: sos
          operating_system:
            default_operating_system: true
            distro: distro
            preinstallable: true
            licensed: true
            name: name
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            provisionable_on:
            - provisionable_on
            - provisionable_on
            version: version
            pricing: '{}'
            slug: slug
            distro_label: distro_label
          firmware_set_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          billing_cycle: billing_cycle
          customdata:
            key: ''
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
          locked: true
          spot_price_max: 9.301444
          plan:
            legacy: true
            line: line
            available_in_metros:
            - price:
                hour: 1.23
              href: href
            - price:
                hour: 1.23
              href: href
            description: description
            available_in:
            - price:
                hour: 1.23
              href: href
            - price:
                hour: 1.23
              href: href
            type: null
            specs:
              features:
                txt: true
                uefi: true
                raid: true
              memory:
                total: total
              cpus:
              - count: 6
                type: type
              - count: 6
                type: type
              drives:
              - size: 3.84TB
                count: 1
                type: type
                category: null
              - size: 3.84TB
                count: 1
                type: type
                category: null
              nics:
              - count: 2
                type: type
              - count: 2
                type: type
            deployment_types:
            - null
            - null
            name: name
            categories:
            - categories
            - categories
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            class: m3.large.x86
            pricing: '{}'
            slug: m3.large.x86
          provisioning_percentage: 7.0614014
          network_frozen: true
          image_url: image_url
          root_password: root_password
          volumes:
          - href: href
          - href: href
          project_lite: null
          short_id: short_id
          termination_time: 2021-09-03 16:32:00+03:00
          created_by: null
          tags:
          - tags
          - tags
          hardware_reservation:
            custom_rate: 1050.5
            created_at: 2000-01-23 04:56:07+00:00
            project:
              devices:
              - href: href
              - href: href
              volumes:
              - href: href
              - href: href
              created_at: 2000-01-23 04:56:07+00:00
              type: null
              memberships:
              - href: href
              - href: href
              bgp_config:
                href: href
              tags:
              - tags
              - tags
              max_devices: '{}'
              ssh_keys:
              - href: href
              - href: href
              updated_at: 2000-01-23 04:56:07+00:00
              invitations:
              - href: href
              - href: href
              members:
              - href: href
              - href: href
              organization:
                website: website
                address:
                  country: country
                  address: address
                  address2: address2
                  city: city
                  coordinates:
                    latitude: latitude
                    longitude: longitude
                  state: state
                  zip_code: zip_code
                projects:
                - href: href
                - href: href
                credit_amount: 1.4658129
                created_at: 2000-01-23 04:56:07+00:00
                description: description
                billing_address:
                  country: country
                  address: address
                  address2: address2
                  city: city
                  coordinates:
                    latitude: latitude
                    longitude: longitude
                  state: state
                  zip_code: zip_code
                memberships:
                - href: href
                - href: href
                enforce_2fa_at: 2000-01-23 04:56:07+00:00
                twitter: twitter
                updated_at: 2000-01-23 04:56:07+00:00
                terms: 5
                members:
                - href: href
                - href: href
                name: name
                logo: logo
                customdata: '{}'
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              name: name
              network_status: '{}'
              customdata: '{}'
              href: href
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              payment_method:
                href: href
            switch_uuid: switch_uuid
            short_id: short_id
            termination_time: 2000-01-23 04:56:07+00:00
            provisionable: true
            need_of_service: true
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            device: null
            facility:
              features:
              - baremetal
              - backend_transfer
              - global_ipv4
              address:
                country: country
                address: address
                address2: address2
                city: city
                coordinates:
                  latitude: latitude
                  longitude: longitude
                state: state
                zip_code: zip_code
              code: code
              ip_ranges:
              - 2604:1380::/36
              - 147.75.192.0/21
              metro: null
              name: name
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            plan:
              legacy: true
              line: line
              available_in_metros:
              - price:
                  hour: 1.23
                href: href
              - price:
                  hour: 1.23
                href: href
              description: description
              available_in:
              - price:
                  hour: 1.23
                href: href
              - price:
                  hour: 1.23
                href: href
              type: null
              specs:
                features:
                  txt: true
                  uefi: true
                  raid: true
                memory:
                  total: total
                cpus:
                - count: 6
                  type: type
                - count: 6
                  type: type
                drives:
                - size: 3.84TB
                  count: 1
                  type: type
                  category: null
                - size: 3.84TB
                  count: 1
                  type: type
                  category: null
                nics:
                - count: 2
                  type: type
                - count: 2
                  type: type
              deployment_types:
              - null
              - null
              name: name
              categories:
              - categories
              - categories
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              class: m3.large.x86
              pricing: '{}'
              slug: m3.large.x86
            spare: true
          spot_instance: true
          ssh_keys:
          - href: href
          - href: href
          metro: null
          always_pxe: true
          ipxe_script_url: ipxe_script_url
          facility:
            features:
            - baremetal
            - backend_transfer
            - global_ipv4
            address:
              country: country
              address: address
              address2: address2
              city: city
              coordinates:
                latitude: latitude
                longitude: longitude
              state: state
              zip_code: zip_code
            code: code
            ip_ranges:
            - 2604:1380::/36
            - 147.75.192.0/21
            metro: null
            name: name
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          actions:
          - name: name
            type: type
          - name: name
            type: type
          user: user
        - ip_addresses:
          - address: address
            parent_block:
              netmask: netmask
              cidr: 2
              href: href
              network: network
            created_at: 2000-01-23 04:56:07+00:00
            type: null
            enabled: true
            manageable: true
            network: network
            address_family: 5
            public: true
            management: true
            netmask: netmask
            metro: null
            next_hop: next_hop
            cidr: 5
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: null
            global_ip: true
            gateway: gateway
            assigned_to:
              href: href
          - address: address
            parent_block:
              netmask: netmask
              cidr: 2
              href: href
              network: network
            created_at: 2000-01-23 04:56:07+00:00
            type: null
            enabled: true
            manageable: true
            network: network
            address_family: 5
            public: true
            management: true
            netmask: netmask
            metro: null
            next_hop: next_hop
            cidr: 5
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: null
            global_ip: true
            gateway: gateway
            assigned_to:
              href: href
          iqn: iqn
          created_at: 2000-01-23 04:56:07+00:00
          description: description
          project:
            devices:
            - href: href
            - href: href
            volumes:
            - href: href
            - href: href
            created_at: 2000-01-23 04:56:07+00:00
            type: null
            memberships:
            - href: href
            - href: href
            bgp_config:
              href: href
            tags:
            - tags
            - tags
            max_devices: '{}'
            ssh_keys:
            - href: href
            - href: href
            updated_at: 2000-01-23 04:56:07+00:00
            invitations:
            - href: href
            - href: href
            members:
            - href: href
            - href: href
            organization:
              website: website
              address:
                country: country
                address: address
                address2: address2
                city: city
                coordinates:
                  latitude: latitude
                  longitude: longitude
                state: state
                zip_code: zip_code
              projects:
              - href: href
              - href: href
              credit_amount: 1.4658129
              created_at: 2000-01-23 04:56:07+00:00
              description: description
              billing_address:
                country: country
                address: address
                address2: address2
                city: city
                coordinates:
                  latitude: latitude
                  longitude: longitude
                state: state
                zip_code: zip_code
              memberships:
              - href: href
              - href: href
              enforce_2fa_at: 2000-01-23 04:56:07+00:00
              twitter: twitter
              updated_at: 2000-01-23 04:56:07+00:00
              terms: 5
              members:
              - href: href
              - href: href
              name: name
              logo: logo
              customdata: '{}'
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            name: name
            network_status: '{}'
            customdata: '{}'
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            payment_method:
              href: href
          switch_uuid: switch_uuid
          storage:
            disks:
            - partitions:
              - number: 3
                size: size
                label: label
              - number: 3
                size: size
                label: label
              wipeTable: true
              device: device
            - partitions:
              - number: 3
                size: size
                label: label
              - number: 3
                size: size
                label: label
              wipeTable: true
              device: device
            filesystems:
            - mount:
                format: format
                options:
                - options
                - options
                device: device
                point: point
            - mount:
                format: format
                options:
                - options
                - options
                device: device
                point: point
            raid:
            - devices:
              - devices
              - devices
              level: level
              name: name
            - devices:
              - devices
              - devices
              level: level
              name: name
          bonding_mode: 0
          provisioning_events:
          - interpolated: interpolated
            relationships:
            - href: href
            - href: href
            ip: ip
            modified_by: '{}'
            created_at: 2000-01-23 04:56:07+00:00
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: state
            body: body
            type: type
          - interpolated: interpolated
            relationships:
            - href: href
            - href: href
            ip: ip
            modified_by: '{}'
            created_at: 2000-01-23 04:56:07+00:00
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: state
            body: body
            type: type
          network_ports:
          - native_virtual_network:
              vxlan: 4
              instances:
              - href: href
              - href: href
              description: description
              created_at: 2000-01-23 04:56:07+00:00
              assigned_to_virtual_circuit: true
              tags:
              - tags
              - tags
              metal_gateways:
              - gateway_address: 10.1.2.1/27
                updated_at: 2000-01-23 04:56:07+00:00
                vlan: 1001
                created_at: 2000-01-23 04:56:07+00:00
                href: href
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                state: null
              - gateway_address: 10.1.2.1/27
                updated_at: 2000-01-23 04:56:07+00:00
                vlan: 1001
                created_at: 2000-01-23 04:56:07+00:00
                href: href
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                state: null
              metro_code: metro_code
              metro:
                href: href
              href: href
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              facility:
                href: href
              assigned_to:
                href: href
            disbond_operation_supported: true
            data:
              bonded: true
              mac: mac
            name: bond0
            virtual_networks:
            - href: href
            - href: href
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            type: null
            network_type: null
            bond:
              name: name
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          - native_virtual_network:
              vxlan: 4
              instances:
              - href: href
              - href: href
              description: description
              created_at: 2000-01-23 04:56:07+00:00
              assigned_to_virtual_circuit: true
              tags:
              - tags
              - tags
              metal_gateways:
              - gateway_address: 10.1.2.1/27
                updated_at: 2000-01-23 04:56:07+00:00
                vlan: 1001
                created_at: 2000-01-23 04:56:07+00:00
                href: href
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                state: null
              - gateway_address: 10.1.2.1/27
                updated_at: 2000-01-23 04:56:07+00:00
                vlan: 1001
                created_at: 2000-01-23 04:56:07+00:00
                href: href
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                state: null
              metro_code: metro_code
              metro:
                href: href
              href: href
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              facility:
                href: href
              assigned_to:
                href: href
            disbond_operation_supported: true
            data:
              bonded: true
              mac: mac
            name: bond0
            virtual_networks:
            - href: href
            - href: href
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            type: null
            network_type: null
            bond:
              name: name
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          userdata: userdata
          hostname: hostname
          updated_at: 2000-01-23 04:56:07+00:00
          sos: sos
          operating_system:
            default_operating_system: true
            distro: distro
            preinstallable: true
            licensed: true
            name: name
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            provisionable_on:
            - provisionable_on
            - provisionable_on
            version: version
            pricing: '{}'
            slug: slug
            distro_label: distro_label
          firmware_set_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          billing_cycle: billing_cycle
          customdata:
            key: ''
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
          locked: true
          spot_price_max: 9.301444
          plan:
            legacy: true
            line: line
            available_in_metros:
            - price:
                hour: 1.23
              href: href
            - price:
                hour: 1.23
              href: href
            description: description
            available_in:
            - price:
                hour: 1.23
              href: href
            - price:
                hour: 1.23
              href: href
            type: null
            specs:
              features:
                txt: true
                uefi: true
                raid: true
              memory:
                total: total
              cpus:
              - count: 6
                type: type
              - count: 6
                type: type
              drives:
              - size: 3.84TB
                count: 1
                type: type
                category: null
              - size: 3.84TB
                count: 1
                type: type
                category: null
              nics:
              - count: 2
                type: type
              - count: 2
                type: type
            deployment_types:
            - null
            - null
            name: name
            categories:
            - categories
            - categories
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            class: m3.large.x86
            pricing: '{}'
            slug: m3.large.x86
          provisioning_percentage: 7.0614014
          network_frozen: true
          image_url: image_url
          root_password: root_password
          volumes:
          - href: href
          - href: href
          project_lite: null
          short_id: short_id
          termination_time: 2021-09-03 16:32:00+03:00
          created_by: null
          tags:
          - tags
          - tags
          hardware_reservation:
            custom_rate: 1050.5
            created_at: 2000-01-23 04:56:07+00:00
            project:
              devices:
              - href: href
              - href: href
              volumes:
              - href: href
              - href: href
              created_at: 2000-01-23 04:56:07+00:00
              type: null
              memberships:
              - href: href
              - href: href
              bgp_config:
                href: href
              tags:
              - tags
              - tags
              max_devices: '{}'
              ssh_keys:
              - href: href
              - href: href
              updated_at: 2000-01-23 04:56:07+00:00
              invitations:
              - href: href
              - href: href
              members:
              - href: href
              - href: href
              organization:
                website: website
                address:
                  country: country
                  address: address
                  address2: address2
                  city: city
                  coordinates:
                    latitude: latitude
                    longitude: longitude
                  state: state
                  zip_code: zip_code
                projects:
                - href: href
                - href: href
                credit_amount: 1.4658129
                created_at: 2000-01-23 04:56:07+00:00
                description: description
                billing_address:
                  country: country
                  address: address
                  address2: address2
                  city: city
                  coordinates:
                    latitude: latitude
                    longitude: longitude
                  state: state
                  zip_code: zip_code
                memberships:
                - href: href
                - href: href
                enforce_2fa_at: 2000-01-23 04:56:07+00:00
                twitter: twitter
                updated_at: 2000-01-23 04:56:07+00:00
                terms: 5
                members:
                - href: href
                - href: href
                name: name
                logo: logo
                customdata: '{}'
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              name: name
              network_status: '{}'
              customdata: '{}'
              href: href
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              payment_method:
                href: href
            switch_uuid: switch_uuid
            short_id: short_id
            termination_time: 2000-01-23 04:56:07+00:00
            provisionable: true
            need_of_service: true
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            device: null
            facility:
              features:
              - baremetal
              - backend_transfer
              - global_ipv4
              address:
                country: country
                address: address
                address2: address2
                city: city
                coordinates:
                  latitude: latitude
                  longitude: longitude
                state: state
                zip_code: zip_code
              code: code
              ip_ranges:
              - 2604:1380::/36
              - 147.75.192.0/21
              metro: null
              name: name
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            plan:
              legacy: true
              line: line
              available_in_metros:
              - price:
                  hour: 1.23
                href: href
              - price:
                  hour: 1.23
                href: href
              description: description
              available_in:
              - price:
                  hour: 1.23
                href: href
              - price:
                  hour: 1.23
                href: href
              type: null
              specs:
                features:
                  txt: true
                  uefi: true
                  raid: true
                memory:
                  total: total
                cpus:
                - count: 6
                  type: type
                - count: 6
                  type: type
                drives:
                - size: 3.84TB
                  count: 1
                  type: type
                  category: null
                - size: 3.84TB
                  count: 1
                  type: type
                  category: null
                nics:
                - count: 2
                  type: type
                - count: 2
                  type: type
              deployment_types:
              - null
              - null
              name: name
              categories:
              - categories
              - categories
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              class: m3.large.x86
              pricing: '{}'
              slug: m3.large.x86
            spare: true
          spot_instance: true
          ssh_keys:
          - href: href
          - href: href
          metro: null
          always_pxe: true
          ipxe_script_url: ipxe_script_url
          facility:
            features:
            - baremetal
            - backend_transfer
            - global_ipv4
            address:
              country: country
              address: address
              address2: address2
              city: city
              coordinates:
                latitude: latitude
                longitude: longitude
              state: state
              zip_code: zip_code
            code: code
            ip_ranges:
            - 2604:1380::/36
            - 147.75.192.0/21
            metro: null
            name: name
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          actions:
          - name: name
            type: type
          - name: name
            type: type
          user: user
        meta:
          next:
            href: href
          total: 0
          last:
            href: href
          previous:
            href: href
          last_page: 1
          self:
            href: href
          first:
            href: href
          current_page: 6
      properties:
        devices:
          items:
            $ref: '#/components/schemas/Device'
          type: array
        meta:
          $ref: '#/components/schemas/Meta'
      type: object
    IPAddress_address_family:
      description: Address Family for IP Address
      enum:
      - 4
      - 6
      example: 4
      format: int32
      type: integer
    BondPortData:
      example:
        name: name
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        id:
          description: ID of the bonding port
          format: uuid
          type: string
        name:
          description: Name of the port interface for the bond ("bond0")
          type: string
      type: object
    IPAssignment_metro:
      allOf:
      - $ref: '#/components/schemas/Metro'
      - description: The metro the IP address is in
        type: object
    Plan_specs_drives_inner:
      example:
        size: 3.84TB
        count: 1
        type: type
        category: null
      properties:
        count:
          type: integer
        type:
          type: string
        size:
          example: 3.84TB
          type: string
        category:
          $ref: '#/components/schemas/Plan_specs_drives_inner_category'
      type: object
    findTraffic_interval_parameter:
      enum:
      - minute
      - hour
      - day
      - week
      - month
      - year
      - hour_of_day
      - day_of_week
      - day_of_month
      - month_of_year
      type: string
    MetalGatewayLite:
      example:
        gateway_address: 10.1.2.1/27
        updated_at: 2000-01-23 04:56:07+00:00
        vlan: 1001
        created_at: 2000-01-23 04:56:07+00:00
        href: href
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        state: null
      properties:
        created_at:
          format: date-time
          type: string
        gateway_address:
          description: The gateway address with subnet CIDR value for this Metal Gateway. For example, a Metal Gateway using an IP reservation with block 10.1.2.0/27 would have a gateway address of 10.1.2.1/27.
          example: 10.1.2.1/27
          type: string
        href:
          type: string
        id:
          format: uuid
          type: string
        state:
          $ref: '#/components/schemas/MetalGateway_state'
        updated_at:
          format: date-time
          type: string
        vlan:
          description: The VLAN id of the Virtual Network record associated to this Metal Gateway.
          example: 1001
          type: integer
      type: object
    Plan_available_in_inner_price:
      example:
        hour: 1.23
      properties:
        hour:
          example: 1.23
          format: double
          type: number
      type: object
    Mount:
      example:
        format: format
        options:
        - options
        - options
        device: device
        point: point
      properties:
        device:
          type: string
        format:
          type: string
        point:
          type: string
        options:
          items:
            type: string
          type: array
      type: object
    FirmwareSet:
      description: Represents a Firmware Set
      example:
        updated_at: 2000-01-23 04:56:07+00:00
        name: name
        created_at: 2000-01-23 04:56:07+00:00
        attributes:
        - updated_at: 2000-01-23 04:56:07+00:00
          data:
[...]
