openapi: 3.0.0
info:
  contact:
    email: support@equinixmetal.com
    name: Equinix Metal API Team
  description: "# Introduction\nEquinix Metal provides a RESTful HTTP API which can be reached at <https://api.equinix.com/metal/v1>. This document describes the API and how to use it.\n\nThe API allows you to programmatically interact with all\nof your Equinix Metal resources, including devices, networks, addresses, organizations,\nprojects, and your user account. Every feature of the Equinix Metal web interface is accessible through the API.\n\nThe API docs are generated from the Equinix Metal OpenAPI specification and are officially hosted at <https://metal.equinix.com/developers/api>.\n\n# Common Parameters\n\nThe Equinix Metal API uses a few methods to minimize network traffic and improve throughput. These parameters are not used in all API calls, but are used often enough to warrant their own section. Look for these parameters in the documentation for the API calls that support them.\n\n## Pagination\n\nPagination is used to limit the number of results returned in a single request. The API will return a maximum of 100 results per page. To retrieve additional results, you can use the `page` and `per_page` query parameters.\n\nThe `page` parameter is used to specify the page number. The first page is `1`. The `per_page` parameter is used to specify the number of results per page. The maximum number of results differs by resource type.\n\n## Sorting\n\nWhere offered, the API allows you to sort results by a specific field. To sort results use the `sort_by` query parameter with the root level field name as the value. The `sort_direction` parameter is used to specify the sort direction, either either `asc` (ascending) or `desc` (descending).\n\n## Filtering\n\nFiltering is used to limit the results returned in a single request. The API supports filtering by certain fields in the response. To filter results, you can use the field as a query parameter.\n\nFor example, to filter the IP list to only return public IPv4 addresses, you can filter by the `type` field, as in the following request:\n\n```sh\ncurl -H 'X-Auth-Token: my_authentication_token' \\\n  https://api.equinix.com/metal/v1/projects/id/ips?type=public_ipv4\n```\n\nOnly IP addresses with the `type` field set to `public_ipv4` will be returned.\n\n## Searching\n\nSearching is used to find matching resources using multiple field comparissons. The API supports searching in resources that define this behavior. Currently the search parameter is only available on devices, ssh_keys, api_keys and memberships endpoints.\n\nTo search resources you can use the `search` query parameter.\n\n## Include and Exclude\n\nFor resources that contain references to other resources, sucha as a Device that refers to the Project it resides in, the Equinix Metal API will returns `href` values (API links) to the associated resource.\n\n```json\n{\n  ...\n  \"project\": {\n    \"href\": \"/metal/v1/projects/f3f131c8-f302-49ef-8c44-9405022dc6dd\"\n  }\n}\n```\n\nIf you're going need the project details, you can avoid a second API request.  Specify the contained `href` resources and collections that you'd like to have included in the response using the `include` query parameter.\n\nFor example:\n\n```sh\ncurl -H 'X-Auth-Token: my_authentication_token' \\\n  https://api.equinix.com/metal/v1/user?include=projects\n```\n\nThe `include` parameter is generally accepted in `GET`, `POST`, `PUT`, and `PATCH` requests where `href` resources are presented.\n\nTo have multiple resources include, use a comma-separated list (e.g. `?include=emails,projects,memberships`).\n\n```sh\ncurl -H 'X-Auth-Token: my_authentication_token' \\\n  https://api.equinix.com/metal/v1/user?include=emails,projects,memberships\n```\n\nYou may also include nested associations up to three levels deep using dot notation (`?include=memberships.projects`):\n\n```sh\ncurl -H 'X-Auth-Token: my_authentication_token' \\\n  https://api.equinix.com/metal/v1/user?include=memberships.projects\n```\n\nTo exclude resources, and optimize response delivery, use the `exclude` query parameter. The `exclude` parameter is generally accepted in `GET`, `POST`, `PUT`, and `PATCH` requests for fields with nested object responses. When excluded, these fields will be replaced with an object that contains only an `href` field.\n"
  license:
    name: Equinix Metal
    url: https://metal.equinix.com/legal/
  termsOfService: https://metal.equinix.com/legal/
  title: Metal Authentication Capacity API
  version: 1.0.0
servers:
- url: https://api.equinix.com/metal/v1
security:
- x_auth_token: []
tags:
- description: 'Capacity Management. Check out the product docs to learn more about [Capacity](https://metal.equinix.com/developers/docs/locations/capacity/).

    '
  externalDocs:
    url: https://metal.equinix.com/developers/docs/locations/capacity/
  name: Capacity
paths:
  /capacity:
    get:
      description: Returns a list of facilities and plans with their current capacity.
      operationId: findCapacityForFacility
      responses:
        '200':
          content:
            application/json:
              example:
                capacity:
                  am6:
                    c2.medium.x86:
                      level: string
                    m2.xlarge.x86:
                      level: string
                  da11:
                    c2.medium.x86:
                      level: string
                    m2.xlarge.x86:
                      level: string
                  sv15:
                    c2.medium.x86:
                      level: string
                    m2.xlarge.x86:
                      level: string
              schema:
                $ref: '#/components/schemas/CapacityList'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
      summary: View capacity
      tags:
      - Capacity
    post:
      deprecated: true
      description: Validates if a deploy can be fulfilled.
      operationId: checkCapacityForFacility
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CapacityInput'
        description: Facility to check capacity in
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapacityCheckPerFacilityList'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Check capacity
      tags:
      - Capacity
  /capacity/metros:
    get:
      description: Returns a list of metros and plans with their current capacity.
      operationId: findCapacityForMetro
      responses:
        '200':
          content:
            application/json:
              example:
                capacity:
                  am:
                    c2.medium.x86:
                      level: string
                    m2.xlarge.x86:
                      level: string
                  da:
                    c2.medium.x86:
                      level: string
                    m2.xlarge.x86:
                      level: string
                  dc:
                    c2.medium.x86:
                      level: string
                    m2.xlarge.x86:
                      level: string
              schema:
                $ref: '#/components/schemas/CapacityList'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
      summary: View capacity for metros
      tags:
      - Capacity
    post:
      description: Validates if a deploy can be fulfilled in a metro.
      operationId: checkCapacityForMetro
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CapacityInput'
        description: Metro to check capacity in
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapacityCheckPerMetroList'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Check capacity for a metro
      tags:
      - Capacity
  /organizations/{id}/capacity:
    get:
      description: Returns a list of facilities and plans with their current capacity.
      operationId: findOrganizationCapacityPerFacility
      parameters:
      - description: Organization UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                capacity:
                  am6:
                    c2.medium.x86:
                      level: string
                    m2.xlarge.x86:
                      level: string
                  da11:
                    c2.medium.x86:
                      level: string
                    m2.xlarge.x86:
                      level: string
                  sv15:
                    c2.medium.x86:
                      level: string
                    m2.xlarge.x86:
                      level: string
              schema:
                $ref: '#/components/schemas/CapacityList'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
      summary: View available hardware plans per Facility for given organization
      tags:
      - Capacity
  /organizations/{id}/capacity/metros:
    get:
      description: Returns a list of metros and plans with their current capacity.
      operationId: findOrganizationCapacityPerMetro
      parameters:
      - description: Organization UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                capacity:
                  am:
                    c2.medium.x86:
                      level: string
                    m2.xlarge.x86:
                      level: string
                  da:
                    c2.medium.x86:
                      level: string
                    m2.xlarge.x86:
                      level: string
                  dc:
                    c2.medium.x86:
                      level: string
                    m2.xlarge.x86:
                      level: string
              schema:
                $ref: '#/components/schemas/CapacityList'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
      summary: View available hardware plans per Metro for given organization
      tags:
      - Capacity
components:
  schemas:
    CapacityCheckPerFacilityInfo:
      example:
        quantity: quantity
        available: true
        facility: facility
        plan: plan
      properties:
        available:
          type: boolean
        facility:
          type: string
        plan:
          type: string
        quantity:
          type: string
      type: object
    CapacityList:
      example:
        capacity:
          key:
            key:
              level: level
      properties:
        capacity:
          additionalProperties:
            additionalProperties:
              $ref: '#/components/schemas/CapacityLevelPerBaremetal'
            type: object
          type: object
      type: object
    CapacityCheckPerMetroInfo:
      example:
        quantity: quantity
        metro: metro
        available: true
        plan: plan
      properties:
        available:
          description: Returns true if there is enough capacity in the metro to fulfill the quantity set. Returns false if there is not enough.
          type: boolean
        metro:
          description: The metro ID or code sent to check capacity.
          type: string
        plan:
          description: The plan ID or slug sent to check capacity.
          type: string
        quantity:
          description: The number of servers sent to check capacity.
          type: string
      type: object
    CapacityInput:
      example:
        servers:
        - quantity: quantity
          metro: metro
          facility: facility
          plan: plan
        - quantity: quantity
          metro: metro
          facility: facility
          plan: plan
      properties:
        servers:
          items:
            $ref: '#/components/schemas/ServerInfo'
          type: array
      type: object
    CapacityLevelPerBaremetal:
      example:
        level: level
      properties:
        level:
          type: string
      type: object
    ServerInfo:
      example:
        quantity: quantity
        metro: metro
        facility: facility
        plan: plan
      properties:
        facility:
          deprecated: true
          type: string
        metro:
          description: The metro ID or code to check the capacity in.
          type: string
        plan:
          description: The plan ID or slug to check the capacity of.
          type: string
        quantity:
          description: The number of servers to check the capacity of.
          type: string
      type: object
    Error:
      description: Error responses are included with 4xx and 5xx HTTP responses from the API service. Either "error" or "errors" will be set.
      properties:
        error:
          description: A description of the error that caused the request to fail.
          type: string
        errors:
          description: A list of errors that contributed to the request failing.
          items:
            description: An error message that contributed to the request failing.
            type: string
          type: array
      type: object
    CapacityCheckPerFacilityList:
      example:
        servers:
        - quantity: quantity
          available: true
          facility: facility
          plan: plan
        - quantity: quantity
          available: true
          facility: facility
          plan: plan
      properties:
        servers:
          items:
            $ref: '#/components/schemas/CapacityCheckPerFacilityInfo'
          type: array
      type: object
    CapacityCheckPerMetroList:
      example:
        servers:
        - quantity: quantity
          metro: metro
          available: true
          plan: plan
        - quantity: quantity
          metro: metro
          available: true
          plan: plan
      properties:
        servers:
          items:
            $ref: '#/components/schemas/CapacityCheckPerMetroInfo'
          type: array
      type: object
  securitySchemes:
    x_auth_token:
      description: 'HTTP header containing the User or Project API key that will be used to authenticate the request.

        '
      in: header
      name: X-Auth-Token
      type: apiKey
      x-displayName: X-Auth-Token
x-tagGroups:
- name: Accounts and Organization
  tags:
  - Authentication
  - Emails
  - Invitations
  - Memberships
  - Organizations
  - OTPs
  - PasswordResetTokens
  - PaymentMethods
  - Projects
  - SSHKeys
  - SupportRequest
  - TransferRequests
  - TwoFactorAuth
  - Users
  - UserVerificationTokens
- name: Services and Billing
  tags:
  - Events
  - Facilities
  - Incidents
  - Invoices
  - Licenses
  - Metros
  - Plans
  - Usages
- name: Servers
  tags:
  - Devices
  - Batches
  - Capacity
  - HardwareReservations
  - OperatingSystems
  - Ports
  - SelfServiceReservations
  - SpotMarket
  - Userdata
  - Volumes
- name: Networking
  tags:
  - BGP
  - Interconnections
  - IPAddresses
  - MetalGateways
  - VLANs
  - VRFs
