openapi: 3.2.0
info:
  contact:
    email: support@equinixmetal.com
    name: Equinix Metal API Team
  description: '# Introduction

    Equinix Metal provides a RESTful HTTP API which can be reached at .'
  license:
    name: Equinix Metal
    url: https://metal.equinix.com/legal/
  termsOfService: https://metal.equinix.com/legal/
  title: Metal OT Ps API
  version: 1.0.0
servers:
- url: https://api.equinix.com/metal/v1
security:
- x_auth_token: []
tags:
- description: OTP Management. Check out the product docs to learn more about OTP.
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/two-factor-authentication/
  name: OTPs
paths:
  /user/otp/recovery-codes:
    get:
      description: Returns my recovery codes.
      operationId: findRecoveryCodes
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryCodeList'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Retrieve my recovery codes
      tags:
      - OTPs
    post:
      description: Generate a new set of recovery codes.
      operationId: regenerateCodes
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryCodeList'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Generate new recovery codes
      tags:
      - OTPs
  /user/otp/sms/receive:
    post:
      description: Sends an OTP to the user's mobile phone.
      operationId: receiveCodes
      responses:
        '204':
          description: no content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: bad request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: internal server error
      summary: Receive an OTP per sms
      tags:
      - OTPs
  /user/otp/verify/{otp}:
    post:
      description: It verifies the user once a valid OTP is provided. It gives back a session token, essentially logging in the user.
      operationId: findEnsureOtp
      parameters:
      - description: OTP
        in: path
        name: otp
        required: true
        schema:
          type: string
      responses:
        '204':
          description: no content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: bad request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
      summary: Verify user by providing an OTP
      tags:
      - OTPs
components:
  schemas:
    RecoveryCodeList:
      example:
        recovery_codes:
        - recovery_codes
        - recovery_codes
      properties:
        recovery_codes:
          items:
            type: string
          type: array
      type: object
    Error:
      description: Error responses are included with 4xx and 5xx HTTP responses from the API service. Either "error" or "errors" will be set.
      properties:
        error:
          description: A description of the error that caused the request to fail.
          type: string
        errors:
          description: A list of errors that contributed to the request failing.
          items:
            description: An error message that contributed to the request failing.
            type: string
          type: array
      type: object
  securitySchemes:
    x_auth_token:
      description: 'HTTP header containing the User or Project API key that will be used to authenticate the request.

        '
      in: header
      name: X-Auth-Token
      type: apiKey
      x-displayName: X-Auth-Token
x-tagGroups:
- name: Accounts and Organization
  tags:
  - Authentication
  - Emails
  - Invitations
  - Memberships
  - Organizations
  - OTPs
  - PasswordResetTokens
  - PaymentMethods
  - Projects
  - SSHKeys
  - SupportRequest
  - TransferRequests
  - TwoFactorAuth
  - Users
  - UserVerificationTokens
- name: Services and Billing
  tags:
  - Events
  - Facilities
  - Incidents
  - Invoices
  - Licenses
  - Metros
  - Plans
  - Usages
- name: Servers
  tags:
  - Devices
  - Batches
  - Capacity
  - HardwareReservations
  - OperatingSystems
  - Ports
  - SelfServiceReservations
  - SpotMarket
  - Userdata
  - Volumes
- name: Networking
  tags:
  - BGP
  - Interconnections
  - IPAddresses
  - MetalGateways
  - VLANs
  - VRFs
