openapi: 3.0.0
info:
  contact:
    email: support@equinixmetal.com
    name: Equinix Metal API Team
  description: "# Introduction\nEquinix Metal provides a RESTful HTTP API which can be reached at <https://api.equinix.com/metal/v1>. This document describes the API and how to use it.\n\nThe API allows you to programmatically interact with all\nof your Equinix Metal resources, including devices, networks, addresses, organizations,\nprojects, and your user account. Every feature of the Equinix Metal web interface is accessible through the API.\n\nThe API docs are generated from the Equinix Metal OpenAPI specification and are officially hosted at <https://metal.equinix.com/developers/api>.\n\n# Common Parameters\n\nThe Equinix Metal API uses a few methods to minimize network traffic and improve throughput. These parameters are not used in all API calls, but are used often enough to warrant their own section. Look for these parameters in the documentation for the API calls that support them.\n\n## Pagination\n\nPagination is used to limit the number of results returned in a single request. The API will return a maximum of 100 results per page. To retrieve additional results, you can use the `page` and `per_page` query parameters.\n\nThe `page` parameter is used to specify the page number. The first page is `1`. The `per_page` parameter is used to specify the number of results per page. The maximum number of results differs by resource type.\n\n## Sorting\n\nWhere offered, the API allows you to sort results by a specific field. To sort results use the `sort_by` query parameter with the root level field name as the value. The `sort_direction` parameter is used to specify the sort direction, either either `asc` (ascending) or `desc` (descending).\n\n## Filtering\n\nFiltering is used to limit the results returned in a single request. The API supports filtering by certain fields in the response. To filter results, you can use the field as a query parameter.\n\nFor example, to filter the IP list to only return public IPv4 addresses, you can filter by the `type` field, as in the following request:\n\n```sh\ncurl -H 'X-Auth-Token: my_authentication_token' \\\n  https://api.equinix.com/metal/v1/projects/id/ips?type=public_ipv4\n```\n\nOnly IP addresses with the `type` field set to `public_ipv4` will be returned.\n\n## Searching\n\nSearching is used to find matching resources using multiple field comparissons. The API supports searching in resources that define this behavior. Currently the search parameter is only available on devices, ssh_keys, api_keys and memberships endpoints.\n\nTo search resources you can use the `search` query parameter.\n\n## Include and Exclude\n\nFor resources that contain references to other resources, sucha as a Device that refers to the Project it resides in, the Equinix Metal API will returns `href` values (API links) to the associated resource.\n\n```json\n{\n  ...\n  \"project\": {\n    \"href\": \"/metal/v1/projects/f3f131c8-f302-49ef-8c44-9405022dc6dd\"\n  }\n}\n```\n\nIf you're going need the project details, you can avoid a second API request.  Specify the contained `href` resources and collections that you'd like to have included in the response using the `include` query parameter.\n\nFor example:\n\n```sh\ncurl -H 'X-Auth-Token: my_authentication_token' \\\n  https://api.equinix.com/metal/v1/user?include=projects\n```\n\nThe `include` parameter is generally accepted in `GET`, `POST`, `PUT`, and `PATCH` requests where `href` resources are presented.\n\nTo have multiple resources include, use a comma-separated list (e.g. `?include=emails,projects,memberships`).\n\n```sh\ncurl -H 'X-Auth-Token: my_authentication_token' \\\n  https://api.equinix.com/metal/v1/user?include=emails,projects,memberships\n```\n\nYou may also include nested associations up to three levels deep using dot notation (`?include=memberships.projects`):\n\n```sh\ncurl -H 'X-Auth-Token: my_authentication_token' \\\n  https://api.equinix.com/metal/v1/user?include=memberships.projects\n```\n\nTo exclude resources, and optimize response delivery, use the `exclude` query parameter. The `exclude` parameter is generally accepted in `GET`, `POST`, `PUT`, and `PATCH` requests for fields with nested object responses. When excluded, these fields will be replaced with an object that contains only an `href` field.\n"
  license:
    name: Equinix Metal
    url: https://metal.equinix.com/legal/
  termsOfService: https://metal.equinix.com/legal/
  title: Metal Authentication VRFs API
  version: 1.0.0
servers:
- url: https://api.equinix.com/metal/v1
security:
- x_auth_token: []
tags:
- description: 'VRF Management. A VRF is a project-scoped virtual router resource that defines a collection of customer-managed IP blocks that can be used in BGP peering on one or more virtual networks. Metal Gateways and Interconnection Virtual Circuits can take advantage of VRFs to enable Layer 3 routing with bespoke network ranges. Notice: VRFs are a test feature currently under active development, and only available to certain users. Please contact Customer Success for more information.

    '
  name: VRFs
paths:
  /bgp-dynamic-neighbors/{id}:
    delete:
      description: Trigger the removal of a BGP Neighbor range from a VRF
      operationId: deleteBgpDynamicNeighborById
      parameters:
      - description: BGP Dynamic Neighbor UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Nested attributes to exclude. Excluded objects will return only the href

          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply

          nested objects.'
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpDynamicNeighbor'
          description: Accepted
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Delete a VRF BGP Dynamic Neighbor
      tags:
      - VRFs
    get:
      description: Return a single BGP Dynamic Neighbor resource
      parameters:
      - description: BGP Dynamic Neighbor UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Nested attributes to exclude. Excluded objects will return only the href

          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply

          nested objects.'
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpDynamicNeighbor'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Retrieve a BGP Dynamic Neighbor
      tags:
      - VRFs
  /metal-gateways/{id}/bgp-dynamic-neighbors:
    get:
      description: Returns the list of VRF BGP Dynamic Neighbors for this Metal Gateway
      operationId: getBgpDynamicNeighbors
      parameters:
      - description: Metal Gateway UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Nested attributes to exclude. Excluded objects will return only the href

          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply

          nested objects.'
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpDynamicNeighborList'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: List BGP Dynamic Neighbors
      tags:
      - VRFs
    post:
      description: 'Create a VRF BGP Dynamic Neighbor range.


        BGP Dynamic Neighbor records are limited to 2 per Virtual Network.


        Notice: VRFs are a test feature currently under active development, and only available to certain users. Please contact Customer Success for more information.

        '
      operationId: createBgpDynamicNeighbor
      parameters:
      - description: Metal Gateway UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Nested attributes to exclude. Excluded objects will return only the href

          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply

          nested objects.'
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BgpDynamicNeighborCreateInput'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpDynamicNeighbor'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable entity
      summary: Create a VRF BGP Dynamic Neighbor range
      tags:
      - VRFs
  /projects/{id}/vrfs:
    get:
      description: Returns the list of VRFs for a single project.
      operationId: findVrfs
      parameters:
      - description: Project UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Nested attributes to exclude. Excluded objects will return only the href

          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply

          nested objects.'
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by Metro ID (uuid) or Metro Code
        in: query
        name: metro
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VrfList'
          description: ok
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Retrieve all VRFs in the project
      tags:
      - VRFs
    post:
      description: Creates a new VRF in the specified project
      operationId: createVrf
      parameters:
      - description: Project UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Nested attributes to exclude. Excluded objects will return only the href

          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply

          nested objects.'
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VrfCreateInput'
        description: VRF to create
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vrf'
          description: created
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Create a new VRF in the specified project
      tags:
      - VRFs
  /routes/{id}:
    delete:
      description: Trigger the deletion of a VRF Route resource. The status of the route will update to 'deleting', and the route resource will remain accessible while background operations remove the route from the network. Once the route has been removed from the network, the resource will be fully deleted.
      operationId: deleteVrfRouteById
      parameters:
      - description: VRF Route UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Nested attributes to exclude. Excluded objects will return only the href

          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply

          nested objects.'
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VrfRoute'
          description: Accepted
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Delete a VRF Route
      tags:
      - VRFs
    get:
      description: Returns a single VRF Route resource
      operationId: findVrfRouteById
      parameters:
      - description: VRF Route UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Nested attributes to exclude. Excluded objects will return only the href

          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply

          nested objects.'
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VrfRoute'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Retrieve a VRF Route
      tags:
      - VRFs
    put:
      description: Requests a VRF Route be redeployed across the network. Updating the prefix or next-hop address on a route is not currently supported.
      operationId: updateVrfRouteById
      parameters:
      - description: VRF Route UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Nested attributes to exclude. Excluded objects will return only the href

          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply

          nested objects.'
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VrfRouteUpdateInput'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VrfRoute'
          description: Accepted
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Too Many Requests
      summary: Update a VRF Route
      tags:
      - VRFs
  /vrfs/{id}:
    delete:
      description: Deletes the VRF
      operationId: deleteVrf
      parameters:
      - description: VRF UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '204':
          description: no content
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Delete the VRF
      tags:
      - VRFs
    get:
      description: Returns a single VRF resource
      operationId: findVrfById
      parameters:
      - description: VRF UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Nested attributes to exclude. Excluded objects will return only the href

          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply

          nested objects.'
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vrf'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Retrieve a VRF
      tags:
      - VRFs
    put:
      description: Updates the VRF.
      operationId: updateVrf
      parameters:
      - description: VRF UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Nested attributes to exclude. Excluded objects will return only the href

          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply

          nested objects.'
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VrfUpdateInput'
        description: VRF to update
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vrf'
          description: ok
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: unprocessable entity
      summary: Update the VRF
      tags:
      - VRFs
  /vrfs/{id}/ips:
    get:
      description: Returns the list of VRF IP Reservations for the VRF.
      operationId: findVrfIpReservations
      parameters:
      - description: VRF UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Nested attributes to include. Included objects will return their full attributes. Attribute names can be dotted (up to 3 levels) to included deeply nested objects.
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only the href attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply nested objects.
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VrfIpReservationList'
          description: ok
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Retrieve all VRF IP Reservations in the VRF
      tags:
      - VRFs
  /vrfs/{vrf_id}/ips/{id}:
    get:
      description: Returns the IP Reservation for the VRF.
      operationId: findVrfIpReservation
      parameters:
      - description: VRF UUID
        in: path
        name: vrf_id
        required: true
        schema:
          format: uuid
          type: string
      - description: IP UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Nested attributes to include. Included objects will return their full attributes. Attribute names can be dotted (up to 3 levels) to included deeply nested objects.
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only the href attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply nested objects.
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VrfIpReservation'
          description: ok
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: not found
      summary: Retrieve all VRF IP Reservations in the VRF
      tags:
      - VRFs
  /vrfs/{id}/routes:
    get:
      description: Returns the list of routes for the VRF
      operationId: getVrfRoutes
      parameters:
      - description: VRF UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Nested attributes to exclude. Excluded objects will return only the href

          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply

          nested objects.'
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VrfRouteList'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
      summary: Retrieve all routes in the VRF
      tags:
      - VRFs
    post:
      description: 'Create a route in a VRF. Currently only static default routes are supported.


        Notice: VRFs are a test feature currently under active development, and only available to certain users. Please contact Customer Success for more information.

        '
      operationId: createVrfRoute
      parameters:
      - description: VRF UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: 'Nested attributes to include. Included objects will return their full

          attributes. Attribute names can be dotted (up to 3 levels) to included deeply

          nested objects.'
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Nested attributes to exclude. Excluded objects will return only the href

          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply

          nested objects.'
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VrfRouteCreateInput'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VrfRoute'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable entity
      summary: Create a VRF route
      tags:
      - VRFs
components:
  schemas:
    Project:
      example:
        devices:
        - href: href
        - href: href
        volumes:
        - href: href
        - href: href
        created_at: 2000-01-23 04:56:07+00:00
        type: null
        memberships:
        - href: href
        - href: href
        bgp_config:
          href: href
        tags:
        - tags
        - tags
        max_devices: '{}'
        ssh_keys:
        - href: href
        - href: href
        updated_at: 2000-01-23 04:56:07+00:00
        invitations:
        - href: href
        - href: href
        members:
        - href: href
        - href: href
        organization:
          website: website
          address:
            country: country
            address: address
            address2: address2
            city: city
            coordinates:
              latitude: latitude
              longitude: longitude
            state: state
            zip_code: zip_code
          projects:
          - href: href
          - href: href
          credit_amount: 1.4658129
          created_at: 2000-01-23 04:56:07+00:00
          description: description
          billing_address:
            country: country
            address: address
            address2: address2
            city: city
            coordinates:
              latitude: latitude
              longitude: longitude
            state: state
            zip_code: zip_code
          memberships:
          - href: href
          - href: href
          enforce_2fa_at: 2000-01-23 04:56:07+00:00
          twitter: twitter
          updated_at: 2000-01-23 04:56:07+00:00
          terms: 5
          members:
          - href: href
          - href: href
          name: name
          logo: logo
          customdata: '{}'
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        name: name
        network_status: '{}'
        customdata: '{}'
        href: href
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        payment_method:
          href: href
      properties:
        bgp_config:
          $ref: '#/components/schemas/Href'
        created_at:
          format: date-time
          type: string
        customdata:
          type: object
        devices:
          items:
            $ref: '#/components/schemas/Href'
          type: array
        href:
          type: string
        id:
          format: uuid
          type: string
        invitations:
          items:
            $ref: '#/components/schemas/Href'
          type: array
        max_devices:
          type: object
        members:
          items:
            $ref: '#/components/schemas/Href'
          type: array
        memberships:
          items:
            $ref: '#/components/schemas/Href'
          type: array
        name:
          description: The name of the project. Cannot contain characters encoded in greater than 3 bytes such as emojis.
          maxLength: 80
          minLength: 1
          type: string
        network_status:
          type: object
        organization:
          $ref: '#/components/schemas/Organization'
        payment_method:
          $ref: '#/components/schemas/Href'
        ssh_keys:
          items:
            $ref: '#/components/schemas/Href'
          type: array
        updated_at:
          format: date-time
          type: string
        volumes:
          items:
            $ref: '#/components/schemas/Href'
          type: array
        type:
          $ref: '#/components/schemas/Project_type'
        tags:
          items:
            type: string
          type: array
      type: object
    VrfVirtualCircuit:
      example:
        subnet: 12.0.0.0/30
        customer_ip: 12.0.0.2
        description: description
        project:
          href: href
        created_at: 2000-01-23 04:56:07+00:00
        vrf: null
        type: null
        metal_ip: 12.0.0.1
        speed: 9
        tags:
        - tags
        - tags
        nni_vlan: 2
        updated_at: 2000-01-23 04:56:07+00:00
        port:
          href: href
        name: name
        peer_asn: 7
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        md5: md5
        status: null
      properties:
        customer_ip:
          description: An IP address from the subnet that will be used on the Customer side. This parameter is optional, but if supplied, we will use the other usable IP address in the subnet as the Metal IP. By default, the last usable IP address in the subnet will be used.
          example: 12.0.0.2
          type: string
        description:
          type: string
        id:
          format: uuid
          type: string
        md5:
          description: The MD5 password for the BGP peering in plaintext (not a checksum).
          type: string
        metal_ip:
          description: An IP address from the subnet that will be used on the Metal side. This parameter is optional, but if supplied, we will use the other usable IP address in the subnet as the Customer IP. By default, the first usable IP address in the subnet will be used.
          example: 12.0.0.1
          type: string
        name:
          type: string
        port:
          $ref: '#/components/schemas/Href'
        nni_vlan:
          type: integer
        peer_asn:
          description: The peer ASN that will be used with the VRF on the Virtual Circuit.
          type: integer
        project:
          $ref: '#/components/schemas/Href'
        speed:
          description: integer representing bps speed
          type: integer
        status:
          $ref: '#/components/schemas/VrfVirtualCircuit_status'
        subnet:
          description: The /30 or /31 subnet of one of the VRF IP Blocks that will be used with the VRF for the Virtual Circuit. This subnet does not have to be an existing VRF IP reservation, as we will create the VRF IP reservation on creation if it does not exist. The Metal IP and Customer IP must be IPs from this subnet. For /30 subnets, the network and broadcast IPs cannot be used as the Metal or Customer IP.
          example: 12.0.0.0/30
          type: string
        tags:
          items:
            type: string
          type: array
        type:
          $ref: '#/components/schemas/VrfIpReservation_type'
        vrf:
          $ref: '#/components/schemas/Vrf'
        created_at:
          format: date-time
          type: string
        updated_at:
          format: date-time
          type: string
      required:
      - vrf
      type: object
    VrfRoute_type:
      description: VRF route type, like 'bgp', 'connected', and 'static'. Currently, only static routes are supported
      enum:
      - static
      example: static
      readOnly: true
      type: string
    Address:
      example:
        country: country
        address: address
        address2: address2
        city: city
        coordinates:
          latitude: latitude
          longitude: longitude
        state: state
        zip_code: zip_code
      properties:
        address:
          type: string
        address2:
          type: string
        city:
          type: string
        coordinates:
          $ref: '#/components/schemas/Coordinates'
        country:
          type: string
        state:
          type: string
        zip_code:
          type: string
      required:
      - address
      - country
      - zip_code
      type: object
    MetalGateway_state:
      description: The current state of the Metal Gateway. 'Ready' indicates the gateway record has been configured, but is currently not active on the network. 'Active' indicates the gateway has been configured on the network. 'Deleting' is a temporary state used to indicate that the gateway is in the process of being un-configured from the network, after which the gateway record will be deleted.
      enum:
      - ready
      - active
      - deleting
      type: string
    VirtualNetwork:
      example:
        vxlan: 4
        instances:
        - href: href
        - href: href
        description: description
        created_at: 2000-01-23 04:56:07+00:00
        assigned_to_virtual_circuit: true
        tags:
        - tags
        - tags
        metal_gateways:
        - gateway_address: 10.1.2.1/27
          updated_at: 2000-01-23 04:56:07+00:00
          vlan: 1001
          created_at: 2000-01-23 04:56:07+00:00
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
        - gateway_address: 10.1.2.1/27
          updated_at: 2000-01-23 04:56:07+00:00
          vlan: 1001
          created_at: 2000-01-23 04:56:07+00:00
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
        metro_code: metro_code
        metro:
          href: href
        href: href
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        facility:
          href: href
        assigned_to:
          href: href
      properties:
        assigned_to:
          $ref: '#/components/schemas/Href'
        assigned_to_virtual_circuit:
          description: True if the virtual network is attached to a virtual circuit. False if not.
          type: boolean
        description:
          type: string
        facility:
          $ref: '#/components/schemas/Href'
        href:
          type: string
        created_at:
          format: date-time
          type: string
        id:
          format: uuid
          type: string
        instances:
          description: A list of instances with ports currently associated to this Virtual Network.
          items:
            $ref: '#/components/schemas/Href'
          type: array
        metal_gateways:
          description: A list of metal gateways currently associated to this Virtual Network.
          items:
            $ref: '#/components/schemas/MetalGatewayLite'
          type: array
        metro:
          $ref: '#/components/schemas/Href'
        metro_code:
          description: The Metro code of the metro in which this Virtual Network is defined.
          type: string
        vxlan:
          type: integer
        tags:
          items:
            type: string
          type: array
      type: object
    Meta:
      example:
        next:
          href: href
        total: 0
        last:
          href: href
        previous:
          href: href
        last_page: 1
        self:
          href: href
        first:
          href: href
        current_page: 6
      properties:
        first:
          $ref: '#/components/schemas/Href'
        last:
          $ref: '#/components/schemas/Href'
        next:
          $ref: '#/components/schemas/Href'
        previous:
          $ref: '#/components/schemas/Href'
        self:
          $ref: '#/components/schemas/Href'
        total:
          type: integer
        current_page:
          type: integer
        last_page:
          type: integer
      type: object
    Error:
      description: Error responses are included with 4xx and 5xx HTTP responses from the API service. Either "error" or "errors" will be set.
      properties:
        error:
          description: A description of the error that caused the request to fail.
          type: string
        errors:
          description: A list of errors that contributed to the request failing.
          items:
            description: An error message that contributed to the request failing.
            type: string
          type: array
      type: object
    VrfMetalGateway:
      example:
        virtual_network:
          vxlan: 4
          instances:
          - href: href
          - href: href
          description: description
          created_at: 2000-01-23 04:56:07+00:00
          assigned_to_virtual_circuit: true
          tags:
          - tags
          - tags
          metal_gateways:
          - gateway_address: 10.1.2.1/27
            updated_at: 2000-01-23 04:56:07+00:00
            vlan: 1001
            created_at: 2000-01-23 04:56:07+00:00
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: null
          - gateway_address: 10.1.2.1/27
            updated_at: 2000-01-23 04:56:07+00:00
            vlan: 1001
            created_at: 2000-01-23 04:56:07+00:00
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: null
          metro_code: metro_code
          metro:
            href: href
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          facility:
            href: href
          assigned_to:
            href: href
        updated_at: 2000-01-23 04:56:07+00:00
        ip_reservation:
          address: address
          created_at: 2000-01-23 04:56:07+00:00
          project:
            devices:
            - href: href
            - href: href
            volumes:
            - href: href
            - href: href
            created_at: 2000-01-23 04:56:07+00:00
            type: null
            memberships:
            - href: href
            - href: href
            bgp_config:
              href: href
            tags:
            - tags
            - tags
            max_devices: '{}'
            ssh_keys:
            - href: href
            - href: href
            updated_at: 2000-01-23 04:56:07+00:00
            invitations:
            - href: href
            - href: href
            members:
            - href: href
            - href: href
            organization:
              website: website
              address:
                country: country
                address: address
                address2: address2
                city: city
                coordinates:
                  latitude: latitude
                  longitude: longitude
                state: state
                zip_code: zip_code
              projects:
              - href: href
              - href: href
              credit_amount: 1.4658129
              created_at: 2000-01-23 04:56:07+00:00
              description: description
              billing_address:
                country: country
                address: address
                address2: address2
                city: city
                coordinates:
                  latitude: latitude
                  longitude: longitude
                state: state
                zip_code: zip_code
              memberships:
              - href: href
              - href: href
              enforce_2fa_at: 2000-01-23 04:56:07+00:00
              twitter: twitter
              updated_at: 2000-01-23 04:56:07+00:00
              terms: 5
              members:
              - href: href
              - href: href
              name: name
              logo: logo
              customdata: '{}'
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            name: name
            network_status: '{}'
            customdata: '{}'
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            payment_method:
              href: href
          bill: true
          project_lite:
            devices:
            - href: href
            - href: href
            volumes:
            - href: href
            - href: href
            created_at: 2000-01-23 04:56:07+00:00
            type: null
            memberships:
            - href: href
            - href: href
            bgp_config:
              href: href
            tags:
            - tags
            - tags
            max_devices: '{}'
            ssh_keys:
            - href: href
            - href: href
            updated_at: 2000-01-23 04:56:07+00:00
            invitations:
            - href: href
            - href: href
            members:
            - href: href
            - href: href
            organization:
              website: website
              address:
                country: country
                address: address
                address2: address2
                city: city
                coordinates:
                  latitude: latitude
                  longitude: longitude
                state: state
                zip_code: zip_code
              projects:
              - href: href
              - href: href
              credit_amount: 1.4658129
              created_at: 2000-01-23 04:56:07+00:00
              description: description
              billing_address:
                country: country
                address: address
                address2: address2
                city: city
                coordinates:
                  latitude: latitude
                  longitude: longitude
                state: state
                zip_code: zip_code
              memberships:
              - href: href
              - href: href
              enforce_2fa_at: 2000-01-23 04:56:07+00:00
              twitter: twitter
              updated_at: 2000-01-23 04:56:07+00:00
              terms: 5
              members:
              - href: href
              - href: href
              name: name
              logo: logo
              customdata: '{}'
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            name: name
            network_status: '{}'
            customdata: '{}'
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            payment_method:
              href: href
          vrf:
            bgp_dynamic_neighbors_export_route_map: true
            bgp_dynamic_neighbors_bfd_enabled: true
            local_asn: 5
            description: description
            bill: false
            bgp_dynamic_neighbors_enabled: true
            project:
              devices:
              - href: href
              - href: href
              volumes:
              - href: href
              - href: href
              created_at: 2000-01-23 04:56:07+00:00
              type: null
              memberships:
              - href: href
              - href: href
              bgp_config:
                href: href
              tags:
              - tags
              - tags
              max_devices: '{}'
              ssh_keys:
              - href: href
              - href: href
              updated_at: 2000-01-23 04:56:07+00:00
              invitations:
              - href: href
              - href: href
              members:
              - href: href
              - href: href
              organization:
                website: website
                address:
                  country: country
                  address: address
                  address2: address2
                  city: city
                  coordinates:
                    latitude: latitude
                    longitude: longitude
                  state: state
                  zip_code: zip_code
                projects:
                - href: href
                - href: href
                credit_amount: 1.4658129
                created_at: 2000-01-23 04:56:07+00:00
                description: description
                billing_address:
                  country: country
                  address: address
                  address2: address2
                  city: city
                  coordinates:
                    latitude: latitude
                    longitude: longitude
                  state: state
                  zip_code: zip_code
                memberships:
                - href: href
                - href: href
                enforce_2fa_at: 2000-01-23 04:56:07+00:00
                twitter: twitter
                updated_at: 2000-01-23 04:56:07+00:00
                terms: 5
                members:
                - href: href
                - href: href
                name: name
                logo: logo
                customdata: '{}'
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              name: name
              network_status: '{}'
              customdata: '{}'
              href: href
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              payment_method:
                href: href
            created_at: 2000-01-23 04:56:07+00:00
            created_by:
              avatar_thumb_url: avatar_thumb_url
              last_login_at: 2000-01-23 04:56:07+00:00
              max_projects: 2
              timezone: timezone
              default_project_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              created_at: 2000-01-23 04:56:07+00:00
              last_name: last_name
              short_id: short_id
              fraud_score: fraud_score
              emails:
              - href: href
              - href: href
              default_organization_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              full_name: full_name
              avatar_url: avatar_url
              updated_at: 2000-01-23 04:56:07+00:00
              phone_number: phone_number
              customdata: '{}'
              href: href
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              first_name: first_name
              max_organizations: 3
              two_factor_auth: two_factor_auth
              email: email
            tags:
            - tags
            - tags
            updated_at: 2000-01-23 04:56:07+00:00
            virtual_circuits:
            - subnet: 12.0.0.0/30
              customer_ip: 12.0.0.2
              description: description
              project:
                href: href
              created_at: 2000-01-23 04:56:07+00:00
              vrf: null
              type: null
              metal_ip: 12.0.0.1
              speed: 9
              tags:
              - tags
              - tags
              nni_vlan: 2
              updated_at: 2000-01-23 04:56:07+00:00
              port:
                href: href
              name: name
              peer_asn: 7
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              md5: md5
              status: null
            - subnet: 12.0.0.0/30
              customer_ip: 12.0.0.2
              description: description
              project:
                href: href
              created_at: 2000-01-23 04:56:07+00:00
              vrf: null
              type: null
              metal_ip: 12.0.0.1
              speed: 9
              tags:
              - tags
              - tags
              nni_vlan: 2
              updated_at: 2000-01-23 04:56:07+00:00
              port:
                href: href
              name: name
              peer_asn: 7
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              md5: md5
              status: null
            ip_ranges:
            - ip_ranges
            - ip_ranges
            metro:
              country: country
              code: code
              name: name
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            name: name
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            href: href
          type: null
          created_by:
            href: href
          network: network
          tags:
          - tags
          - tags
          manageable: true
          metal_gateway:
            gateway_address: 10.1.2.1/27
            updated_at: 2000-01-23 04:56:07+00:00
            vlan: 1001
            created_at: 2000-01-23 04:56:07+00:00
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: null
          address_family: 0
          public: true
          netmask: netmask
          management: true
          metro:
            country: country
            code: code
            name: name
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          cidr: 6
          details: details
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: state
          customdata: '{}'
          gateway: gateway
        created_at: 2000-01-23 04:56:07+00:00
        project:
          devices:
          - href: href
          - href: href
          volumes:
          - href: href
          - href: href
          created_at: 2000-01-23 04:56:07+00:00
          type: null
          memberships:
          - href: href
          - href: href
          bgp_config:
            href: href
          tags:
          - tags
          - tags
          max_devices: '{}'
          ssh_keys:
          - href: href
          - href: href
          updated_at: 2000-01-23 04:56:07+00:00
          invitations:
          - href: href
          - href: href
          members:
          - href: href
          - href: href
          organization:
            website: website
            address:
              country: country
              address: address
              address2: address2
              city: city
              coordinates:
                latitude: latitude
                longitude: longitude
              state: state
              zip_code: zip_code
            projects:
            - href: href
            - href: href
            credit_amount: 1.4658129
            created_at: 2000-01-23 04:56:07+00:00
            description: description
            billing_address:
              country: country
              address: address
              address2: address2
              city: city
              coordinates:
                latitude: latitude
                longitude: longitude
              state: state
              zip_code: zip_code
            memberships:
            - href: href
            - href: href
            enforce_2fa_at: 2000-01-23 04:56:07+00:00
            twitter: twitter
            updated_at: 2000-01-23 04:56:07+00:00
            terms: 5
            members:
            - href: href
            - href: href
            name: name
            logo: logo
            customdata: '{}'
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          name: name
          network_status: '{}'
          customdata: '{}'
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          payment_method:
            href: href
        href: href
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        state: null
        vrf:
          bgp_dynamic_neighbors_export_route_map: true
          bgp_dynamic_neighbors_bfd_enabled: true
          local_asn: 5
          description: description
          bill: false
          bgp_dynamic_neighbors_enabled: true
          project:
            devices:
            - href: href
            - href: href
            volumes:
            - href: href
            - href: href
            created_at: 2000-01-23 04:56:07+00:00
            type: null
            memberships:
            - href: href
            - href: href
            bgp_config:
              href: href
            tags:
            - tags
            - tags
            max_devices: '{}'
            ssh_keys:
            - href: href
            - href: href
            updated_at: 2000-01-23 04:56:07+00:00
            invitations:
            - href: href
            - href: href
            members:
            - href: href
            - href: href
            organization:
              website: website
              address:
                country: country
                address: address
                address2: address2
                city: city
                coordinates:
                  latitude: latitude
                  longitude: longitude
                state: state
                zip_code: zip_code
              projects:
              - href: href
              - href: href
              credit_amount: 1.4658129
              created_at: 2000-01-23 04:56:07+00:00
              description: description
              billing_address:
                country: country
                address: address
                address2: address2
                city: city
                coordinates:
                  latitude: latitude
                  longitude: longitude
                state: state
                zip_code: zip_code
              memberships:
              - href: href
              - href: href
              enforce_2fa_at: 2000-01-23 04:56:07+00:00
              twitter: twitter
              updated_at: 2000-01-23 04:56:07+00:00
              terms: 5
              members:
              - href: href
              - href: href
              name: name
              logo: logo
              customdata: '{}'
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            name: name
            network_status: '{}'
            customdata: '{}'
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            payment_method:
              href: href
          created_at: 2000-01-23 04:56:07+00:00
          created_by:
            avatar_thumb_url: avatar_thumb_url
            last_login_at: 2000-01-23 04:56:07+00:00
            max_projects: 2
            timezone: timezone
            default_project_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            created_at: 2000-01-23 04:56:07+00:00
            last_name: last_name
            short_id: short_id
            fraud_score: fraud_score
            emails:
            - href: href
            - href: href
            default_organization_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            full_name: full_name
            avatar_url: avatar_url
            updated_at: 2000-01-23 04:56:07+00:00
            phone_number: phone_number
            customdata: '{}'
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            first_name: first_name
            max_organizations: 3
            two_factor_auth: two_factor_auth
            email: email
          tags:
          - tags
          - tags
          updated_at: 2000-01-23 04:56:07+00:00
          virtual_circuits:
          - subnet: 12.0.0.0/30
            customer_ip: 12.0.0.2
            description: description
            project:
              href: href
            created_at: 2000-01-23 04:56:07+00:00
            vrf: null
            type: null
            metal_ip: 12.0.0.1
            speed: 9
            tags:
            - tags
            - tags
            nni_vlan: 2
            updated_at: 2000-01-23 04:56:07+00:00
            port:
              href: href
            name: name
            peer_asn: 7
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            md5: md5
            status: null
          - subnet: 12.0.0.0/30
            customer_ip: 12.0.0.2
            description: description
            project:
              href: href
            created_at: 2000-01-23 04:56:07+00:00
            vrf: null
            type: null
            metal_ip: 12.0.0.1
            speed: 9
            tags:
            - tags
            - tags
            nni_vlan: 2
            updated_at: 2000-01-23 04:56:07+00:00
            port:
              href: href
            name: name
            peer_asn: 7
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            md5: md5
            status: null
          ip_ranges:
          - ip_ranges
          - ip_ranges
          metro:
            country: country
            code: code
            name: name
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          href: href
        created_by:
          href: href
      properties:
        created_at:
          format: date-time
          type: string
        created_by:
          $ref: '#/components/schemas/Href'
        href:
          type: string
        id:
          format: uuid
          type: string
        ip_reservation:
          $ref: '#/components/schemas/VrfIpReservation'
        project:
          $ref: '#/components/schemas/Project'
        state:
          $ref: '#/components/schemas/MetalGateway_state'
        updated_at:
          format: date-time
          type: string
        virtual_network:
          $ref: '#/components/schemas/VirtualNetwork'
        vrf:
          $ref: '#/components/schemas/Vrf'
      type: object
    BgpDynamicNeighborCreateInput:
      example:
        bgp_neighbor_asn: 12345
        bgp_neighbor_range: 192.168.1.0/25
        tags:
        - tags
        - tags
      properties:
        bgp_neighbor_range:
          description: Network range of the dynamic BGP neighbor in CIDR format
          example: 192.168.1.0/25
          type: string
        bgp_neighbor_asn:
          description: The ASN of the dynamic BGP neighbor
          example: 12345
          type: integer
        tags:
          items:
            type: string
          type: array
      required:
      - bgp_neighbor_asn
      - bgp_neighbor_range
      type: object
    VrfIpReservation:
      example:
        address: address
        created_at: 2000-01-23 04:56:07+00:00
        project:
          devices:
          - href: href
          - href: href
          volumes:
          - href: href
          - href: href
          created_at: 2000-01-23 04:56:07+00:00
          type: null
          memberships:
          - href: href
          - href: href
          bgp_config:
            href: href
          tags:
          - tags
          - tags
          max_devices: '{}'
          ssh_keys:
          - href: href
          - href: href
          updated_at: 2000-01-23 04:56:07+00:00
          invitations:
          - href: href
          - href: href
          members:
          - href: href
          - href: href
          organization:
            website: website
            address:
              country: country
              address: address
              address2: address2
              city: city
              coordinates:
                latitude: latitude
                longitude: longitude
              state: state
              zip_code: zip_code
            projects:
            - href: href
            - href: href
            credit_amount: 1.4658129
            created_at: 2000-01-23 04:56:07+00:00
            description: description
            billing_address:
              country: country
              address: address
              address2: address2
              city: city
              coordinates:
                latitude: latitude
                longitude: longitude
              state: state
              zip_code: zip_code
            memberships:
            - href: href
            - href: href
            enforce_2fa_at: 2000-01-23 04:56:07+00:00
            twitter: twitter
            updated_at: 2000-01-23 04:56:07+00:00
            terms: 5
            members:
            - href: href
            - href: href
            name: name
            logo: logo
            customdata: '{}'
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          name: name
          network_status: '{}'
          customdata: '{}'
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          payment_method:
            href: href
        bill: true
        project_lite:
          devices:
          - href: href
          - href: href
          volumes:
          - href: href
          - href: href
          created_at: 2000-01-23 04:56:07+00:00
          type: null
          memberships:
          - href: href
          - href: href
          bgp_config:
            href: href
          tags:
          - tags
          - tags
          max_devices: '{}'
          ssh_keys:
          - href: href
          - href: href
          updated_at: 2000-01-23 04:56:07+00:00
          invitations:
          - href: href
          - href: href
          members:
          - href: href
          - href: href
          organization:
            website: website
            address:
              country: country
              address: address
              address2: address2
              city: city
              coordinates:
                latitude: latitude
                longitude: longitude
              state: state
              zip_code: zip_code
            projects:
            - href: href
            - href: href
            credit_amount: 1.4658129
            created_at: 2000-01-23 04:56:07+00:00
            description: description
            billing_address:
              country: country
              address: address
              address2: address2
              city: city
              coordinates:
                latitude: latitude
                longitude: longitude
              state: state
              zip_code: zip_code
            memberships:
            - href: href
            - href: href
            enforce_2fa_at: 2000-01-23 04:56:07+00:00
            twitter: twitter
            updated_at: 2000-01-23 04:56:07+00:00
            terms: 5
            members:
            - href: href
            - href: href
            name: name
            logo: logo
            customdata: '{}'
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          name: name
          network_status: '{}'
          customdata: '{}'
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          payment_method:
            href: href
        vrf:
          bgp_dynamic_neighbors_export_route_map: true
          bgp_dynamic_neighbors_bfd_enabled: true
          local_asn: 5
          description: description
          bill: false
          bgp_dynamic_neighbors_enabled: true
          project:
            devices:
            - href: href
            - href: href
            volumes:
            - href: href
            - href: href
            created_at: 2000-01-23 04:56:07+00:00
            type: null
            memberships:
            - href: href
            - href: href
            bgp_config:
              href: href
            tags:
            - tags
            - tags
            max_devices: '{}'
            ssh_keys:
            - href: href
            - href: href
            updated_at: 2000-01-23 04:56:07+00:00
            invitations:
            - href: href
            - href: href
            members:
            - href: href
            - href: href
            organization:
              website: website
              address:
                country: country
                address: address
                address2: address2
                city: city
                coordinates:
                  latitude: latitude
                  longitude: longitude
                state: state
                zip_code: zip_code
              projects:
              - href: href
              - href: href
              credit_amount: 1.4658129
              created_at: 2000-01-23 04:56:07+00:00
              description: description
              billing_address:
                country: country
                address: address
                address2: address2
                city: city
                coordinates:
                  latitude: latitude
                  longitude: longitude
                state: state
                zip_code: zip_code
              memberships:
              - href: href
              - href: href
              enforce_2fa_at: 2000-01-23 04:56:07+00:00
              twitter: twitter
              updated_at: 2000-01-23 04:56:07+00:00
              terms: 5
              members:
              - href: href
              - href: href
              name: name
              logo: logo
              customdata: '{}'
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            name: name
            network_status: '{}'
            customdata: '{}'
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            payment_method:
              href: href
          created_at: 2000-01-23 04:56:07+00:00
          created_by:
            avatar_thumb_url: avatar_thumb_url
            last_login_at: 2000-01-23 04:56:07+00:00
            max_projects: 2
            timezone: timezone
            default_project_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            created_at: 2000-01-23 04:56:07+00:00
            last_name: last_name
            short_id: short_id
            fraud_score: fraud_score
            emails:
            - href: href
            - href: href
            default_organization_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            full_name: full_name
            avatar_url: avatar_url
            updated_at: 2000-01-23 04:56:07+00:00
            phone_number: phone_number
            customdata: '{}'
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            first_name: first_name
            max_organizations: 3
            two_factor_auth: two_factor_auth
            email: email
          tags:
          - tags
          - tags
          updated_at: 2000-01-23 04:56:07+00:00
          virtual_circuits:
          - subnet: 12.0.0.0/30
            customer_ip: 12.0.0.2
            description: description
            project:
              href: href
            created_at: 2000-01-23 04:56:07+00:00
            vrf: null
            type: null
            metal_ip: 12.0.0.1
            speed: 9
            tags:
            - tags
            - tags
            nni_vlan: 2
            updated_at: 2000-01-23 04:56:07+00:00
            port:
              href: href
            name: name
            peer_asn: 7
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            md5: md5
            status: null
          - subnet: 12.0.0.0/30
            customer_ip: 12.0.0.2
            description: description
            project:
              href: href
            created_at: 2000-01-23 04:56:07+00:00
            vrf: null
            type: null
            metal_ip: 12.0.0.1
            speed: 9
            tags:
            - tags
            - tags
            nni_vlan: 2
            updated_at: 2000-01-23 04:56:07+00:00
            port:
              href: href
            name: name
            peer_asn: 7
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            md5: md5
            status: null
          ip_ranges:
          - ip_ranges
          - ip_ranges
          metro:
            country: country
            code: code
            name: name
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          href: href
        type: null
        created_by:
          href: href
        network: network
        tags:
        - tags
        - tags
        manageable: true
        metal_gateway:
          gateway_address: 10.1.2.1/27
          updated_at: 2000-01-23 04:56:07+00:00
          vlan: 1001
          created_at: 2000-01-23 04:56:07+00:00
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          state: null
        address_family: 0
        public: true
        netmask: netmask
        management: true
        metro:
          country: country
          code: code
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        cidr: 6
        details: details
        href: href
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        state: state
        customdata: '{}'
        gateway: gateway
      properties:
        address_family:
          type: integer
        cidr:
          type: integer
        created_at:
          format: date-time
          type: string
        created_by:
          $ref: '#/components/schemas/Href'
        details:
          type: string
        href:
          type: string
        id:
          format: uuid
          type: string
        metal_gateway:
          $ref: '#/components/schemas/MetalGatewayLite'
        netmask:
          type: string
        network:
          type: string
        project:
          $ref: '#/components/schemas/Project'
        state:
          type: string
        tags:
          items:
            type: string
          type: array
        type:
          $ref: '#/components/schemas/VrfIpReservation_type'
        vrf:
          $ref: '#/components/schemas/Vrf'
        public:
          type: boolean
        management:
          type: boolean
        manageable:
          type: boolean
        customdata:
          type: object
        bill:
          type: boolean
        project_lite:
          $ref: '#/components/schemas/Project'
        address:
          type: string
        gateway:
          type: string
        metro:
          $ref: '#/components/schemas/Metro'
      required:
      - type
      - vrf
      type: object
    VrfRouteList:
      example:
        routes:
        - metal_gateway:
            virtual_network:
              vxlan: 4
              instances:
              - href: href
              - href: href
              description: description
              created_at: 2000-01-23 04:56:07+00:00
              assigned_to_virtual_circuit: true
              tags:
              - tags
              - tags
              metal_gateways:
              - gateway_address: 10.1.2.1/27
                updated_at: 2000-01-23 04:56:07+00:00
                vlan: 1001
                created_at: 2000-01-23 04:56:07+00:00
                href: href
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                state: null
              - gateway_address: 10.1.2.1/27
                updated_at: 2000-01-23 04:56:07+00:00
                vlan: 1001
                created_at: 2000-01-23 04:56:07+00:00
                href: href
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                state: null
              metro_code: metro_code
              metro:
                href: href
              href: href
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              facility:
                href: href
              assigned_to:
                href: href
            updated_at: 2000-01-23 04:56:07+00:00
            ip_reservation:
              address: address
              created_at: 2000-01-23 04:56:07+00:00
              project:
                devices:
                - href: href
                - href: href
                volumes:
                - href: href
                - href: href
                created_at: 2000-01-23 04:56:07+00:00
                type: null
                memberships:
                - href: href
                - href: href
                bgp_config:
                  href: href
                tags:
                - tags
                - tags
                max_devices: '{}'
                ssh_keys:
                - href: href
                - href: href
                updated_at: 2000-01-23 04:56:07+00:00
                invitations:
                - href: href
                - href: href
                members:
                - href: href
                - href: href
                organization:
                  website: website
                  address:
                    country: country
                    address: address
                    address2: address2
                    city: city
                    coordinates:
                      latitude: latitude
                      longitude: longitude
                    state: state
                    zip_code: zip_code
                  projects:
                  - href: href
                  - href: href
                  credit_amount: 1.4658129
                  created_at: 2000-01-23 04:56:07+00:00
                  description: description
                  billing_address:
                    country: country
                    address: address
                    address2: address2
                    city: city
                    coordinates:
                      latitude: latitude
                      longitude: longitude
                    state: state
                    zip_code: zip_code
                  memberships:
                  - href: href
                  - href: href
                  enforce_2fa_at: 2000-01-23 04:56:07+00:00
                  twitter: twitter
                  updated_at: 2000-01-23 04:56:07+00:00
                  terms: 5
                  members:
                  - href: href
                  - href: href
                  name: name
                  logo: logo
                  customdata: '{}'
                  id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                name: name
                network_status: '{}'
                customdata: '{}'
                href: href
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                payment_method:
                  href: href
              bill: true
              project_lite:
                devices:
                - href: href
                - href: href
                volumes:
                - href: href
                - href: href
                created_at: 2000-01-23 04:56:07+00:00
                type: null
                memberships:
                - href: href
                - href: href
                bgp_config:
                  href: href
                tags:
                - tags
                - tags
                max_devices: '{}'
                ssh_keys:
                - href: href
                - href: href
                updated_at: 2000-01-23 04:56:07+00:00
                invitations:
                - href: href
                - href: href
                members:
                - href: href
                - href: href
                organization:
                  website: website
                  address:
                    country: country
                    address: address
                    address2: address2
                    city: city
                    coordinates:
                      latitude: latitude
                      longitude: longitude
                    state: state
                    zip_code: zip_code
                  projects:
                  - href: href
                  - href: href
                  credit_amount: 1.4658129
                  created_at: 2000-01-23 04:56:07+00:00
                  description: description
                  billing_address:
                    country: country
                    address: address
                    address2: address2
                    city: city
                    coordinates:
                      latitude: latitude
                      longitude: longitude
                    state: state
                    zip_code: zip_code
                  memberships:
                  - href: href
                  - href: href
                  enforce_2fa_at: 2000-01-23 04:56:07+00:00
                  twitter: twitter
                  updated_at: 2000-01-23 04:56:07+00:00
                  terms: 5
                  members:
                  - href: href
                  - href: href
                  name: name
                  logo: logo
                  customdata: '{}'
                  id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                name: name
                network_status: '{}'
                customdata: '{}'
                href: href
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                payment_method:
                  href: href
              vrf:
                bgp_dynamic_neighbors_export_route_map: true
                bgp_dynamic_neighbors_bfd_enabled: true
                local_asn: 5
                description: description
                bill: false
                bgp_dynamic_neighbors_enabled: true
                project:
                  devices:
                  - href: href
                  - href: href
                  volumes:
                  - href: href
                  - href: href
                  created_at: 2000-01-23 04:56:07+00:00
                  type: null
                  memberships:
                  - href: href
                  - href: href
                  bgp_config:
                    href: href
                  tags:
                  - tags
                  - tags
                  max_devices: '{}'
                  ssh_keys:
                  - href: href
                  - href: href
                  updated_at: 2000-01-23 04:56:07+00:00
                  invitations:
                  - href: href
                  - href: href
                  members:
                  - href: href
                  - href: href
                  organization:
                    website: website
                    address:
                      country: country
                      address: address
                      address2: address2
                      city: city
                      coordinates:
                        latitude: latitude
                        longitude: longitude
                      state: state
                      zip_code: zip_code
                    projects:
                    - href: href
                    - href: href
                    credit_amount: 1.4658129
                    created_at: 2000-01-23 04:56:07+00:00
                    description: description
                    billing_address:
                      country: country
                      address: address
                      address2: address2
                      city: city
                      coordinates:
                        latitude: latitude
                        longitude: longitude
                      state: state
                      zip_code: zip_code
                    memberships:
                    - href: href
                    - href: href
                    enforce_2fa_at: 2000-01-23 04:56:07+00:00
                    twitter: twitter
                    updated_at: 2000-01-23 04:56:07+00:00
                    terms: 5
                    members:
                    - href: href
                    - href: href
                    name: name
                    logo: logo
                    customdata: '{}'
                    id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  name: name
                  network_status: '{}'
                  customdata: '{}'
                  href: href
                  id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  payment_method:
                    href: href
                created_at: 2000-01-23 04:56:07+00:00
                created_by:
                  avatar_thumb_url: avatar_thumb_url
                  last_login_at: 2000-01-23 04:56:07+00:00
                  max_projects: 2
                  timezone: timezone
                  default_project_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  created_at: 2000-01-23 04:56:07+00:00
                  last_name: last_name
                  short_id: short_id
                  fraud_score: fraud_score
                  emails:
                  - href: href
                  - href: href
                  default_organization_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  full_name: full_name
                  avatar_url: avatar_url
                  updated_at: 2000-01-23 04:56:07+00:00
                  phone_number: phone_number
                  customdata: '{}'
                  href: href
                  id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  first_name: first_name
                  max_organizations: 3
                  two_factor_auth: two_factor_auth
                  email: email
                tags:
                - tags
                - tags
                updated_at: 2000-01-23 04:56:07+00:00
                virtual_circuits:
                - subnet: 12.0.0.0/30
                  customer_ip: 12.0.0.2
                  description: description
                  project:
                    href: href
                  created_at: 2000-01-23 04:56:07+00:00
                  vrf: null
                  type: null
                  metal_ip: 12.0.0.1
                  speed: 9
                  tags:
                  - tags
                  - tags
                  nni_vlan: 2
                  updated_at: 2000-01-23 04:56:07+00:00
                  port:
                    href: href
                  name: name
                  peer_asn: 7
                  id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  md5: md5
                  status: null
                - subnet: 12.0.0.0/30
                  customer_ip: 12.0.0.2
                  description: description
                  project:
                    href: href
                  created_at: 2000-01-23 04:56:07+00:00
                  vrf: null
                  type: null
                  metal_ip: 12.0.0.1
                  speed: 9
                  tags:
                  - tags
                  - tags
                  nni_vlan: 2
                  updated_at: 2000-01-23 04:56:07+00:00
                  port:
                    href: href
                  name: name
                  peer_asn: 7
                  id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                  md5: md5
                  status: null
                ip_ranges:
                - ip_ranges
                - ip_ranges
                metro:
                  country: country
                  code: code
                  name: name
                  id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                name: name
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                href: href
              type: null
              created_by:
                href: href
              network: network
              tags:
              - tags
              - tags
              manageable: true
              metal_gateway:
                gateway_address: 10.1.2.1/27
                updated_at: 2000-01-23 04:56:07+00:00
                vlan: 1001
                created_at: 2000-01-23 04:56:07+00:00
                href: href
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                state: null
              address_family: 0
              public: true
              netmask: netmask
              management: true
              metro:
                country: country
                code: code
                name: name
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              cidr: 6
              details: details
              href: href
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              state: state
              customdata: '{}'
              gateway: gateway
            created_at: 2000-01-23 04:56:07+00:00
            project:
              devices:
              - href: href
              - href: href
              volumes:
              - href: href
              - href: href
              created_at: 2000-01-23 04:56:07+00:00
              type: null
              memberships:
              - href: href
              - href: href
              bgp_config:
                href: href
              tags:
              - tags
              - tags
              max_devices: '{}'
              ssh_keys:
              - href: href
              - href: href
              updated_at: 2000-01-23 04:56:07+00:00
              invitations:
              - href: href
              - href: href
              members:
              - href: href
              - href: href
              organization:
                website: website
                address:
                  country: country
                  address: address
                  address2: address2
                  city: city
                  coordinates:
                    latitude: latitude
                    longitude: longitude
                  state: state
                  zip_code: zip_code
                projects:
                - href: href
                - href: href
                credit_amount: 1.4658129
                created_at: 2000-01-23 04:56:07+00:00
                description: description
                billing_address:
                  country: country
                  address: address
                  address2: address2
                  city: city
                  coordinates:
                    latitude: latitude
                    longitude: longitude
                  state: state
                  zip_code: zip_code
                memberships:
                - href: href
                - href: href
                enforce_2fa_at: 2000-01-23 04:56:07+00:00
                twitter: twitter
                updated_at: 2000-01-23 04:56:07+00:00
                terms: 5
                members:
                - href: href
                - href: href
                name: name
                logo: logo
                customdata: '{}'
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              name: name
              network_status: '{}'
              customdata: '{}'
              href: href
              id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              payment_method:
                href: href
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            state: null
            vrf:
              bgp_dynamic_neighbors_export_route_map: true
              bgp_dynamic_neighbors_bfd_enabled: true
              local_asn: 5
              description: description
              bill: false
              bgp_dynamic_neighbors_enabled: true
              project:
                devices:
                - href: href
                - href: href
                volumes:
                - href: href
                - href: href
                created_at: 2000-01-23 04:56:07+00:00
                type: null
                memberships:
                - href: href
                - href: href
                bgp_config:
                  href: href
                tags:
                - tags
                - tags
                max_devices: '{}'
                ssh_keys:
                - href: href
                - href: href
                updated_at: 2000-01-23 04:56:07+00:00
                invitations:
                - href: href
                - href: href
                members:
                - href: href
                - href: href
                organization:
                  website: website
                  address:
                    country: country
                    address: address
                    address2: address2
                    city: city
                    coordinates:
                      latitude: latitude
                      longitude: longitude
                    state: state
                    zip_code: zip_code
                  projects:
                  - href: href
                  - href: href
                  credit_amount: 1.4658129
                  created_at: 2000-01-23 04:56:07+00:00
                  description: description
                  billing_address:
                    country: country
                    address: address
                    address2: address2
                    city: city
                    coordinates:
                      latitude: latitude
                      longitude: longitude
                    state: state
                    zip_code: zip_code
                  memberships:
                  - href: href
                  - href: href
                  enforce_2fa_at: 2000-01-23 04:56:07+00:00
                  twitter: twitter
                  updated_at: 2000-01-23 04:56:07+00:00
                  terms: 5
                  members:
                  - href: href
                  - href: href
                  name: name
                  logo: logo
                  customdata: '{}'
                  id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                name: name
                network_status: '{}'
                customdata: '{}'
                href: href
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                payment_method:
                  href: href
              created_at: 2000-01-23 04:56:07+00:00
              created_by:
                avatar_thumb_url: avatar_thumb_url
                last_login_at: 2000-01-23 04:56:07+00:00
                max_projects: 2
                timezone: timezone
                default_project_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                created_at: 2000-01-23 04:56:07+00:00
                last_name: last_name
                short_id: short_id
                fraud_score: fraud_score
                emails:
                - href: href
                - href: href
                default_organization_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                full_name: full_name
                avatar_url: avatar_url
                updated_at: 2000-01-23 04:56:07+00:00
                phone_number: phone_number
                customdata: '{}'
                href: href
                id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
                first_name: first_name
                max_organizations: 3
                two_factor_auth: two_factor_auth
                email: email
              tags:
              - tags
              - tags
              updated_at: 2000-01-23 04:56:07+00:00
              virtual_circuits:
              - subnet: 12.0.0.0/30
                customer_ip: 12.0.0.2
                description: description
                project:
                  href: href
                created_at: 2000-01-23 04:56:07+00:00
                vrf: null
                type: null
[...]
